/* ------------------------------------------------------------------------------- Proxima */
@font-face {
  font-family: "proxima";
  src: url("../fonts/ProximaNovaBlack.otf");
  font-weight: 900;
}
@font-face {
  font-family: "proxima";
  src: url("../fonts/ProximaNovaExtrabold.otf");
  font-weight: 800;
}
@font-face {
  font-family: "proxima";
  src: url("../fonts/ProximaNovaBold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "proxima";
  src: url("../fonts/ProximaNovaSemibold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "proxima";
  src: url("../fonts/ProximaNovaRegular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "proxima";
  src: url("../fonts/ProximaNovaLight.otf");
  font-weight: 300;
}
@font-face {
  font-family: "proxima";
  src: url("../fonts/ProximaNovaThin.otf");
  font-weight: 300;
}
/* ------------------------------------------------------------------------------//Proxima */
/* -------------------------------------------------------------------------------- Muller */
@font-face {
  font-family: "muller";
  src: url("../fonts/MullerHairline.otf");
  font-weight: 100;
}
@font-face {
  font-family: "muller";
  src: url("../fonts/MullerThin.otf");
  font-weight: 200;
}
@font-face {
  font-family: "muller";
  src: url("../fonts/MullerUltraLight.otf");
  font-weight: 300;
}
@font-face {
  font-family: "muller";
  src: url("../fonts/MullerRegular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "muller";
  src: url("../fonts/MullerMedium.otf");
  font-weight: 600;
}
@font-face {
  font-family: "muller";
  src: url("../fonts/MullerBold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "muller";
  src: url("../fonts/MullerExtraBold.otf");
  font-weight: 800;
}
/* -------------------------------------------------------------------------------//Muller */
/* -------------------------------------------------------------------------------- Helios */
@font-face {
    font-family: "helios";
    src: url("../fonts/HeliosCondRegular/HeliosCondRegular.eot");
    src: url("../fonts/HeliosCondRegular/HeliosCondRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HeliosCondRegular/HeliosCondRegular.woff") format("woff"),
    url("../fonts/HeliosCondRegular/HeliosCondRegular.ttf") format("truetype");
}
@font-face {
    font-family: "helios";
    src: url("../fonts/HeliosCondBold/HeliosCondBold.eot");
    src: url("../fonts/HeliosCondBold/HeliosCondBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HeliosCondBold/HeliosCondBold.woff") format("woff"),
    url("../fonts/HeliosCondBold/HeliosCondBold.ttf") format("truetype");
    font-weight: 800;
}
/* -------------------------------------------------------------------------------//Helios */
