@charset "UTF-8";
@font-face {
	font-family: "HeliosCondRegular";
	src: url("../fonts/HeliosCondRegular/HeliosCondRegular.eot");
	src: url("../fonts/HeliosCondRegular/HeliosCondRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/HeliosCondRegular/HeliosCondRegular.woff") format("woff"),
	url("../fonts/HeliosCondRegular/HeliosCondRegular.ttf") format("truetype");
}
@font-face {
	font-family: "HeliosCondBold";
	src: url("../fonts/HeliosCondBold/HeliosCondBold.eot");
	src: url("../fonts/HeliosCondBold/HeliosCondBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/HeliosCondBold/HeliosCondBold.woff") format("woff"),
	url("../fonts/HeliosCondBold/HeliosCondBold.ttf") format("truetype");
	font-weight: 800;
}

/*
@font-face {
	font-family: 'Font Awesome 5 Free';
	font-style: normal;
	font-weight: 400;
	src: url('#{$fa-font-path}/fa-regular-400.eot');
	src: url('#{$fa-font-path}/fa-regular-400.eot?#iefix') format('embedded-opentype'),
	url('#{$fa-font-path}/fa-regular-400.woff2') format('woff2'),
	url('#{$fa-font-path}/fa-regular-400.woff') format('woff'),
	url('#{$fa-font-path}/fa-regular-400.ttf') format('truetype'),
	url('#{$fa-font-path}/fa-regular-400.svg#fontawesome') format('svg');
}
@font-face {
	font-family: 'Font Awesome 5 Free';
	font-style: normal;
	font-weight: 900;
	src: url('#{$fa-font-path}/fa-solid-900.eot');
	src: url('#{$fa-font-path}/fa-solid-900.eot?#iefix') format('embedded-opentype'),
	url('#{$fa-font-path}/fa-solid-900.woff2') format('woff2'),
	url('#{$fa-font-path}/fa-solid-900.woff') format('woff'),
	url('#{$fa-font-path}/fa-solid-900.ttf') format('truetype'),
	url('#{$fa-font-path}/fa-solid-900.svg#fontawesome') format('svg');
}
.fa,
.fas {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
}
.far {
	font-family: 'Font Awesome 5 Free';
	font-weight: 400;
}
*/

