$helios: "helios", Helvetica, Arial, sans-serif;


%flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
%ul{
  list-style: none;
  padding: 0;
  margin: 0;
}


//CUSTOM
$back:#222;
$white:#fff;
$fpurp:#2e3192;
$fblue:#00aeef;
