.modal-content{
  position: relative;
}
.subscrform{
  text-align: center;
  opacity: 1;
  overflow-x: auto ;
}

.subscrform h2 {
  color: $fblue;
  font-size:32px ;
  margin: 0.25em 0 0.25em;
}

.subscrform .checkboxrights{
  text-align: center;
  height:auto;
}
[type="checkbox"] + label:before,
[type="checkbox"]:not(.filled-in) + label:after,
[type="checkbox"]:checked + label:before{
  top:50%
}
[type="checkbox"] + label{
  height: auto;
}
.implabel{
  color: $fblue;
  display: inline-block;
  position: relative;
  line-height: 70px;
  height: 70px;
}
.buttonsend{
  margin: 10px 0;
}

/*

.photoform{
  max-width:650px;
  margin: 20px auto 0
}
.photoformabout{
  max-width:850px;
  margin: 6em auto 0
}


.textpopup{
  max-width: 800px;
  margin: 50px auto 0;
  height: 400px;
  text-align: left;

}
.textpopupabout{
  max-width: 850px;
  margin: 1.8em auto 0;
  height: 400px;
  text-align: center;
}
.implabel{
  color: $fblue;
  display: inline-block;
  position: relative;
  line-height: 70px;
  height: 70px;
}
.impnumb{width: 100%}
.subscrform input[type="text"]{
  width:100%;
  height:40px;
  margin: 3px 0;
  background:#fff;
  border: 1px solid #5a5a5a;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.subscrform input[type="text"]:focus{
  border: 1px solid $fpink;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.impyers{
  margin-top: 20px;
}


.buttonsend,.buttondownload {
  display: block;
  background: none;
  color: $fpink;
  border: 1px solid $fpink;
  text-transform: uppercase;
  height: 45px;
  width: 140px;
  margin: 20px auto 0;
  cursor: pointer;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;



}
.buttonsend:hover,
.buttondownload:hover{
  color: #fff;
  background: $fpink;
  webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}
#errortxtloginform,
#errortxtregform,
#errortxtresform{
  height: 40px;
  text-align: center;
}
#errortxtloginform span,
#errortxtregform span,
#errortxtresform span{
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  color: $fpink;
}
#errortxtregform span,
#errortxtresform span{
  line-height: 40px;
  background: #ec008c;


  display: block;
  width: 100%;

}

.warningfreezing .buttonsend{
  text-transform: uppercase;
  margin: 20px auto;
  background: #ffffff;
  color: #616161;
  display: block;
  font-size: 18px;
  transition:none;
  line-height: 40px;
  width: 120px;
}
.warningfreezing .buttonsend:hover{
  background: $fpink;
  color: #fff;
  border: 1px solid #fff;
}
*/