//@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic,cyrillic-ext,latin-ext);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@font-face {
  font-family: 'HeliosCondRegular';
  src: url('../fonts/HeliosCondRegular/HeliosCondRegular.eot');
  src: url('../fonts/HeliosCondRegular/HeliosCondRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HeliosCondRegular/HeliosCondRegular.woff') format('woff'),
    url('../fonts/HeliosCondRegular/HeliosCondRegular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Attentica4F';
  src: url('../fonts/Attentica/Attentica4F-UltraLight.eot');
  src: url('../fonts/Attentica/Attentica4F-UltraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Attentica/Attentica4F-UltraLight.woff') format('woff'),
  url('../fonts/Attentica/Attentica4F-UltraLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
