$Helios: "HeliosCondRegular", Helvetica, Arial, sans-serif;

html{
  font-family: $Helios;
  line-height: 1.2;
}
:focus{ outline: none !important;}

%flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
%ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.row{margin-bottom: 0}


//CUSTOM
$fblue:#00aeef;
$fpink:#ec008c;