@charset "UTF-8";
//sudo gem install sass
//sass --watch assets/css/style.scss:assets/css/style.css

@import "fonts";
@import "svg";
@import "mixins";
@import "normalize";


// Colors
@import "materialize/color";
// Variables;
@import "materialize/variables";
// Reset
//@import "materialize/normalize";
// components
@import "materialize/global";
//@import "materialize/badges";
@import "materialize/icons-material-design";
@import "materialize/grid";
//@import "materialize/navbar";
//@import "materialize/roboto";
@import "materialize/typography";
//@import "materialize/transitions";
//@import "materialize/cards";
//@import "materialize/toast";
//@import "materialize/tabs";
//@import "materialize/tooltip";
@import "materialize/buttons";
//@import "materialize/dropdown";
@import "materialize/waves";
@import "materialize/modal";
//@import "materialize/collapsible";
//@import "materialize/chips";
//@import "materialize/materialbox";
@import "materialize/forms/forms";
//@import "materialize/table_of_contents";
//@import "materialize/sideNav";
//@import "materialize/preloader";
//@import "materialize/slider";
@import "materialize/carousel";
//@import "materialize/tapTarget";
@import "materialize/pulse";
//@import "materialize/date_picker/default";
//@import "materialize/date_picker/default.date";
//@import "materialize/date_picker/default.time";


@import "settings";


@import "mediaelement";
@import "slider";
@import "animate";
@import "iris";
@import "fancybox";

@import "custom-modal";


//HEADER
.headerblock{
  width: 100%;
  background: #fff;
  min-height: 50px;
  box-shadow: 0 8px 34px 0 rgba(10, 11, 11, 0.39);
  -moz-box-shadow: 0 8px 34px 0 rgba(10, 11, 11, 0.39);
  -webkit-box-shadow: 0 8px 34px 0 rgba(10, 11, 11, 0.39);
  position:fixed;
  top:0;
  z-index:10;

  &__leftblock,&__rightblocklink{
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
  }
  &__logoimg{
    background-image: url(../img/logo.png);
    background-size: 110px auto;
    background-repeat: no-repeat;
    display: block;
    width: 110px;
    margin: 10px auto;
    text-align: center;
    max-height: 30px;
  }
  &__rightblock{
    padding: 0 !important;
  }
  &__phone{
    text-align:center;
    display:block;
    line-height:50px;
    color:$fpink;
    font-size:22px;
  }
  &__rightblocklink{
    background: $fpink;
    display: block;
    color: #fff;
  }
}

//CONTENT
.contentblock{
  padding-top:50px;
  margin-top: 20px;
  &_line1__text,
  &_line3__text{
    color: $fblue;
    text-align: center;
    font-size: 22px;
  }
  &_line1__text{
    text-transform: uppercase;
  }
  &_line2__logo{
    display: block;
    width: 228px;
    height: 65px;
    margin: 10px auto;
    background-image: url(../img/logo.png);
    background-size: 228px 65px;
  }

}


.contentblock_line4{
  &__bgimg{
    //background: url("../img/banner.jpg") center center no-repeat;
    max-width: 893px;
    //height: 430px;
    margin: 40px auto;
    overflow: hidden;
    position: relative;
  }
  &bannerimg{
    width: 100%;
    position: absolute
  }
  &__round {
    background: rgba(255,255,255,0.8);
    width: 250px;
    height: 250px;
    margin: 100px auto 20px;
    border-radius: 50%;
    padding-top: 30px;
    position: relative;
  }
  &__roundtxt1,
  &__roundtxt2,
  &__roundtxt3{
    text-align: center;
    display: block;
  }
  &__roundtxt1{
    font-size: 22px;
    color: $fblue;
    margin-top: 20px;
    text-transform: uppercase;
  }
  &__roundtxt2{
    font-size: 132px;
    color: $fpink;
    font-family: "Attentica4F";
    line-height: 120px;
  }
  &__roundtxt3{
    font-size: 22px;
    color: $fpink;
    text-transform: uppercase;
  }

}

.contentblock_line5{
  &__nameblock{
    color: $fblue;
    border-top: 1px solid $fblue;
    text-align: center;
    text-transform: uppercase;
  }

}

.contentblock_line6{

  &whyblock__number{
    height: 150px;
    position: relative;
    display: inline-block;
    overflow: hidden;
  }

  &whyblock__number:before{
    color: #fff;
    font-size: 65px;
    font-family: "Attentica4F";
    position:absolute;
    top:0;
    bottom:0;
    width:160px;
    padding-left: 100px;
    line-height: 150px;
    border-radius:100%;
    background:$fblue;
    right:0;
  }
  &whyblock__none:before{
    content:"1.";
  }
  &whyblock__nsec:before{
    content:"2.";
  }
  &whyblock__nthir:before{
    content:"3.";
  }

  &whyblocktext__h4{
    color: $fblue;
    font-size: 22px;
    text-decoration: underline;
  }
  &whyblocktext__cont{
    color: #969696;
  }
}

.contentblock_line6{
  &name{
    text-transform: uppercase;
    text-align: center;
    color: $fpink;
    font-size: 24px;
    margin: 60px auto 30px;
  }
}

.contentblock_line7{

  margin: 20px auto;

  &__balckbg{
    background: #000;
  }
  &__videocont{
    padding: 20px 0;
  }
  &__video{
    max-height:720px;
    margin: 0 auto;
  }

  .mejs__poster{
    background-image: none !important;
  }
}

.contentblock_line8{
  &name{
    text-align: center;
    margin: 20px auto;
    font-size: 22px;
    color: $fblue;
  }
  &rsplogo{
    width: 143px;
    height: 234px;
    margin: 0 auto;
    background-image: url("../img/rsplogo.png");
    background-size:143px 234px ;
  }
}

.contentblock_line9{
  &name{
    color: $fblue;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    border-top: 1px solid $fblue;
    border-bottom: 1px solid $fblue;
    margin: 40px auto;
    line-height: 70px;
  }
  &txtblockline1,
  &txtblockline2{
    text-align: center;
    font-size: 22px;
  }
  &txtblockline1{
    color: $fpink;
  }
  &txtblockline2{
    color: $fblue;
  }
  &txtblockline3{
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  &txtblockline3time{
    font-size: 160px;
    font-family: "Attentica4F";
    color: $fpink;
    line-height: 120px;
  }
  &txtblockline3min{
    font-size: 22px;
    color: $fpink;
  }
  &txtblockline4l,
  &txtblockline4r{
    background-repeat: no-repeat;
    padding-top: 33px;
  }
  &txtblockline4l{
    background-image: url($arrowlbg);
    background-position: 85% 0;
  }
  &txtblockline4r{
    background-image: url($arrowrbg);
    background-position: 15% 0;
    position: relative;
    top: -50px;
    z-index: 2;
  }
  &txtblockline4butt,
  &txtblockline4collectio{
    text-align: center;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    display: block;
    margin: 0 auto;
  }
  &txtblockline4butt{
    background: $fpink;
    padding: 20px;

  }
  &txtblockline2__str1{
    height: 150px;
  }
  &txtblockline2__str1{
    height:140px;
  }
  &txtblockline2__str3{
    height:120px;
  }
  &txtblockline4butt__str3{
  }
  &txtblockline3cloth{
    width: 160px;
    height: 213px;
    margin: 0 auto;
    background-image: url("../img/form-1.jpg");
    background-position: top center;
    background-repeat: no-repeat ;
  }
  &txtblockline4collectio{
    background: $fblue;
    padding: 15px 10px;
    position: relative;
    top:-20px
  }
  &txtblockline3photogall{
    text-align: center;
  }
  &txtblockline3photoimg{
    text-align: center;
    margin: 0 auto;
    width: 178px;
  }

}
.contentblock_line10{
  text-align: center;
  margin: 20px auto;
  position: relative;
  &buttonsubmitout{
    padding: 20px 10px;
    background: #fff;
    display: inline-block;
    position: relative;
  }
  &buttonsubmit{
    display: inline-block;
    text-transform: uppercase;
    font-size: 30px;
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    background: $fblue;
    line-height: 40px;

  }
  &line{
    position: absolute;
    top: 45px;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid $fblue;
  }

}
.contentblock_line11{
  &name{
    font-size: 30px;
    text-transform: uppercase;
  }
}
.contentblock_line11{
  border-bottom: 1px solid $fblue;
  padding-bottom: 20px;
  &text{
    color: $fblue;
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
  }
}

.contentblock_line12{
  &text{
    margin-bottom: 40px;
  }
}

.contentblock_line13{
  margin-bottom: 20px;
  &name{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &text{
    color: $fblue;
    text-align: center;
    font-size: 22px;
  }
}
















.modal{
  max-height: 96% !important;
  width: 94%;
  max-width: 700px;
}
.modal .modal-footer{
  display: none;
}
.modal .closebutton{
  position: absolute;
  top:0;
  right: 0;
  color: #5a5a5a;
}
.subscrform input[type=text]:focus,
.subscrform input[type=text]:not(.browser-default):focus:not([readonly]){
  border-bottom: 1px solid $fpink !important;
  box-shadow: none !important;
}

.contentblock .btn:hover,
.contentblock .btn-large:hover{
  background-color: $fpink;
}

.impyers .irs-min,
.impyers .irs-max{
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
}

.impyers .irs-bar,
.impyers .irs-bar-edge{
  background: $fblue ;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border: none;
}
.impyers .irs-line{
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  background: #eee;
  border: none;
}
.impyers .irs-from,
.impyers .irs-to,
.impyers .irs-single{
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
}
.impyers .irs-single,
.impyers .irs-slider{
  background: $fblue;
  border: 1px solid #fff;
  box-shadow: none;
}

[type="checkbox"]:checked + label:before{
  border-right: 2px solid $fblue;
  border-botom: 2px solid $fblue;
}



//MEDIA

@media screen and (max-width: 1200px) {

}

@media screen and (min-width: 992px) and (max-width: 1199px){

}

@media screen and (min-width: 768px) and (max-width: 991px) {


}

@media screen and (min-width: 480px) and (max-width: 767px) {


}

@media screen and (max-width: 479px) {
  .headerblock{
    position: fixed;
    top:0;
    z-index: 9;
  }
  .contentblock_line4__round{
    margin-top: 140px;
  }
  .contentblock{
    padding-top: 50px;
  }
  .modal .modal-content{
    padding: 10px 15px 10px 15px;
  }
  .subscrform h2{
    font-size: 14px;
    margin: 0 auto;
  }
  .subscrform .checkboxrights{
    font-size: 10px;
    line-height: 10px;
  }
  .input-field{
    margin-top: .5rem;
  }
  .implabel{
    height: 30px;
    line-height: 30px;
  }
  .capchaout{
    margin: 5px auto;
    display: none !important;
  }
  .subscrform{
    opacity: 1;
    height: 100vh;
    min-height: 480px;
  }
  .subscrformaatext{
    font-size: 11px;
    margin-top: 10px;
  }
  .buttonsend{
     margin: 5px 0;
   }
  .impyers{
    position: relative;
    top: -15px;
  }

}


$black: #313131;
$blue: #0065b3;
$blue2: #b5d1ea;
$violet: #ed018c;
$violet2: #c3178d;
$violet3: #c9008f;
$gray: #eaeaea;
$gray2: #f7f7f7;
$gray3: #e1e1e1;
@mixin min($size) {
  @media screen and (min-width: $size+px) {
    @content;
  }
}
@mixin between($size1, $size2) {
  @media screen and (min-width: $size1+px) and (max-width: $size2+px) {
    @content;
  }
}
@mixin max($size) {
  @media screen and (max-width: $size+px) {
    @content;
  }
}
@function em($num, $parent: 16){
  @return $num/$parent+em;
}



/* ---------------------------------------------------------------------------- Block9 */
.b9 {
  position: relative;
  h2 {
    font: 800 2.125em "HeliosCondRegular", Helvetica, Arial, sans-serif;
    color: $violet3;
  }
  .num {
    margin-top: .9em;
    b {
      color: $violet3;
    }
  }
  .top {
    padding: 2.2em 0 0 3.7em;
  }
  .adress {
    background: #fff;
    @include max(739) {
      padding-bottom: 2em;
    }
    @include min(740) {
      position: absolute;
      top: 0;
      margin-left: 4%;
      width: 42%;
      height: 100%;
      z-index: 2;
    }
  }
  .slider {
    text-align: center;
    margin-top: 3.4em;
    counter-reset: num;
    & > .navContainer{
      height:auto;
    }
    .oct {
      position: absolute;
      width: em(50);
      height: em(50);
      top: 50%;
      left: 0;
      background: url("../img/oct.png") no-repeat 0 100%/100% auto;
      text-align: center;
      font: 1em 'muller',sans-serif;
      line-height: em(50);
      color: $black;
      transform: translateY(-50%);
      @include max(1023) {
        margin-left: .5em;
      }
    }
    .box {
      text-align: left;
      max-width: 420px;
      margin: 0 auto;
      padding: 1.2em 0 1.5em 4.5em;
      position: relative;
    }
    p {
      margin: .5em;
      font: 1em 'muller',sans-serif;
      color: $black;
      max-width: 90%;
    }
    .slick {
      &-slide:not(.slick-current) {
        cursor: pointer;
      }
      &-current {
        background: $violet;
        background: linear-gradient($violet2,$violet);
        .oct {
          color: #fff;
          background-position: 0 0;
        }
        p {
          color: #fff;
        }
      }
      &-prev {
        margin: 0 auto 1.4em;
        padding: 0;
        overflow: hidden;
        text-indent: -100px;
        width: 2.5em;
        height: 2.5em;
        background: none;
        border-width: 1px 1px 0 0;
        border-style: solid;
        border-color: $gray3;
        transform: rotate(-45deg);
        &:hover {
          border-color: $violet;
        }
      }
      &-next {
        margin: 1.7em auto 0;
        padding: 0;
        overflow: hidden;
        text-indent: -100px;
        width: 2.5em;
        height: 2.5em;
        background: none;
        border-width: 0 0 1px 1px;
        border-style: solid;
        border-color: $gray3;
        transform: rotate(-45deg);
        &:hover {
          border-color: $violet;
        }
      }
    }
  }
  #map {
    height: em(880);
    background: #fff;
  }
   .ymaps-glass-pane, .adress{
    -webkit-box-shadow: inset 1px 7px 30px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 1px 7px 30px -15px rgba(0,0,0,0.75);
    box-shadow: inset 1px 7px 30px -15px rgba(0,0,0,0.75);
  }
}
/* ---------------------------------------------------------------------------- Footer */
footer{background:#0065b3}
footer .wrapper{width:100%;padding:1.1em 0;position:relative;max-width:1200px;margin:0 auto;}
@media screen and (min-width:400px){
  footer .wrapper{display:table;table-layout:fixed}
}
@media screen and (max-width:399px){
  footer .wrapper > div{text-align:center;margin:.5em 0}
}
@media screen and (min-width:400px){
  footer .wrapper > div{vertical-align:middle;display:table-cell}
}
footer .wrapper .logo{padding-left:.6em}
footer .wrapper .logo img{display:inline-block;vertical-align:middle;width:5em}
@media screen and (max-width:699px){
  footer .wrapper .logo__text{display:none}
}
@media screen and (min-width:700px){
  footer .wrapper .logo__text{display:inline-block;vertical-align:middle;font:.6875em proxima, sans-serif;margin-left:1.5em;padding-left:1.8em;border-left:1px solid rgba(255, 255, 255, .5);color:#fff}
}
footer .wrapper .polit{text-align:center;color:#b5d1ea;}
footer .wrapper .polit p a{color:#b5d1ea;font:.875em/1 proxima, sans-serif;text-decoration:none;border-bottom:1px solid rgba(255, 255, 255, .2);margin-bottom:5px;display:inline-block}
footer .wrapper .cont__text{font:300 .875em muller, sans-serif;color:#b5d1ea}
footer .wrapper .cont__num{margin-top:.3em;font:300 1.125em muller, sans-serif;color:#fff}
@media screen and (min-width:400px){
  footer .wrapper .cont{text-align:right;padding-right:.5em}
}


@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .contentblock_line2__logo{background-image: url("../img/logo@2x.png");}
  .contentblock_line8rsplogo{background-image: url("../img/rsplogo@2x.png");}
  .headerblock__logoimg{background-image: url("../img/logo@2x.png");}
}
