/**
 *
 * Apply Here your Custom CSS
 *
*/
html{
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}
.inpreq{
    color: red;
    display: inline-block;
    margin-left: -3px;
    width: 0;
}