.categ{
    float: left;
    margin: 0 10px;
    display: inline-block;
    color: #8f8f8f;
    font-size: 18px;
    height: 30px;
    line-height: 30px;

}
.categ:hover{
    color: #ff0078;
}
#allvideos .mix{display: none}

.blog-all-onelpost-line2,
.blog-all-onelpost-line3,
.blog-all-onelpost-line4{
    margin-right:10px;
    margin-left:10px;
}
.blog-all-onelpost-line2,
.blog-all-onelpost-line3{
    margin-top: 10px;
    margin-bottom: 10px;
}
.blog-all-onelpost{
    background: #fff;
    padding: 30px;
    margin: 10px 0;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.06), 0 0px 3px rgba(0,0,0,0.10);
    box-shadow: 0 5px 10px rgba(0,0,0,0.06), 0 0px 3px rgba(0,0,0,0.10);
}
.blog-all-onelpost-line1 img{
    margin: 0 auto;
    text-align: center;
}
.blog-all-onelpost-line2{
    font-size: 16px;
}
.blog-all-onelpost-line2-cat{
    color: #ff0078;
    font-size: 16px;
}
.blog-all-onelpost-line2-date{
    color: #8f8f8f;
    font-size: 14px;
}
.blog-all-onelpost-line2-postanme{
    overflow: hidden;
    text-transform: uppercase;
    color: #ff0078;
    font-size: 28px;
    line-height: 32px;
}

#one-post-inner h1{
    font-size: 48px;
    line-height: 52px;
}
#one-post-inner header{
    border-bottom: 1px solid #ff0078;
    margin-bottom: 20px;
}



#blog-one-post .a2a_s_facebook svg,
#blog-one-post .a2a_s_twitter svg,
#blog-one-post .a2a_s_vk svg,
#blog-one-post .a2a_s_odnoklassniki svg{
    display: none;
}
#blog-one-post .a2a_s_facebook{
    background: url("../img/soc-fb-like.png");
    width: 69px;
    height: 27px;
    display: inline-block;
}
#blog-one-post .a2a_s_twitter{
   background: url("../img/soc-tw-like.png");
    width: 94px;
    height: 27px;
    display: inline-block;
}
#blog-one-post .a2a_s_vk{
    background: url("../img/soc-vk-like.png");
    width: 118px;
    height: 27px;
    display: inline-block;
}
#blog-one-post .a2a_s_odnoklassniki{
    background: url("../img/soc-ok-like.png");
    width: 104px;
    height: 27px;
    display: inline-block;
}

#mainbody .rspline3{
    margin: 20px 0
}
#mainbody .buttline{
    height: 2px;
    background: #acacac;
    margin-top: 30px;
}
#mainbody .butt:hover {
    background: #ff0078;
    color: #fff;
}
#mainbody .butout{
    display: table;
}
#mainbody .butt{
    background: #fff;
    max-width: 300px;
    height: 60px;
    /*line-height: 78px;*/
    color: #ff0078;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #ff0078;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
}