/*CABINAET*/
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: HeliosCondRegular,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}


/*.topmenudesctop .line12{display: none}*/

.bluebg{
    position: relative;
    background: url("../img/invline.png") repeat-x;
}


#cabinetpage{

}
#cabinetpage .photocabinetblock{
    text-align: center;
}
#cabinetpage .cabinetuserhoto{
    padding: 7px;
    border: 2px solid #0a6fc1;
    height: 130px;
    width: 130px;
    margin: 0 auto;
}

#cabinetpage .textname{
    text-align: center;
    font-size: 40px;
    color: #222;
    margin: 20px auto;
}
#cabinetpage .rowblocked{
    background: url("../img/locked.png") no-repeat 20px 10px;
    padding-left: 50px;
}

#cabinetpage .rowunblocked{
    background: url("../img/unlocked.png") no-repeat 20px 10px;
    padding-left: 50px;
}

#cabinetpage .rowblockedtxtlinetxt{
    display: block;
    float: left;
    width: 10%;
    color: #616161;
}
#cabinetpage .rowblockedtxtline{
    display: block;
    height: 13px;
    border-bottom: 1px solid #464646;
    float: left;
    width: 90%;
}
#cabinetpage .inputcabinetblock{
    margin-top: 10px;
}
#cabinetpage .inputcabinet{
    border: none;
    background: none;
    box-shadow: none;
    color: #616161;
    height: 40px;
    font-size: 24px;
}
#cabinetpage .inputcabinetnameparen{
    font-size: 24px;
}
#cabinetpage .inputcabinetchildparen{
    font-size: 30px;
    line-height: 20px;
}

#cabinetpage .textnamewithline{
    height: 40px;
    border-bottom: 2px solid #cccccc;
    margin: 20px 0 40px 0;
}
#cabinetpage .textnamewithline span{
    text-align: center;
    font-size: 40px;
    color: #222;
    display: block;
    background: #fff;
    padding: 5px 10px;
    margin: 0 auto;
    width: 300px;
}
#cabinetpage .proramlogo img{
    padding: 7px;
    border: 2px solid #0a6fc1;
    max-height: 130px;
    margin: 0 auto;
}
#cabinetpage .proramname{
    color: #0066b3;
    font-size: 30px;
    padding-top: 30px;
    line-height: 30px;
}
#cabinetpage .proramnamestatus{
    text-align: center;
    color: #222;
    margin-bottom: 20px;
}
#cabinetpage .prorline{
    padding-top: 30px;
}

#cabinetpage .cabinetlinenexatt{
    text-align: center;
}
#cabinetpage .grayborder,
#cabinetpage .desctrayborder {
    border: 2px solid #b7b7b7;
}
#cabinetpage .cabinetlinetxtname{
    text-align: center;
    color: #616161;
}
#cabinetpage .cabinetlinenexatt .cabinetlinenexattdt{
    font-size: 45px;
    line-height: 54px;
    color: #616161;
}
#cabinetpage .cabinetlinenexatt .cabinetlinenexattmont {
    display: inline-block;
    position: relative;
    top: -12px;
    color: #616161;
}

#cabinetpage .cabinetlinenfreez{
    font-size: 45px;
    line-height: 54px;
    position: relative;
    color: #616161;
}
#cabinetpage .cabinetlinenfreez .cabinetlinenfreezaddtext{
    display: inline-block;
    font-size: 12px;
    position: absolute;
    top: 2px;
}

#cabinetpage .cabinetlinebox{
    height: 54px;
    position: relative;
    background: #fff;
}
#cabinetpage .locked{
    position: absolute;
    width: 100%;
    height: 50px;
    z-index: -999;
    background-color: rgba(255,255,255,0.8);
    top:0;
    left: 0;
}
#cabinetpage .freezcounterslidinntxt{
    display: none;
}
#cabinetpage .freezcounterslidinn{
    margin-top: 14px;
}

#cabinetpage .lastrowblocks{
    margin-bottom: 20px;
}
#cabinetpage .progrline{
    margin-bottom: 20px;
    position: relative;
}
#cabinetpage .progrlinelock{
    display: block;
    height: 100%;
    position: absolute;
    background-color: rgba(255,255,255,  0.7);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}


#allwarnings{
    display: none;
}
#infoblock{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    display: none;
}
.infoblockin{
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
}
.errortxt, .noerrortxt{
    color: #fff;
}
.errortxt{
    background: red;
}
.noerrortxt{
    background: green;
}


@media (min-width: 300px) and (max-width: 490px) {

    #cabinetpage .cabinetlinenfreez,
    #cabinetpage .cabinetlinenexatt .cabinetlinenexattdt {
        font-size: 36px;
    }

    #cabinetpage .cabinetlinenexatt .cabinetlinenexattmont{
        top:-8px
    }
    #cabinetpage .inputcabinet{
        font-size: 20px
    }
    #cabinetpage .mobgrayborder{
        border: 2px solid #b7b7b7;
    }
    #cabinetpage .desctrayborder{
        border: none;
    }

}


















/* Ion.RangeSlider
// css version 2.0.3
// © 2013-2014 Denis Ineshin | IonDen.com
// ===================================================================================================================*/

/* =====================================================================================================================
// RangeSlider */

.irs {
    position: relative; display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.irs-line {
    position: relative; display: block;
    overflow: hidden;
    outline: none !important;
    border: none;
    border-radius: 0;
}
.irs-line-left, .irs-line-mid, .irs-line-right {
    position: absolute; display: block;
    top: 0;
}
.irs-line-left {
    left: 0; width: 2%;
}
.irs-line-mid {
    left: 2%; width: 96%;
}
.irs-line-right {
    right: 0; width: 2%;
}

.irs-bar {
    position: absolute; display: block;
    left: 0; width: 0;
}
.irs-bar-edge {
    position: absolute; display: block;
    top: 0; left: 0;
    border: none;
}

.irs-shadow {
    position: absolute; display: none;
    left: 0; width: 0;
}

.irs-slider {
    position: absolute; display: block;
    cursor: default;
    z-index: 1;
    background: #ec2b8c;
    background-color: #ec2b8c !important;
    border: 2px solid #fff;
    box-shadow: none;
}
.irs-slider.single {

}
.irs-slider.from {

}
.irs-slider.to {

}
.irs-slider.type_last {
    z-index: 2;
}

.irs-min {
    position: absolute; display: block;
    left: 0;
    cursor: default;
}
.irs-max {
    position: absolute; display: block;
    right: 0;
    cursor: default;
}

.irs-from, .irs-to, .irs-single {
    position: absolute; display: block;
    top: 0; left: 0;
    cursor: default;
    white-space: nowrap;
}

.irs-grid {
    position: absolute; display: none;
    bottom: 0; left: 0;
    width: 100%; height: 20px;
}
.irs-with-grid .irs-grid {
    display: block;
}
.irs-grid-pol {
    position: absolute;
    top: 0; left: 0;
    width: 1px; height: 8px;
    background: #000;
}
.irs-grid-pol.small {
    height: 4px;
}
.irs-grid-text {
    position: absolute;
    bottom: 0; left: 0;
    white-space: nowrap;
    text-align: center;
    font-size: 9px; line-height: 9px;
    padding: 0 3px;
    color: #000;
}

.irs-disable-mask {
    position: absolute; display: block;
    top: 0; left: -1%;
    width: 102%; height: 100%;
    cursor: default;
    background: rgba(0,0,0,0.0);
    z-index: 2;
}
.lt-ie9 .irs-disable-mask {
    background: #000;
    filter: alpha(opacity=0);
    cursor: not-allowed;
}

.irs-disabled {
    /*opacity: 0.4;*/
    opacity: 1;
}


.irs-hidden-input {
    position: absolute !important;
    display: block !important;
    top: 0 !important;
    left: 0 !important;
    width: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
    outline: none !important;
    z-index: -9999 !important;
    background: none !important;
    border-style: solid !important;
    border-color: transparent !important;
}

/* Ion.RangeSlider, Nice Skin
// css version 2.0.3
// © Denis Ineshin, 2014    https://github.com/IonDen
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-bar,
.irs-bar-edge,
.irs-slider {
    background: url(../img/sprite-skin-nice.png) repeat-x;
}

.irs {
    height: 40px;
}
.irs-with-grid {
    height: 60px;
}
.irs-line {
    height: 6px; top: 25px;
}
.irs-line-left {
    height: 6px;
    background-position: 0 -30px;
    background: #ec2b8c;
    width: 3%;
}
.irs-line-mid {
    height: 6px;
    background-position: 0 0;
    background: #00aeef;
    left: 2%;
    width: 96%;
}
.irs-line-right {
    height: 8px;
    background-position: 100% -30px;
    background: #00aeef;
    width: 2%;
}

.irs-bar {
    height: 6px; top: 25px;
    background-position: 0 -60px;
    background: #ec2b8c;
    border: none;
}
.irs-bar-edge {
    top: 25px;
    height: 6px; width: 11px;
    background-position: 0 -90px;
}

.irs-shadow {
    height: 1px; top: 34px;
    background: #000;
    opacity: 0.15;
}
.lt-ie9 .irs-shadow {
    filter: alpha(opacity=15);
}

.irs-slider {
    width: 22px; height: 22px;
    top: 17px;
    background-position: 0 -120px;
}
.irs-slider.state_hover, .irs-slider:hover {
    background-position: 0 -150px;
}

.irs-min, .irs-max {
    color: #999;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    top: 0; padding: 1px 3px;
    background: rgba(0,0,0,0.1);
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.lt-ie9 .irs-min, .lt-ie9 .irs-max {
    background: #ccc;
}

.irs-from, .irs-to, .irs-single {
    color: #fff;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    /*background: rgba(0,0,0,0.3);*/
    background: transparent !important;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.irs-single {
    background: none;
    color: #ec2b8c;
    font-size: 18px;
    top: -8px;
}
.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
    background: #999;
}

.irs-grid-pol {
    background: #99a4ac;
}
.irs-grid-text {
    color: #99a4ac;
}

.irs-disabled {
}



.lcs_wrap {
    display: inline-block;
    direction: ltr;
    height: 28px;
    vertical-align: middle;
}
.lcs_wrap input {
    display: none;
}

.lcs_switch {
    display: inline-block;
    position: relative;
    width: 73px;
    height: 28px;
    border-radius: 30px;
    background: #ddd;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #fff;

    -webkit-transition: all .2s ease-in-out;
    -ms-transition: 	all .2s ease-in-out;
    transition: 		all .2s ease-in-out;
}
.lcs_cursor {
    display: inline-block;
    position: absolute;
    top: 2px;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 100%;
    background: #139ceb;

    z-index: 10;

    -webkit-transition: all .2s linear;
    -ms-transition: 	all .2s linear;
    transition: 		all .2s linear;
}
.lcs_label {
    font-size: 12px;
    letter-spacing: 0;
    line-height: 18px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    width: 33px;
    top: 3px;
    overflow: hidden;
    text-align: center;
    opacity: 0;

    -webkit-transition: all .2s ease-in-out .1s;
    -ms-transition: 	all .2s ease-in-out .1s;
    transition: 		all .2s ease-in-out .1s;
}
.lcs_label.lcs_label_on {
    left: -70px;
    z-index: 6;
}
.lcs_label.lcs_label_off {
    right: -70px;
    z-index: 5;
}


/* on */
.lcs_switch.lcs_on {
    background: #31aa3a;
}
.lcs_switch.lcs_on .lcs_cursor {
    left: 47px;
}
.lcs_switch.lcs_on .lcs_label_on {
    left: 10px;
    opacity: 1;
}


/* off */
.lcs_switch.lcs_off {
    background: #e40079;
}
.lcs_switch.lcs_off .lcs_cursor {
    left: 2px;
}
.lcs_switch.lcs_off .lcs_label_off {
    right: 10px;
    opacity: 1;
}


/* disabled */
.lcs_switch.lcs_disabled {
    opacity: 0.65;
    filter: alpha(opacity=65);
    cursor: default;
}




.warningfreezing{
    /*background: #e40079;
    color: #fff;
    display: none;
    padding: 20px;
    position: fixed;
    z-index: 99999;
    width: 100%;
    left: 0;
    top:20%;
    */
    text-align: center;
    margin-top: 10%;
}
.warhead{
    font-size: 24px;
    margin-bottom: 20px;
}
.warline1{
    text-align: center;
    line-height: 28px;
    font-size: 18px;
    color: #222;
}
.coutfreezwarline1{
    color: #137acd;
    font-size: 48px;
}
.warline2{
    margin: 30px 0;
}
#tofreezblok .warline3{
    display: none;
}

.warline2addtxt{
    position: relative;
    /* top: -10px;*/
}
.warbutt{
    margin-bottom: 10px;
    font-size: 10px;
}
.warbutt button{
    background: #e40079;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 15px;
}
.warbutt button:hover{
    background: #fff;
    color: #e40079;
}



/*vex.css*/
@keyframes vex-fadein {
    0% {
        opacity: 0; }
    100% {
        opacity: 1; } }

@-webkit-keyframes vex-fadein {
    0% {
        opacity: 0; }
    100% {
        opacity: 1; } }

@-moz-keyframes vex-fadein {
    0% {
        opacity: 0; }
    100% {
        opacity: 1; } }

@-ms-keyframes vex-fadein {
    0% {
        opacity: 0; }
    100% {
        opacity: 1; } }

@-o-keyframes vex-fadein {
    0% {
        opacity: 0; }
    100% {
        opacity: 1; } }

@keyframes vex-fadeout {
    0% {
        opacity: 1; }
    100% {
        opacity: 0; } }

@-webkit-keyframes vex-fadeout {
    0% {
        opacity: 1; }
    100% {
        opacity: 0; } }

@-moz-keyframes vex-fadeout {
    0% {
        opacity: 1; }
    100% {
        opacity: 0; } }

@-ms-keyframes vex-fadeout {
    0% {
        opacity: 1; }
    100% {
        opacity: 0; } }

@-o-keyframes vex-fadeout {
    0% {
        opacity: 1; }
    100% {
        opacity: 0; } }

@keyframes vex-rotation {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg); }
    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg); } }

@-webkit-keyframes vex-rotation {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg); }
    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg); } }

@-moz-keyframes vex-rotation {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg); }
    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg); } }

@-ms-keyframes vex-rotation {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg); }
    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg); } }

@-o-keyframes vex-rotation {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg); }
    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg); } }

.vex, .vex *, .vex *:before, .vex *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.vex {
    position: fixed;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1111;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

.vex-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll; }

.vex-overlay {
    background: #000;
    filter: alpha(opacity=40);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; }

.vex-overlay {
    animation: vex-fadein 0.5s;
    -webkit-animation: vex-fadein 0.5s;
    -moz-animation: vex-fadein 0.5s;
    -ms-animation: vex-fadein 0.5s;
    -o-animation: vex-fadein 0.5s;
    -webkit-backface-visibility: hidden;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
.vex.vex-closing .vex-overlay {
    animation: vex-fadeout 0.5s;
    -webkit-animation: vex-fadeout 0.5s;
    -moz-animation: vex-fadeout 0.5s;
    -ms-animation: vex-fadeout 0.5s;
    -o-animation: vex-fadeout 0.5s;
    -webkit-backface-visibility: hidden; }

.vex-content {
    animation: vex-fadein 0.5s;
    -webkit-animation: vex-fadein 0.5s;
    -moz-animation: vex-fadein 0.5s;
    -ms-animation: vex-fadein 0.5s;
    -o-animation: vex-fadein 0.5s;
    -webkit-backface-visibility: hidden;
    background: #fff; }
.vex.vex-closing .vex-content {
    animation: vex-fadeout 0.5s;
    -webkit-animation: vex-fadeout 0.5s;
    -moz-animation: vex-fadeout 0.5s;
    -ms-animation: vex-fadeout 0.5s;
    -o-animation: vex-fadeout 0.5s;
    -webkit-backface-visibility: hidden; }

.vex-close:before {
    font-family: Arial, sans-serif;
    content: "\00D7"; }

.vex-dialog-form {
    margin: 0; }

.vex-dialog-button {
    text-rendering: optimizeLegibility;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; }

.vex-loading-spinner {
    animation: vex-rotation 0.7s linear infinite;
    -webkit-animation: vex-rotation 0.7s linear infinite;
    -moz-animation: vex-rotation 0.7s linear infinite;
    -ms-animation: vex-rotation 0.7s linear infinite;
    -o-animation: vex-rotation 0.7s linear infinite;
    -webkit-backface-visibility: hidden;
    -moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 1112;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2em;
    width: 2em;
    background: #fff; }

body.vex-open {
    overflow: hidden; }
@keyframes vex-pulse {
    0% {
        -moz-box-shadow: inset 0 0 0 300px transparent;
        -webkit-box-shadow: inset 0 0 0 300px transparent;
        box-shadow: inset 0 0 0 300px transparent; }
    70% {
        -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
        -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
        box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25); }
    100% {
        -moz-box-shadow: inset 0 0 0 300px transparent;
        -webkit-box-shadow: inset 0 0 0 300px transparent;
        box-shadow: inset 0 0 0 300px transparent; } }

@-webkit-keyframes vex-pulse {
    0% {
        -moz-box-shadow: inset 0 0 0 300px transparent;
        -webkit-box-shadow: inset 0 0 0 300px transparent;
        box-shadow: inset 0 0 0 300px transparent; }
    70% {
        -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
        -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
        box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25); }
    100% {
        -moz-box-shadow: inset 0 0 0 300px transparent;
        -webkit-box-shadow: inset 0 0 0 300px transparent;
        box-shadow: inset 0 0 0 300px transparent; } }

@-moz-keyframes vex-pulse {
    0% {
        -moz-box-shadow: inset 0 0 0 300px transparent;
        -webkit-box-shadow: inset 0 0 0 300px transparent;
        box-shadow: inset 0 0 0 300px transparent; }
    70% {
        -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
        -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
        box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25); }
    100% {
        -moz-box-shadow: inset 0 0 0 300px transparent;
        -webkit-box-shadow: inset 0 0 0 300px transparent;
        box-shadow: inset 0 0 0 300px transparent; } }

@-ms-keyframes vex-pulse {
    0% {
        -moz-box-shadow: inset 0 0 0 300px transparent;
        -webkit-box-shadow: inset 0 0 0 300px transparent;
        box-shadow: inset 0 0 0 300px transparent; }
    70% {
        -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
        -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
        box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25); }
    100% {
        -moz-box-shadow: inset 0 0 0 300px transparent;
        -webkit-box-shadow: inset 0 0 0 300px transparent;
        box-shadow: inset 0 0 0 300px transparent; } }

@-o-keyframes vex-pulse {
    0% {
        -moz-box-shadow: inset 0 0 0 300px transparent;
        -webkit-box-shadow: inset 0 0 0 300px transparent;
        box-shadow: inset 0 0 0 300px transparent; }
    70% {
        -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
        -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
        box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25); }
    100% {
        -moz-box-shadow: inset 0 0 0 300px transparent;
        -webkit-box-shadow: inset 0 0 0 300px transparent;
        box-shadow: inset 0 0 0 300px transparent; } }

.vex.vex-theme-plain {
    height: 100%;
}
.vex.vex-theme-plain .vex-content {
    background: #fff;
    color: #444;
    padding: 1em;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
}
.vex.vex-theme-plain .vex-content h1, .vex.vex-theme-plain .vex-content h2, .vex.vex-theme-plain .vex-content h3, .vex.vex-theme-plain .vex-content h4, .vex.vex-theme-plain .vex-content h5, .vex.vex-theme-plain .vex-content h6, .vex.vex-theme-plain .vex-content p, .vex.vex-theme-plain .vex-content ul, .vex.vex-theme-plain .vex-content li {
    color: inherit; }
.vex.vex-theme-plain .vex-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer; }
.vex.vex-theme-plain .vex-close:before {
    position: absolute;
    content: "\00D7";
    font-size: 26px;
    font-weight: normal;
    line-height: 31px;
    height: 30px;
    width: 30px;
    text-align: center;
    top: 3px;
    right: 3px;
    color: #bbb;
    background: transparent; }
.vex.vex-theme-plain .vex-close:hover:before, .vex.vex-theme-plain .vex-close:active:before {
    color: #777;
    background: #e0e0e0; }
.vex.vex-theme-plain .vex-dialog-form .vex-dialog-message {
    margin-bottom: .5em; }
.vex.vex-theme-plain .vex-dialog-form .vex-dialog-input {
    margin-bottom: 1em; }
.vex.vex-theme-plain .vex-dialog-form .vex-dialog-input textarea, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="date"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="datetime"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="datetime-local"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="email"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="month"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="number"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="password"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="search"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="tel"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="text"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="time"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="url"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="week"] {
    background: #f0f0f0;
    width: 100%;
    padding: .25em .67em;
    border: 0;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    min-height: 2.5em;
    margin: 0 0 .25em; }
.vex.vex-theme-plain .vex-dialog-form .vex-dialog-input textarea:focus, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="date"]:focus, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="datetime"]:focus, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="datetime-local"]:focus, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="email"]:focus, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="month"]:focus, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="number"]:focus, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="password"]:focus, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="search"]:focus, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="tel"]:focus, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="text"]:focus, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="time"]:focus, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="url"]:focus, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="week"]:focus {
    -moz-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
    outline: none; }
.vex.vex-theme-plain .vex-dialog-form .vex-dialog-buttons {
    *zoom: 1; }
.vex.vex-theme-plain .vex-dialog-form .vex-dialog-buttons:after {
    content: "";
    display: table;
    clear: both; }
.vex.vex-theme-plain .vex-dialog-button {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0;
    float: right;
    margin: 0 0 0 .5em;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: .8em;
    line-height: 1em;
    padding: .75em 2em; }
.vex.vex-theme-plain .vex-dialog-button.vex-last {
    margin-left: 0; }
.vex.vex-theme-plain .vex-dialog-button:focus {
    animation: vex-pulse 1.1s infinite;
    -webkit-animation: vex-pulse 1.1s infinite;
    -moz-animation: vex-pulse 1.1s infinite;
    -ms-animation: vex-pulse 1.1s infinite;
    -o-animation: vex-pulse 1.1s infinite;
    -webkit-backface-visibility: hidden;
    outline: none; }
@media (max-width: 568px) {
    .vex.vex-theme-plain .vex-dialog-button:focus {
        animation: none;
        -webkit-animation: none;
        -moz-animation: none;
        -ms-animation: none;
        -o-animation: none;
        -webkit-backface-visibility: hidden; } }
.vex.vex-theme-plain .vex-dialog-button.vex-dialog-button-primary {
    background: #3288e6;
    color: #fff; }
.vex.vex-theme-plain .vex-dialog-button.vex-dialog-button-secondary {
    background: #e0e0e0;
    color: #777; }

.vex-loading-spinner.vex-theme-plain {
    height: 2.5em;
    width: 2.5em; }
/*custom vex*/
.vex.vex-custom .vex-dialog-buttons{
    text-align: center;
    display: block;
}
.vex.vex-custom .vex-dialog-button{
    float: none;
    letter-spacing: normal;

}
.vex.vex-custom .vex-dialog-button.vex-dialog-button-secondary{
    background: none;
    border: none;
    display: block;
    text-align: center;
    margin: 0 auto;
    text-decoration: underline;
    text-transform: lowercase;
    font-size: 14px;
}
.vex.vex-custom .vex-dialog-button.vex-dialog-button-secondary:hover{
    text-decoration: none;
}
.vex.vex-custom .vex-dialog-button.vex-dialog-button-primary{
    background: #fff;
    border: 1px solid #b7b7b7;
    color: #616161;
    display: block;
    margin: 20px auto 10px;
    padding: 20px 40px;
    font-size: 18px;
}
.vex.vex-custom .vex-dialog-button.vex-dialog-button-primary:hover{
    background: #ec008c;
    border: 1px solid #ec008c;
    color: #fff;
}



/*!
 * bootstrap-fileinput v4.3.9
 * http://plugins.krajee.com/file-input
 *
 * Krajee default styling for bootstrap-fileinput.
 *
 * Author: Kartik Visweswaran
 * Copyright: 2014 - 2017, Kartik Visweswaran, Krajee.com
 *
 * Licensed under the BSD 3-Clause
 * https://github.com/kartik-v/bootstrap-fileinput/blob/master/LICENSE.md
 */
.file-loading {
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    font-size: 999px;
    text-align: right;
    color: #fff;
    background: transparent url('../img/loading.gif') top left no-repeat;
    border: none;
}

.file-object {
    margin: 0 0 -5px 0;
    padding: 0;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    background: none repeat scroll 0 0 transparent;
    cursor: inherit;
    display: block;
}

.file-caption-name {
    display: inline-block;
    overflow: hidden;
    height: 20px;
    word-break: break-all;
}

.input-group-lg .file-caption-name {
    height: 25px;
}

.file-zoom-dialog {
    text-align: left;
}

.file-error-message {
    color: #a94442;
    background-color: #f2dede;
    margin: 5px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    padding: 15px;
}

.file-error-message pre, .file-error-message ul {
    margin: 0;
    text-align: left;
}

.file-error-message pre {
    margin: 5px 0;
}

.file-caption-disabled {
    background-color: #EEEEEE;
    cursor: not-allowed;
    opacity: 1;
}

.file-preview {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;
}

.krajee-default.file-preview-frame {
    position: relative;
    display: table;
    margin: 8px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 5px 0 #a2958a;
    padding: 6px;
    float: left;
    text-align: center;
}

.krajee-default.file-preview-frame:not(.file-preview-error):hover {
    box-shadow: 3px 3px 5px 0 #333;
}

.krajee-default.file-preview-frame .kv-file-content {
    height: 170px;
}

.krajee-default.file-preview-frame .file-thumbnail-footer {
    height: 70px;
}

.krajee-default .file-preview-image {
    vertical-align: middle;
    image-orientation: from-image;
}

.krajee-default .file-preview-text {
    display: block;
    color: #428bca;
    border: 1px solid #ddd;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    outline: none;
    padding: 8px;
    resize: none;
}

.krajee-default .file-preview-html {
    border: 1px solid #ddd;
    padding: 8px;
    overflow: auto;
}

.krajee-default[data-template="audio"] .file-preview-audio {
    display: table-cell;
    vertical-align: middle;
    height: 170px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.krajee-default .file-preview-audio audio {
    vertical-align: middle;
}

.krajee-default .file-zoom-dialog .file-preview-text {
    font-size: 1.2em;
}

.krajee-default .file-preview-other {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.krajee-default .file-preview-other:hover {
    opacity: 0.8;
}

.krajee-default .file-actions, .krajee-default .file-other-error {
    text-align: left;
}

.krajee-default .file-other-icon {
    font-size: 8em;
}

.krajee-default .file-actions {
    margin-top: 15px;
}

.krajee-default .file-footer-buttons {
    float: right;
}

.krajee-default .file-footer-caption {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 160px;
    text-align: center;
    padding-top: 4px;
    font-size: 11px;
    color: #777;
    margin: 5px auto;
}

.krajee-default .file-preview-error {
    opacity: 0.65;
    box-shadow: none;
}

.krajee-default .file-preview-frame:not(.file-preview-error) .file-footer-caption:hover {
    color: #000;
}

.krajee-default .file-drag-handle, .krajee-default .file-upload-indicator {
    position: absolute;
    text-align: center;
    bottom: -6px;
    left: -6px;
    padding: 8px 8px 1px 3px;
    border-left: none;
    border-bottom: none;
    border-right: 1px solid #8a6d3b;
    border-top: 1px solid #8a6d3b;
    border-top-right-radius: 24px;
    font-size: 12px;
}

.krajee-default .file-drag-handle {
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.krajee-default .file-upload-indicator {
    font-size: 13px;
    background-color: #fcf8e3;
    border-color: #faebcc;
    padding-bottom: 0;
}

.krajee-default.file-preview-error .file-upload-indicator {
    background-color: #f2dede;
    border-color: #ebccd1;
}

.krajee-default.file-preview-success .file-upload-indicator {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.krajee-default.file-preview-loading .file-upload-indicator {
    background-color: #e5e5e5;
    border-color: #777;
}

.krajee-default .file-thumb-progress {
    height: 10px;
}

.krajee-default .file-thumb-progress .progress, .krajee-default .file-thumb-progress .progress-bar {
    height: 10px;
    font-size: 9px;
    line-height: 10px;
}

.krajee-default .file-thumbnail-footer {
    position: relative;
}

.krajee-default .file-thumb-progress {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
}

.krajee-default.kvsortable-ghost {
    background: #e1edf7;
    border: 2px solid #a1abff;
}

/* noinspection CssOverwrittenProperties */
.file-zoom-dialog .file-other-icon {
    font-size: 8em;
    font-size: 65vmin;
}

.file-input-new .file-preview, .file-input-new .close, .file-input-new .glyphicon-file,
.file-input-new .fileinput-remove-button, .file-input-new .fileinput-upload-button,
.file-input-ajax-new .fileinput-remove-button, .file-input-ajax-new .fileinput-upload-button {
    display: none;
}

.file-caption-main {
    width: 100%;
}

.file-input-ajax-new .no-browse .input-group-btn,
.file-input-new .no-browse .input-group-btn {
    display: none;
}

.file-input-ajax-new .no-browse .form-control,
.file-input-new .no-browse .form-control {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.file-thumb-loading {
    background: transparent url('../img/loading.gif') no-repeat scroll center center content-box !important;
}

.file-sortable .file-drag-handle {
    cursor: move;
    cursor: -webkit-grabbing;
    opacity: 1;
}

.file-sortable .file-drag-handle:hover {
    opacity: 0.7;
}

.file-drop-zone {
    border: 1px dashed #aaa;
    border-radius: 4px;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    margin: 12px 15px 12px 12px;
    padding: 5px;
}

.file-drop-zone-title {
    color: #aaa;
    font-size: 1.6em;
    padding: 85px 10px;
    cursor: default;
}

.file-preview .clickable,
.clickable .file-drop-zone-title {
    cursor: pointer;
}

.file-drop-zone.clickable:hover {
    border: 2px dashed #999;
}

.file-drop-zone.clickable:focus {
    border: 2px solid #5acde2;
}

.file-drop-zone .file-preview-thumbnails {
    cursor: default;
}

.file-highlighted {
    border: 2px dashed #999 !important;
    background-color: #f0f0f0;
}

.file-uploading {
    background: url('../img/loading-sm.gif') no-repeat center bottom 10px;
    opacity: 0.65;
}

.file-zoom-fullscreen.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.file-zoom-fullscreen .modal-dialog {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

.file-zoom-fullscreen .modal-content {
    border-radius: 0;
    box-shadow: none;
}

.file-zoom-fullscreen .modal-body {
    overflow-y: auto;
}

.file-zoom-dialog .modal-body {
    position: relative !important;
}

.file-zoom-dialog .btn-navigate {
    position: absolute;
    padding: 0;
    margin: 0;
    background: transparent;
    text-decoration: none;
    outline: none;
    opacity: 0.7;
    top: 45%;
    font-size: 4em;
    color: #1c94c4;
}

.file-zoom-dialog .floating-buttons {
    position: absolute;
    top: 5px;
    right: 10px;
}

.floating-buttons, .floating-buttons .btn {
    z-index: 3000;
}

.file-zoom-dialog .kv-zoom-actions .btn,
.floating-buttons .btn {
    margin-left: 3px;
}

.file-zoom-dialog .btn-navigate:not([disabled]):hover,
.file-zoom-dialog .btn-navigate:not([disabled]):focus {
    outline: none;
    box-shadow: none;
    opacity: 0.5;
}

.file-zoom-dialog .btn-navigate[disabled] {
    opacity: 0.3;
}

.file-zoom-dialog .btn-prev {
    left: 1px;
}

.file-zoom-dialog .btn-next {
    right: 1px;
}

.file-zoom-content {
    height: 480px;
    text-align: center;
}

.file-preview-initial.sortable-chosen {
    background-color: #d9edf7;
}

/* IE 10 fix */
.btn-file ::-ms-browse {
    width: 100%;
    height: 100%;
}

.kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar .file-input {
    margin-top: 10px;
}






/*HTML  CSS code by PotapovD (potapov.dima@gmail.com)*/