

/*BODY*/
#mainbody{
    margin-top: 20px;
}
.mainblocksbg{
    /*margin:0;
    padding:0;*/
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
#main-block1{
    background: url('../img/main-block1.jpg') no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    height: 400px;
}
#main-block2{
    background: url('../img/main-block2.jpg') no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    height: 190px;
}
#main-block3{
    background: url('../img/main-block3-3.jpg') no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    height: 380px;
}
#main-block4{
    background: url('../img/main-block4-3.jpg') no-repeat;
    /*background: url('../img/fp.gif') no-repeat;*/
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    height: 380px;
}


#main-block5{
    background: url('../img/main-block5-3.jpg') no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    height: 380px;
}
#main-block6{
    background: url('../img/main-block6-3.jpg') no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    height: 380px;
}
#main-block3 .mejs-offscreen,
#main-block4 .mejs-offscreen,
#main-block5 .mejs-offscreen,
#main-block6 .mejs-offscreen{display: none}
#main-block7{
    background: url('../img/main-block7.jpg') no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    height: 400px;
}
#main-block8 {
    background: #fff;
    min-height: 400px;
    border: 1px solid #ff0078;
}


.feedbackblockinner{
    position: relative;

}
.txtgrad{
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 30px 0 30px 0;
}
.feedbackblockinner .dynamic-wrap{
    color: #222;
}
.nameblock{ overflow: hidden}
.feedbackphoto{
    width: 35%;
    float: left;
    padding: 5%;
    text-align: center;
    text-transform: uppercase;
    color: #ff0078;
}
.feedbackphoto img {
    border: 3px solid #ff0078;
    margin: 0 auto 10px;

}
.feedbackname{
    color: #ff0078;
    font-size: 19px;
    line-height: 24px;
    text-transform: uppercase;
    float: left;
    width: 65%;
    margin-top:37px;
    white-space: nowrap;
}
.feedbackname span{
    color: #ff0078;
    font-size: 18px;
    line-height: 24px;
    text-transform: lowercase;
}
.feedbacktxt {
    padding: 0 5%;
}
.feedbacktxt p{
    color: #222;
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
}
.feedbackvideo{
    display: block;
}
.feedbackvideo img{
    padding: 5px;
    margin: 0 auto;
}



#main-block9{
    background: url('../img/main-block9.jpg') no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    /*min-height: 190px;*/
    margin-bottom: 10px;
}

.mainblockspink{
    height: 190px;
    background:#fff;
    color: #ff0078;
    border: 1px solid #ff0078;
}
.mainblocksblue{
    /*height: 190px;*/
    background:#fff;
    border: 1px solid #ff0078;
}

#mainblocksblack{
    background: #000;
    margin-bottom: 15px;
    padding: 20px 0;
}

.textblock1{
    position: absolute;
    bottom: 0;
    max-height: 115px;
    background: #0097dd;
    width: 100%;
    padding: 5%;
    border-top:5px solid #ff0078;

}
.textblock1 span,
.textblock2 span,
.textblock3 span,
.nametextblockab3biz6 span,
.textblock8 span,
#main-block2 div{
    text-transform: uppercase;
    color: #ff0078;
    font-size: 28px;
}
.nametextblockab3biz6 span{
    color: #222;
}
.textblock2 span{
    display: block;
    padding: 2% 0 0 2%;
}
.nametextblockab3biz6 span{
    font-size: 20px;
}

#main-block2 div{
    display: block;
    margin: 12% 5%;
    padding-right: 25%;
    font-size: 22px;
    line-height: 24px;
}
#main-block2 div span{
    display: block;
    font-size: 28px;
    letter-spacing: 15px;
}
.nametextblockab3biz6{
    position: absolute;
    bottom: 0;
    max-height: 115px;
    width: 100%;
    padding: 3%;
    text-align: center;
    white-space: nowrap;

    background: #fff;
    border-top:3px solid #ff0078;
}
.textblock8name{
    text-transform: uppercase;
    color: #ff0078;
    font-size: 28px;
    padding: 30px 10px 0 160px;
    background: url("../img/block8namebg.svg") no-repeat ;
    /*background: rgba(0, 0, 0, 0) url("../img/block8namebg.png") no-repeat scroll 20px 20px;*/
    height: 100px;
    line-height: 24px;
    margin: 20px 0 0 20px;
}

.textblock8feetbackphoto{
    width: 35%;
    float: left;
    padding: 5%;
    text-align: center;
    text-transform: uppercase;
    color: #ff0078;
}
.textblock8feetbackphoto img{
    border: 3px solid #ff0078;
    margin: 0 auto 10px auto;
    /*max-width: 130px;
    min-width: 70px;*/
}
.textblock8feetbacktext{
    width: 60%;
    float: left;
    padding: 3%;
    max-height: 260px;
    overflow: hidden;
}
.mySlideshow li{
    display: block;
    position: relative;
}
.mySlideshow li img{
    position: absolute;
}
.mySlideshow li .textbanner{
    position: absolute;
    display: block;
    width: 420px;
    text-align: center;
    font-size: 80px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    padding: 100px 0 0 20px;
}

.blockcounterall{
    position: relative;
    width: 110px;
    height: 110px;

    margin: 0 auto 5px;
}
#blockcountchnumb{
    font-size: 22px;
    position: relative;
    top:38px;
    text-align: center;

    width: 63px;
    margin: 0 auto;
}
#countloader{
    position: absolute;
    top: 0;
    left:0;
}
.textblock2{
    text-align: center;
}
.textblock22{
    color: #ff0078;
    padding: 0 2%;
    text-align: center;
    line-height: 14px;

}
.textblock3{
    color: #fff;
    text-align: center;
}

.blockfreetranall{
    position: relative;
    height: 180px;
}
.freetraindate{
    width: 80px;
    border: 3px solid #ff0078;
    margin: 20px auto;
}
.freetraindateday,
.freetraindatemonth{
    text-align: center;
}
.freetraindateday{
    font-size: 54px;
    line-height: 50px;
    font-family: "HeliosCondBold";
}
.freetraindatemonth{
    text-transform: uppercase;

}
.blockfreetranall .textblock22{
    /*position: absolute;
    bottom: 0;
    text-align: center;*/
}



.mainblocksblue .blockparslider img{
    margin: 30px auto !important;
    width: 211px;

}
.mainblocksblue .blockparslider:hover{
    -moz-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    -o-transform: none;
    transform: none;
}
.mainblocksblue .blockparslider:hover .partnblocklogo {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.mainblocksblue .blockparslider .partnblocklogo{
    -webkit-transition: all  0.7s ease;
    transition: all 0.7s ease;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    overflow: hidden;
}



.videoblock{
    position: relative;
    display: block;
}
.videoblock img{
    margin: 10px auto 10px;
    padding:0 5%;
}
.buttonplay{
    display: block;
    width: 80px;
    height: 80px;
    border-radius:40px;
    border: 2px solid #fff;
    background: url("../img/button-play.png") 26px center no-repeat transparent;
    position: absolute;
    top:50%;
    left:50%;
    margin: -40px 0 0 -40px;
}
.videoblock:hover .buttonplay{
    background: url("../img/button-play.png") 26px center no-repeat #f02480;
    border: 2px solid #f02480;
}
#mainbody .containergallery{
    padding-left: 30px;
    padding-right: 30px;
}

/*PAGES*/
/*about*/
.mySlideshow li .sliderimg{
    position: absolute;
}
.mySlideshow li .sliderlogo{
    position: relative;
    top: 100px;
}

.abline1 .abredline{
    border-bottom: 2px solid #ec2b8c;
    height: 40px;
}
.abline1 .txtblock span,
.abline3 .txtblock span{
    background: #ec2b8c;
    display: block;
    border-bottom: 2px solid #ec2b8c;
    color: #fff;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
}
.abline2{
    margin: 20px 0;
}
.abline2 .txtblock {
    font-size: 74px;
    color: #ec2b8c;
    text-align: center;
    text-transform: uppercase;
    display: block;
    line-height: 68px;
}
.abline3 .abredline{
    border-top: 2px solid #ec2b8c;
}
.abicoblockblue span{
    color: #00adec;
    text-transform: uppercase;
}
.abicoblockred span{
    color: #ec2b8c;
    text-transform: uppercase;
}
.abline4{
    margin: 40px 0;
}
.abline4 .abicoblock{
    height: 140px;
}
.abline4 .abicoblock{
    /*padding-top: 85px*/;
    display: block;
    text-align: center;
    /*height: 80px;*/
}




.dynamic-wrap {
    -webkit-transition: max-height 0.25s ease-in-out;
    -moz-transition: max-height 0.25s ease-in-out;
    transition: max-height 0.25s ease-in-out;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.height-active .dynamic-wrap:before {
    content: '';
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 0;
    height: 30px;
    background: -moz-linear-gradient(top, rgba(240,249,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(240,249,255,0)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(240,249,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(240,249,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(240,249,255,0) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(240,249,255,0) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f0f9ff', endColorstr='#ffffff', GradientType=0 );
    z-index: 1;
}

.dynamic-max-height.height-active .dynamic-show-more { display: inline-block; }

.dynamic-max-height .dynamic-show-more {
    display: none;
    margin-top: 0;
    text-align: center;
    font-size: 48px;
    line-height: 25px;
    color: deeppink;
    width: 100%;
    height: 48px;
}

.demo {
    position: relative;
    height: 540px;
}
.demo ul li {
    /*background-size: cover;
    background-position: center;*/
}

.GI_C_prev, .GI_C_next {
    line-height: 0;
}
.GI_C_prev:after, .GI_C_next:after {
    position: absolute;
    top: 14px;
    left: 8px;
}

.GI_C_prev:after {
    content: '\003c';
}

.GI_C_next:after {
    content: '\003e';
}

.GICarousel {
    padding: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 99;
}
.GICarousel ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;
}
.mySlideshow li{
    background-position: left top;
    background-repeat: no-repeat;
    /*background-size: contain;*/
}
.GICarousel .GI_Controls {
    z-index: 110;
}
.GICarousel .GI_Controls.GI_C_disabled {
    opacity: 0.3;
    cursor: default;
}
.GICarousel .GI_C_close {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    width: 50px;
    height: 50px;
}
.GICarousel .GI_C_prev, .GICarousel .GI_C_next {
    position: absolute;
    font-size: 78px;
    color: #fff;
    font-style: normal;
    top: 50%;
    margin: -25px 0 0 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.GICarousel .GI_C_prev {
    left: 0;
}
.GICarousel .GI_C_next {
    right: 0;
}
.GICarousel.GI_C_wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    /*
    *
    * Slides container
    *
    */
    /*
    *
    * Slide paginator
    *
    */
}
.GICarousel.GI_C_wrapper ul.GI_C_items {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    /*
    *
    * Single slide
    *
    */
}
.GICarousel.GI_C_wrapper ul.GI_C_items.animated {
    -webkit-transition: left 0.4s ease-in-out;
    -moz-transition: left 0.4s ease-in-out;
    -o-transition: left 0.4s ease-in-out;
    transition: left 0.4s ease-in-out;
}
.GICarousel.GI_C_wrapper ul.GI_C_items.animated .parallax {
    -webkit-transition: margin 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: margin 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: margin 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    transition: margin 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.GICarousel.GI_C_wrapper ul.GI_C_items li {
    height: 100%;
    width: 100%;
    display: block;
    float: left;
    z-index: 3;
    position: relative;
    overflow: hidden;
}
.GICarousel.GI_C_wrapper ul.GI_C_items li img {
    width: 100%;
}
.GICarousel.GI_C_wrapper ul.GI_C_items li.current {
    z-index: 3;
}
.GICarousel.GI_C_wrapper ul.GI_C_paginator {
    height: 48px;
    bottom: 0;
    width: 100%;
    display: block;
    position: absolute;
    text-align: center;
    z-index: 4;
    /*background: rgba(0, 0, 0, 0.2);*/
}
.GICarousel.GI_C_wrapper ul.GI_C_paginator li {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 18px 10px;
    display: inline-block;
    _display: inline;
    background: transparent;
    border: 3px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}
.GICarousel.GI_C_wrapper ul.GI_C_paginator li.active {
    background: #fff;
}


@media (min-width: 300px) and (max-width: 490px) {
    #main-block2 span{
        margin: 5% 5%;
        font-size: 20px;
    }
    .nametextblockab3biz6 span{
        font-size: 12px;
    }
    .textblock8 span{
        font-size: 20px;
    }
    .textblock8name{
        font-size: 18px;
    }
    .headerrighttxt,
    .headerlefttxt{
        display: none;
    }
    .mySlideshow li .textbanner{
        font-size: 60px;
        width: 350px;
        padding: 100px 5px 0 5px ;
    }
    #main-block2 div {
        font-size: 16px;
        margin: 5% 5%;
    }
    #main-block2 div span{
        font-size: 26px;
        letter-spacing: 10px;
    }
    .abline2 .txtblock {
        font-size: 58px;
    }
}
@media (min-width: 491px) and (max-width: 767px) {
    .headerrighttxt,
    .headerlefttxt{
        display: none;
    }

}
@media (min-width: 768px) and (max-width: 991px) {
    .freetraindate{
        margin: 0 auto;
    }
    .headerrighttxt,
    .headerlefttxt{
        display: none;
    }

}

@media (min-width: 768px) and (max-width: 1199px) {
    #main-block2 span{
        margin: 5% 5%;
        font-size: 22px;
    }
    .blockcounterall{
        margin: 0 auto;
    }
    .nametextblockab3biz6 span{
        font-size: 14px;
    }
    .textblock8 span{
        font-size: 22px;
    }
    .textblock8name{
        font-size: 22px;
    }
}




/*vex.css*/
@keyframes vex-fadein {
    0% {
        opacity: 0; }
    100% {
        opacity: 1; } }

@-webkit-keyframes vex-fadein {
    0% {
        opacity: 0; }
    100% {
        opacity: 1; } }

@-moz-keyframes vex-fadein {
    0% {
        opacity: 0; }
    100% {
        opacity: 1; } }

@-ms-keyframes vex-fadein {
    0% {
        opacity: 0; }
    100% {
        opacity: 1; } }

@-o-keyframes vex-fadein {
    0% {
        opacity: 0; }
    100% {
        opacity: 1; } }

@keyframes vex-fadeout {
    0% {
        opacity: 1; }
    100% {
        opacity: 0; } }

@-webkit-keyframes vex-fadeout {
    0% {
        opacity: 1; }
    100% {
        opacity: 0; } }

@-moz-keyframes vex-fadeout {
    0% {
        opacity: 1; }
    100% {
        opacity: 0; } }

@-ms-keyframes vex-fadeout {
    0% {
        opacity: 1; }
    100% {
        opacity: 0; } }

@-o-keyframes vex-fadeout {
    0% {
        opacity: 1; }
    100% {
        opacity: 0; } }

@keyframes vex-rotation {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg); }
    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg); } }

@-webkit-keyframes vex-rotation {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg); }
    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg); } }

@-moz-keyframes vex-rotation {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg); }
    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg); } }

@-ms-keyframes vex-rotation {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg); }
    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg); } }

@-o-keyframes vex-rotation {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg); }
    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg); } }

.vex, .vex *, .vex *:before, .vex *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.vex {
    position: fixed;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1111;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

.vex-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll; }

.vex-overlay {
    background: #000;
    filter: alpha(opacity=40);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; }

.vex-overlay {
    animation: vex-fadein 0.5s;
    -webkit-animation: vex-fadein 0.5s;
    -moz-animation: vex-fadein 0.5s;
    -ms-animation: vex-fadein 0.5s;
    -o-animation: vex-fadein 0.5s;
    -webkit-backface-visibility: hidden;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
.vex.vex-closing .vex-overlay {
    animation: vex-fadeout 0.5s;
    -webkit-animation: vex-fadeout 0.5s;
    -moz-animation: vex-fadeout 0.5s;
    -ms-animation: vex-fadeout 0.5s;
    -o-animation: vex-fadeout 0.5s;
    -webkit-backface-visibility: hidden; }

.vex-content {
    animation: vex-fadein 0.5s;
    -webkit-animation: vex-fadein 0.5s;
    -moz-animation: vex-fadein 0.5s;
    -ms-animation: vex-fadein 0.5s;
    -o-animation: vex-fadein 0.5s;
    -webkit-backface-visibility: hidden;
    background: #fff; }
.vex.vex-closing .vex-content {
    animation: vex-fadeout 0.5s;
    -webkit-animation: vex-fadeout 0.5s;
    -moz-animation: vex-fadeout 0.5s;
    -ms-animation: vex-fadeout 0.5s;
    -o-animation: vex-fadeout 0.5s;
    -webkit-backface-visibility: hidden; }

.vex-close:before {
    font-family: Arial, sans-serif;
    content: "\00D7"; }

.vex-dialog-form {
    margin: 0; }

.vex-dialog-button {
    text-rendering: optimizeLegibility;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; }

.vex-loading-spinner {
    animation: vex-rotation 0.7s linear infinite;
    -webkit-animation: vex-rotation 0.7s linear infinite;
    -moz-animation: vex-rotation 0.7s linear infinite;
    -ms-animation: vex-rotation 0.7s linear infinite;
    -o-animation: vex-rotation 0.7s linear infinite;
    -webkit-backface-visibility: hidden;
    -moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 1112;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2em;
    width: 2em;
    background: #fff; }

body.vex-open {
    overflow: hidden; }
@keyframes vex-pulse {
    0% {
        -moz-box-shadow: inset 0 0 0 300px transparent;
        -webkit-box-shadow: inset 0 0 0 300px transparent;
        box-shadow: inset 0 0 0 300px transparent; }
    70% {
        -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
        -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
        box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25); }
    100% {
        -moz-box-shadow: inset 0 0 0 300px transparent;
        -webkit-box-shadow: inset 0 0 0 300px transparent;
        box-shadow: inset 0 0 0 300px transparent; } }

@-webkit-keyframes vex-pulse {
    0% {
        -moz-box-shadow: inset 0 0 0 300px transparent;
        -webkit-box-shadow: inset 0 0 0 300px transparent;
        box-shadow: inset 0 0 0 300px transparent; }
    70% {
        -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
        -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
        box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25); }
    100% {
        -moz-box-shadow: inset 0 0 0 300px transparent;
        -webkit-box-shadow: inset 0 0 0 300px transparent;
        box-shadow: inset 0 0 0 300px transparent; } }

@-moz-keyframes vex-pulse {
    0% {
        -moz-box-shadow: inset 0 0 0 300px transparent;
        -webkit-box-shadow: inset 0 0 0 300px transparent;
        box-shadow: inset 0 0 0 300px transparent; }
    70% {
        -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
        -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
        box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25); }
    100% {
        -moz-box-shadow: inset 0 0 0 300px transparent;
        -webkit-box-shadow: inset 0 0 0 300px transparent;
        box-shadow: inset 0 0 0 300px transparent; } }

@-ms-keyframes vex-pulse {
    0% {
        -moz-box-shadow: inset 0 0 0 300px transparent;
        -webkit-box-shadow: inset 0 0 0 300px transparent;
        box-shadow: inset 0 0 0 300px transparent; }
    70% {
        -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
        -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
        box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25); }
    100% {
        -moz-box-shadow: inset 0 0 0 300px transparent;
        -webkit-box-shadow: inset 0 0 0 300px transparent;
        box-shadow: inset 0 0 0 300px transparent; } }

@-o-keyframes vex-pulse {
    0% {
        -moz-box-shadow: inset 0 0 0 300px transparent;
        -webkit-box-shadow: inset 0 0 0 300px transparent;
        box-shadow: inset 0 0 0 300px transparent; }
    70% {
        -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
        -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
        box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25); }
    100% {
        -moz-box-shadow: inset 0 0 0 300px transparent;
        -webkit-box-shadow: inset 0 0 0 300px transparent;
        box-shadow: inset 0 0 0 300px transparent; } }

.vex.vex-theme-plain {
    height: 100%;
}
.vex.vex-theme-plain .vex-content {
    background: #fff;
    color: #444;
    padding: 1em;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
}
.vex.vex-theme-plain .vex-content h1, .vex.vex-theme-plain .vex-content h2, .vex.vex-theme-plain .vex-content h3, .vex.vex-theme-plain .vex-content h4, .vex.vex-theme-plain .vex-content h5, .vex.vex-theme-plain .vex-content h6, .vex.vex-theme-plain .vex-content p, .vex.vex-theme-plain .vex-content ul, .vex.vex-theme-plain .vex-content li {
    color: inherit; }
.vex.vex-theme-plain .vex-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer; }
.vex.vex-theme-plain .vex-close:before {
    position: absolute;
    content: "\00D7";
    font-size: 26px;
    font-weight: normal;
    line-height: 31px;
    height: 30px;
    width: 30px;
    text-align: center;
    top: 3px;
    right: 3px;
    color: #bbb;
    background: transparent; }
.vex.vex-theme-plain .vex-close:hover:before, .vex.vex-theme-plain .vex-close:active:before {
    color: #777;
    background: #e0e0e0; }
.vex.vex-theme-plain .vex-dialog-form .vex-dialog-message {
    margin-bottom: .5em; }
.vex.vex-theme-plain .vex-dialog-form .vex-dialog-input {
    margin-bottom: 1em; }
.vex.vex-theme-plain .vex-dialog-form .vex-dialog-input textarea, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="date"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="datetime"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="datetime-local"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="email"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="month"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="number"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="password"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="search"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="tel"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="text"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="time"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="url"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="week"] {
    /*background: #f0f0f0;
    width: 100%;
    padding: .25em .67em;
    border: 0;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    min-height: 2.5em;
    margin: 0 0 .25em;*/ }
.vex.vex-theme-plain .vex-dialog-form .vex-dialog-input textarea:focus, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="date"]:focus, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="datetime"]:focus, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="datetime-local"]:focus, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="email"]:focus, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="month"]:focus, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="number"]:focus, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="password"]:focus, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="search"]:focus, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="tel"]:focus, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="text"]:focus, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="time"]:focus, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="url"]:focus, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="week"]:focus {
    /*-moz-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
    outline: none;*/ }
.vex.vex-theme-plain .vex-dialog-form .vex-dialog-buttons {
    *zoom: 1; }
.vex.vex-theme-plain .vex-dialog-form .vex-dialog-buttons:after {
    content: "";
    display: table;
    clear: both; }
.vex.vex-theme-plain .vex-dialog-button {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0;
    float: right;
    margin: 0 0 0 .5em;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: .8em;
    line-height: 1em;
    padding: .75em 2em; }
.vex.vex-theme-plain .vex-dialog-button.vex-last {
    margin-left: 0; }
.vex.vex-theme-plain .vex-dialog-button:focus {
    animation: vex-pulse 1.1s infinite;
    -webkit-animation: vex-pulse 1.1s infinite;
    -moz-animation: vex-pulse 1.1s infinite;
    -ms-animation: vex-pulse 1.1s infinite;
    -o-animation: vex-pulse 1.1s infinite;
    -webkit-backface-visibility: hidden;
    outline: none; }
@media (max-width: 568px) {
    .vex.vex-theme-plain .vex-dialog-button:focus {
        animation: none;
        -webkit-animation: none;
        -moz-animation: none;
        -ms-animation: none;
        -o-animation: none;
        -webkit-backface-visibility: hidden; } }
.vex.vex-theme-plain .vex-dialog-button.vex-dialog-button-primary {
    background: #3288e6;
    color: #fff; }
.vex.vex-theme-plain .vex-dialog-button.vex-dialog-button-secondary {
    background: #e0e0e0;
    color: #777; }

.vex-loading-spinner.vex-theme-plain {
    height: 2.5em;
    width: 2.5em; }
/*custom vex*/
.vex.vex-custom .vex-dialog-buttons{
    text-align: center;
    display: block;
}
.vex.vex-custom .vex-dialog-button{
    float: none;
    letter-spacing: normal;

}
.vex.vex-custom .vex-dialog-button.vex-dialog-button-secondary{
    background: none;
    border: none;
    display: block;
    text-align: center;
    margin: 0 auto;
    text-decoration: underline;
    text-transform: lowercase;
    font-size: 14px;
}
.vex.vex-custom .vex-dialog-button.vex-dialog-button-secondary:hover{
    text-decoration: none;
}
.vex.vex-custom .vex-dialog-button.vex-dialog-button-primary{
    background: #fff;
    border: 1px solid #b7b7b7;
    color: #616161;
    display: block;
    margin: 20px auto 10px;
    padding: 20px 40px;
    font-size: 18px;
}
.vex.vex-custom .vex-dialog-button.vex-dialog-button-primary:hover{
    background: #ec008c;
    border: 1px solid #ec008c;
    color: #fff;
}





