/* ---------------------------------------------------------------------------- Colors */
$black: #313131;
$blue: #0065b3;
$blue2: #b5d1ea;
$violet: #ed018c;
$violet2: #c3178d;
$violet3: #c9008f;
$gray: #eaeaea;
$gray2: #f7f7f7;
$gray3: #e1e1e1;

/* ---------------------------------------------------------------------------//Colors */
/* ---------------------------------------------------------------------------- Import */
@import "base";
@import "fonts";
@import "fancy";
@import "mixins";
@import "slick";
/* ---------------------------------------------------------------------------//Import */
/* ---------------------------------------------------------------------------- Extend */
%try {
  font: em(14)/1.3 'muller',sans-serif;
  text-decoration: none;
  display: inline-block;
  width: em(260,14);
  padding: 1em 10px;
  color: #fff;
  border-radius: 3em;
  background: linear-gradient($violet,$violet2);
  &:hover {
    background: linear-gradient($violet2,$violet);
  }
}
%h2 {
  font: 800 em(34) 'helios',sans-serif;
  color: $violet2;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* ---------------------------------------------------------------------------//Extend */
/* ---------------------------------------------------------------------------- Common */
body {
  @include max(1023) {
    font-size: 14px;
  }
}
.hide {
  display: none;
}
.wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
button {
  outline: none;
}
.feedback {
  width: em(260);
  margin: 1em auto 0;
  input {
    width: 100%;
    border: 1px solid transparent;
    background: $gray;
    padding-left: 2.9em;
    font: em(14) 'proxima',sans-serif;
    height: em(60,14);
    margin-bottom: 1.1em;
    border-radius: em(40);
  }
  &__button,
  button {
    display: inline-block;
    width: 100%;
    border: none;
    font: em(14) 'proxima',sans-serif;
    line-height: em(60,14);
    background: $violet;
    background: linear-gradient($violet,$violet2);
    &:hover {
      background: linear-gradient($violet2,$violet);
    }
    border-radius: em(40);
    color: #fff;
  }
}
.tubevideo {
  .fancybox-close {
    top: -7%;
    right: 1.4%;
    &:before {
      background: #fff;
    }
  }
}
/* ---------------------------------------------------------------------------//Common */
/* ------------------------------------------------------------------------------- Nav */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $blue;
  z-index: 5;
  .wrapper {
    @include clearfix;
  }
  .logo {
    display: inline-block;
    vertical-align: middle;
    padding: 1em 0;
    img {
      display: inline-block;
      vertical-align: middle;
      width: 5em;
    }
    &__text {
      @include max(1099) {
        display: none;
      }
      @include min(1100) {
        display: inline-block;
        vertical-align: middle;
        font: em(11) 'proxima',sans-serif;
        margin-left: 1.5em;
        padding-left: 1.8em;
        border-left: 1px solid rgba(#fff,.5);
        color: #fff;
      }
    }
  }
  .menu {
    display: inline-block;
    vertical-align: middle;
    @include max(699) {
      float: right;
      margin-left: 1em;
    }
    @include min(700) {
      margin-left: 6.5%;
    }
    &__button {
      @include max(699) {
        margin-top: 1.2em;
        display: inline-block;
        width: 2em;
        height: 1.2em;
        position: relative;
        hr {
          border: none;
          height: 1px;
          background: #fff;
          margin: 0;
          position: absolute;
          width: 100%;
          &:nth-child(1) {
            top: 0;
          }
          &:nth-child(2) {
            top: 50%;
            margin-top: -.5px;
          }
          &:nth-child(3) {
            top: 100%;
          }
        }
        &.open {
          hr {
            top: 50%;
            margin-top: -.5px;
            &:nth-child(1) {
              transform: rotate(45deg);
            }
            &:nth-child(2) {
              display: none;
            }
            &:nth-child(3) {
              transform: rotate(-45deg);
            }
          }
          & ~ .menu__list {
            display: block;
          }
        }
      }
      @include min(700) {
        display: none;
      }
    }
    &__list {
      list-style: none;
      @include max(699) {
        display: none;
        position: absolute;
        background: $blue;
        left: 0;
        top: 100%;
        width: 100%;
        text-align: center;
      }
      li {
        @include min(700) {
          display: inline-block;
          &:not(:last-child) {
            margin-right: 2.22em;
          }
        }
        a {
          display: block;
          height: 100%;
          font: em(14) 'proxima',sans-serif;
          text-decoration: none;
          color: #fff;
          position: relative;
          @include max(699) {
            padding: .7em 0;
          }
          @include min(700) {
            padding: 1.6em 0;
            &:hover {
              &:after {
                content: ' ';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background: #fff;
                height: 2px;
              }
            }
          }
        }
      }
    }
  }
  .callme {
    float: right;
    display: block;
    text-align: center;
    width: 16em;
    padding: .94em 0;
    font: em(14)/1.35 'muller',sans-serif;
    text-decoration: none;
    color: #fff;
    background: linear-gradient($violet,$violet2);
    &:hover {
      background: linear-gradient($violet2,$violet);
    }
  }
}
/* ------------------------------------------------------------------------------//Nav */
/* ---------------------------------------------------------------------------- Header */
header {
  text-align: center;
  padding-top: 2.8em;
  background: url(../img/header_b.jpg) no-repeat 50% 0%/cover;
  .box {
    margin: 0 auto;
    width: 100%;
    max-width: em(700);
    height: em(700);
    position: relative;
    top: 6.3em;
    padding-top: 3em;
    z-index: 2;
    background: url(../img/octo.png) no-repeat 50% 0/cover;
  }
	.box h1{
		width: 50%;
		margin: 0 auto;
		text-align: center;
		word-wrap: break-word;
		@include max(399) {
			width: 90%;
			
		}
	}
  .advantage {
    li{
	    &:before {
	      content: ' ';
	      display: block;
	      /*background: url(../img/sprite2.png) no-repeat 50% 50%;*/
	      width:3.1em;
	      margin:1em auto .5em;
	      height:3.5em;
	      filter: grayscale(1);
	      background-repeat:no-repeat;
	      @include max(1023) {
	        background-size: 100% auto;
	      }
      
    }
      display: inline-block;
      list-style: none;
      font: em(12) 'muller',sans-serif;
      vertical-align: top;
	    word-wrap: break-word;
      @include max(1023) {
        width: 24%;
        max-width: 95px;
	      padding: 0 2%;
      }
      @include min(1024) {
        width: 18%;
        margin: 0 10px;
      }
      
    }
    .advantagepic1:before{
      background-image: url("../img/header-1.svg");
    }
    .advantagepic2:before{
      background-image: url("../img/header-2.svg");
    }
    .advantagepic3:before{
      background-image: url("../img/header-3.svg");
    }
    .advantagepic4:before{
      background-image: url("../img/header-4.svg");
    }
    
    /*.advantagepic1:before{
      background-image: url("../img/advantagepic1.svg");
    }
    .advantagepic2:before{
      background-image: url("../img/advantagepic2.svg");
    }
    .advantagepic3:before{
      background-image: url("../img/advantagepic3.svg");
    }
    .advantagepic4:before{
      background-image: url("../img/advantagepic4.svg");
    }*/
    
  }
  .icon {
    width: 8.1em;
  }
  .text {
    margin-top: .5em;
    font: 300 em(14) 'muller',sans-serif;
    &--2 {
      margin-top: 1.25em;
      color: $black;
      font: 1em 'muller',sans-serif;
      @include max(399) {
        padding: 0 10px;
        @include nobr;
      }
      b {
        font-size: em(18);
        font-weight: 600;
        color: $violet2;
      }
    }
  }
  .num {
    margin-top: .2em;
    font: 300 em(30) 'muller',sans-serif;
    color: $violet2;
  }
  .line {
    @include max(399) {
      display: none;
    }
    @include min(400) {
      max-width: 51.5%;
      margin: 1em auto;
      border: none;
      height: 2px;
      background: $gray;
    }
  }
  h1 {
    @extend %h2;
    @include max(399) {
      padding: 0 10px;
      @include nobr;
      font-size: 1.9em;
    }
  }
  .try {
    margin-top: 3.3em;
    animation: pulse 1.5s infinite ease-out;
    @extend %try;
  }
}
/* ---------------------------------------------------------------------------//Header */
/* ---------------------------------------------------------------------------- Block1 */
.b1 {
  text-align: center;
  padding: 3.2em 0 .3em;
  position: relative;
  &:after {
    content: ' ';
    @include max(1429) {
      display: none;
    }
    @include min(1430) {
      background: url(../img/im.png) no-repeat 0 0/contain;
      padding-top: 25.2%;
      width: 16.6%;
      position: absolute;
      right: 0;
      top: 12em;
    }
  }
  &:before {
    content: ' ';
    @include max(1429) {
      display: none;
    }
    @include min(1430) {
      background: url(../img/im2.png) no-repeat 0 0/contain;
      padding-top: 25.2%;
      width: 16.6%;
      position: absolute;
      left: 0;
      bottom: 10em;
    }
  }
  h2 {
    @extend %h2;
    margin-bottom: .4em;
  }
  .title {
    color: $black;
    margin: 2em 0 .6em;
    font: 600 em(20) 'muller',sans-serif;
  }
  .text {
    color: $black;
    font: 300 1em/1.2 'muller',sans-serif;
    &:first-of-type {
      font-size: em(18);
    }
  }
  ul {
    list-style: none;
    position: relative;
    z-index: 2;
    li {
      display: inline-block;
      vertical-align: top;
      max-width: 300px;
      margin: 3.3em .75em 0;
      text-align: left;
      img {
        max-width: 100%;
      }
    }
  }
  .desc {
    font: italic 300 em(18)/1.3 'muller',sans-serif;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    margin: 3.1em auto;
    max-width: 860px;
    padding: .9em 0;
    color: $black;
    @include max(399) {
      @include nobr;
    }
  }
}
/* ---------------------------------------------------------------------------//Block1 */
/* ------------------------------------------------------------------------- Exclusive */
.exclusive {
  padding: 5.6em 0 6em;
  background: $blue;
  text-align: center;
  .im {
    display: inline-block;
    vertical-align: middle;
    img {
      width: em(114);
    }
  }
  .box {
    text-align: left;
    position: relative;
    @include max(529) {
      margin-top: 1em;
      text-align: center;
      @include nobr;
    }
    @include min(530) {
      display: inline-block;
      vertical-align: middle;
      margin-left: 2.5em;
    }
    .title {
      color: #fff;
      font: em(26)/1.4 'muller',sans-serif;
    }
    .text {
      color: $blue2;
      margin-top: 1em;
      font: 300 1em/1.4 'muller',sans-serif;
    }
    @include min(790) {
      &:before {
        content: ' ';
        position: absolute;
        border-width: 1px 1px 0 0;
        border-style: solid;
        border-color: #fff;
        width: 1.2em;
        height: 1.2em;
        top: 50%;
        left: 107.5%;
        transform-origin: 100% 0;
        transform: rotate(45deg);
      }
      &:after {
        content: ' ';
        position: absolute;
        border-width: 2px 2px 0 0;
        border-style: solid;
        border-color: #fff;
        width: 2.7em;
        height: 2.7em;
        top: 50%;
        left: 105%;
        transform-origin: 100% 0;
        transform: rotate(45deg);
      }
    }
  }
  .free {
    @extend %try;
    text-align: center;
    vertical-align: middle;
    @include max(789) {
      margin: 2em 2em 0;
    }
    @include max(1099) {
      margin-left: 6em;
    }
    @include min(1100) {
      margin: 0 -1.5em 0 8em;
    }
  }
}
/* ------------------------------------------------------------------------//Exclusive */
/* ---------------------------------------------------------------------------- Block2 */
.b2 {
  padding: 5.7em 0 7.6em;
  position: relative;
  @include max(799) {
    @include nobr;
  }
  @include min(900) {
    &:before {
      @include min(1500) {
        content: ' ';
        position: absolute;
        z-index: 2;
        height: 103%;
        width: 29%;
        bottom: 4em;
        background: url(../img/guy.png) no-repeat 100% 100%/contain;
      }
      @include max(1699) {
        right: 0;
      }
      @include min(1700) {
        right: 4.5%;
      }
    }
    &:after {
      content: ' ';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 35%;
      padding-top: 17.3%;
      background: linear-gradient(153.7deg, transparent 50%,$violet 50%);
    }
  }
  h2 {
    text-align: center;
    @extend %h2;
    @include max(799) {
      max-width: 500px;
      margin: 0 auto;
    }
  }
  .box {
    margin-top: 3.2em;
    @include clearfix;
    .left {
      position: relative;
      @include max(699) {
        margin: 0 auto;
        padding-top: 57%;
      }
      @include min(700) {
        float: left;
        width: 47.5%;
        padding-top: 27%;
      }
      iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
    .right {
      max-width: 370px;
      @include max(699) {
        margin: 1em auto 0;
      }
      @include min(700) {
        margin-left: 5%;
        float: left;
        width: 47.5%;
      }
    }
  }
  .title {
    font: 300 em(26)/1.2 'muller',sans-serif;
    color: $black;
  }
  .text {
    margin-top: 1.8em;
    font: 300 1em/1.35 'muller',sans-serif;
  }
}
/* ---------------------------------------------------------------------------//Block2 */
/* ---------------------------------------------------------------------------//Block3 */
.b3 {
  padding: 5.7em 0 6.9em;
  text-align: center;
  position: relative;
	@include max(399) {
		padding: 0 10px;
		padding: 5em 0;
	}
  &.backimg {
    background: url(../img/b3_back.jpg) no-repeat 50% 0/cover;
  }
  @include max(799) {
    @include nobr;
  }
  @include min(800) {
    &:before {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      width: 35%;
      padding-top: 18.8%;
      background: linear-gradient(331.9deg, transparent 50%, #fff 50%);
    }
  }
  h2 {
    @extend %h2;
    color: #fff;
  }
  .title {
    margin-top: 1.6em;
    font: 600 em(20) 'muller',sans-serif;
    color: #fff;
  }
  .text {
    margin-top: .9em;
    font: 300 em(18) 'muller',sans-serif;
    color: #fff;
    &--2 {
      margin-top: .8em;
      font: 300 1em/1.3 'muller',sans-serif;
      color: $blue2;
      b {
        font-weight: 600;
      }
    }
  }
  ul {
    list-style: none;
    li {
      margin: 3.1em 0 .5em;
      display: inline-block;
      vertical-align: top;
      .callme {
        img {
          transition: .5s;
          max-height: 138px;
          max-width: 100%;
        }
        &:hover {
          img {
            transform: scale(1.1);
          }
        }
      }
      @include max(799) {
        padding: 0 15px;
        max-width: 300px;
      }
      @include min(800) {
        width: 27.4%;
      }
    }
  }
}
/* ---------------------------------------------------------------------------//Block3 */
/* ---------------------------------------------------------------------------//Block4 */
.b4 {
  text-align: center;
  padding-top: 5.9em;
  position: relative;
  &:after {
    content: ' ';
    @include max(1699) {
      display: none;
    }
    @include min(1700) {
      background: url(../img/im4.png) no-repeat 0 0/contain;
      padding-top: 34.2%;
      width: 21%;
      position: absolute;
      right: 0;
      top: 19.5em;
    }
  }
  &:before {
    content: ' ';
    @include max(1499) {
      display: none;
    }
    @include min(1500) {
      background: url(../img/im3.png) no-repeat 0 0/contain;
      padding-top: 21%;
      width: 12.5%;
      position: absolute;
      left: 0;
      top: 7.2em;
    }
  }
  h2 {
    @extend %h2;
  }
  ul {
    list-style: none;
    margin-top: 2em;
    &.backimg {
      .im {
        background: url(../img/sprite.png) no-repeat 0 0/100% auto;
      }
    }
    li {
      margin-top: 2.45em;
      display: inline-block;
      vertical-align: top;
      text-align: left;
      @include max(699) {
        width: 100%;
        max-width: 300px;
        padding-right: 2em;
      }
      @include min(700) {
        width: 29%;
      }
      .im {
        display: inline-block;
        vertical-align: top;
        width: 23%;
        padding-top: 23%;
      }
      .text {
        margin-top: .8em;
        display: inline-block;
        vertical-align: top;
        width: 75%;
        padding-left: 11%;
        font: 1em/1.4 'muller',sans-serif;
        color: $black;
        @include max(1179) {
          @include nobr;
        }
      }
      &:nth-child(3n+2) {
        @include min(700) {
          margin-left: 3.5%;
          margin-right: 3.5%;
        }
      }
      &:nth-child(2) {
        .im {
          background-position: 0 12.5%;
        }
      }
      &:nth-child(3) {
        .im {
          background-position: 0 25%;
        }
      }
      &:nth-child(4) {
        .im {
          background-position: 0 37.4%;
        }
      }
      &:nth-child(5) {
        .im {
          background-position: 0 50%;
        }
      }
      &:nth-child(6) {
        .im {
          background-position: 0 62.5%;
        }
      }
      &:nth-child(7) {
        .im {
          background-position: 0 75%;
        }
      }
      &:nth-child(8) {
        .im {
          background-position: 0 87.5%;
        }
      }
      &:nth-child(9) {
        .im {
          background-position: 0 100%;
        }
      }
    }
  }
  .desc {
    font: italic 300 em(18)/1.3 'muller',sans-serif;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    margin: 2.9em auto;
    max-width: 860px;
    padding: .9em 0;
    color: $black;
    @include max(529) {
      @include nobr;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
/* ---------------------------------------------------------------------------//Block4 */
/* ---------------------------------------------------------------------------- Block5 */
.b5 {
  position: relative;
  @include max(1023) {
    padding: 2.5em 0 5em;
  }
  @include min(1024) {
    padding: 2.5em 0 12.4em;
    &.backimg {
      &:before {
        content: ' ';
        position: absolute;
        left: 4.5%;
        bottom: 10.5%;
        background: url(../img/ball.png) no-repeat 0 100%/contain;
        width: 12%;
        padding-top: 12%;
        z-index: 2;
      }
    }
    &:after {
      content: ' ';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 35%;
      padding-top: 19%;
      background: linear-gradient(208.4deg, transparent 50%,$violet 50%);
    }
  }
  h2 {
    text-align: center;
    @extend %h2;
  }
  .box {
    margin-top: 4.5em;
    @include clearfix;
    .left {
      position: relative;
      @include max(699) {
        padding-top: 57%;
      }
      @include min(700) {
        float: left;
        width: 47.5%;
        padding-top: 26.9%;
      }
      iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .right {
      @include max(699) {
        margin: 3em auto 0;
        max-width: 300px;
        @include nobr;
      }
      @include min(700) {
        float: left;
        margin-left: 4.8%;
        width: 45%;
      }
      .im {
        position: absolute;
        top: 0;
        left: 0;
        width: em(40);
        height: em(40);
      }
      ul {
        list-style: none;
        &.backimg {
          .im {
            background: url(../img/sprite2.png) no-repeat 0 0/100% auto;
          }
        }
        li {
          position: relative;
          padding-left: 4.4em;
          margin-bottom: 2.2em;
          &:nth-child(2) {
            .im { background-position: 0 50%; }
          }
          &:nth-child(3) {
            .im { background-position: 0 101%; }
          }
        }
      }
      .title {
        font: 600 em(20)/1 'muller',sans-serif;
        color: $black;
      }
      .text {
        margin-top: .9em;
        font: 300 1em/1.2 'muller',sans-serif;
        color: $black;
        max-width: 350px;
      }
    }
  }
  .see {
    @extend %try;
    text-align: center;
    margin: .7em 0 0 5em;
  }
}
/* ---------------------------------------------------------------------------//Block5 */
/* ---------------------------------------------------------------------------- Block6 */
.b6 {
  padding: 5.7em 0 5.9em;
  position: relative;
  &.backimg {
    background: url(../img/b6_back.jpg) no-repeat 50% 0/cover;
  }
  @include min(700) {
    &:after {
      content: ' ';
      position: absolute;
      top: 0;
      right: 0;
      width: 34.8%;
      padding-top: 18.8%;
      background: linear-gradient(28.2deg, transparent 50%, #fff 50%);
    }
  }
  h2 {
    text-align: center;
    @extend %h2;
    color: #fff;
  }
  .subtitle {
    margin-top: .9em;
    text-align: center;
    font: 300 em(18) 'muller',sans-serif;
    color: #fff;
  }
  .box {
    @include clearfix;
    margin-top: 1.6em;
    .left {
      text-align: right;
      list-style: none;
      counter-reset: num;
      @include max(699) {
        @include nobr;
        max-width: 360px;
        margin: 0 auto;
      }
      @include min(700) {
        float: left;
        width: 47.5%;
      }
      li {
        margin-top: 1.8em;
        position: relative;
        padding-right: 8.3em;
        &:after {
          content: counter(num);
          counter-increment: num;
          position: absolute;
          top: 0;
          right: 0;
          width: 5.1em;
          height: 2.3em;
          font: 600 1em 'muller',sans-serif;
          color: #fff;
          padding: 1.1em 1.3em 0 0;
          background: url(../img/num_back.png) no-repeat 50% 0/contain;
        }
        p {
          font: 1em/1.4 'muller',sans-serif;
          margin-left: auto;
          color: $blue2;
          max-width: 330px;
        }
      }
    }
    .right {
      margin-top: 1.8em;
      @include min(700) {
        float: right;
        width: 47.5%;
      }
      .video {
        position: relative;
        padding-top: 56%;
      }
      iframe {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
      }
      .ib {
        margin-top: 1.3em;
        @include min(900) {
          @include just;
        }
        .fl {
          vertical-align: middle;
          font: 300 1em/1.4 'muller',sans-serif;
          color: #fff;
          position: relative;
          @include max(899) {
            text-align: center;
          }
          @include min(900) {
            text-align: right;
            width: 42%;
            &:before {
              content: ' ';
              position: absolute;
              border-width: 1px 1px 0 0;
              border-style: solid;
              border-color: #fff;
              width: .7em;
              height: .7em;
              top: 50%;
              left: 110%;
              transform-origin: 100% 0;
              transform: rotate(45deg);
            }
            &:after {
              content: ' ';
              position: absolute;
              border-width: 2px 2px 0 0;
              border-style: solid;
              border-color: #fff;
              width: 1.8em;
              height: 1.8em;
              top: 50%;
              left: 105%;
              transform-origin: 100% 0;
              transform: rotate(45deg);
            }
          }
        }
        .fr {
          vertical-align: middle;
          .consult {
            @include max(899)  {
              display: block;
              margin: 1em auto 0;
            }
            text-align: center;
            @extend %try;
          }
        }
      }
    }
  }
}
/* ---------------------------------------------------------------------------//Block6 */
/* ---------------------------------------------------------------------------- Block7 */
.b7 {
  padding: 8.8em 0 1em;
  text-align: center;
  position: relative;
  &.backimg {
    background: url(../img/b7_back.png) no-repeat 50% 0/cover;
  }
  h2 {
    @extend %h2;
    color: #fff;
  }
  .subtitle {
    margin-top: .9em;
    font: 300 em(18) 'muller',sans-serif;
    color: #fff;
  }
  .im {
    border: 2px solid $blue2;
    position: relative;
    @include max(699) {
      display: inline-block;
      width: 100%;
      padding-top: 56%;
    }
    @include min(700) {
      float: left;
      width: 47%;
      padding-top: 26%;
    }
    @include between(700,1023) {
      width: 50%;
    }
    img {
      max-width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .cont {
    text-align: left;
    @include max(699) {
      margin-top: 1em;
    }
    @include min(700) {
      float: right;
      width: 47%;
    }
    .text {
      font: 300 1em/1.35 'muller',sans-serif;
      color: $blue2;
    }
    .title {
      margin-top: 1.7em;
      font: 600 em(20) 'muller',sans-serif;
      color: #fff;
    }
    .desc {
      margin-top: 1em;
      font: italic 1em 'muller',sans-serif;
      color: #fff;
    }
  }
  .slider {
    max-width: 900px;
    margin: 3.3em auto 0;
    .item {
      @include clearfix;
      @include max(1023) {
        padding: 0 3em;
      }
    }
    .video {
      position: relative;
      padding-top: 55%;
      width: 100%;
      margin: 0 auto;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .slick {
      &-prev {
        position: absolute;
        top: 50%;
        z-index: 2;
        border: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
        text-indent: -100px;
        width: 3em;
        height: 3em;
        background: none;
        border-style: solid;
        border-color: $blue2;
        transform: rotate(-45deg);
        transform-origin: 0 0;
        @include max(1023) {
          left: 0;
        }
        @include max(1199) {
          border-width: 2px 0 0 2px;
        }
        @include min(1200) {
          right: 112%;
          border-width: 1px 0 0 1px;
        }
      }
      &-next {
        position: absolute;
        top: 50%;
        z-index: 2;
        border: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
        text-indent: -100px;
        width: 3em;
        height: 3em;
        background: none;
        border-style: solid;
        border-color: $blue2;
        transform: rotate(45deg);
        transform-origin: 100% 0;
        @include max(1023) {
          right: 0;
        }
        @include max(1199) {
          border-width: 2px 2px 0 0;
        }
        @include min(1200) {
          left: 112%;
          border-width: 1px 1px 0 0;
        }
      }
    }
  }
  .photos {
    max-width: 900px;
    margin: 2.5em auto;
    border-top: 1px solid rgba(#fff,.2);
    padding: 2.5em 0;
    a {
      display: inline-block;
      vertical-align: top;
      position: relative;
      max-width: 30%;
      margin: .5em;
      &:before {
        content: url(../img/cup.png);
        position: absolute;
        top: .8em;
        left: .8em;
      }
      &:hover {
        &:after {
          content: ' ';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: url(../img/zoom.png) no-repeat 50% 50%;
        }
        img {
          opacity: .6;
        }
      }
      img {
        max-width: 100%;
        width: 150px;
        box-shadow: 0 0 0 2px $blue2;
      }
    }
  }
}
/* ---------------------------------------------------------------------------//Block7 */
/* ---------------------------------------------------------------------------- Block8 */
.b8 {
  padding: 5.8em 0 7em;
  text-align: center;
  background: $gray2;
  h2 {
    @extend %h2;
  }
  .subtitle {
    margin-top: .9em;
    font: 300 em(18) 'muller',sans-serif;
  }
  .slider {
    max-width: 980px;
    margin: 3.4em auto 0;
    @include max(739) {
      padding: 0 2em;
    }
    .title {
      padding: 0 .7em;
      font: 600 em(20) 'muller',sans-serif;
      color: $black;
      @include max(1049) {
        text-align: center;
      }
    }
    .im {
      display: inline-block;
      margin-top: 1em;
      position: relative;
      img,
      iframe {
        max-width: 100%;
        width: 300px;
        height: 168px;
        display: block;
        margin: 0 auto;
      }
      &:before {
        content: ' ';
        display: none;
        background: rgba($blue,.4) url(../img/play.png) no-repeat 50% 50%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      &:hover {
        &:before {
          display: block;
        }
      }
    }
    .text {
      text-align: left;
      margin-top: 1.6em;
      padding: 0 1em;
      font: 300 1em/1.4 'muller',sans-serif;
      color: $black;
    }
    .slick {
      &-prev {
        position: absolute;
        top: 10.8em;
        z-index: 2;
        border: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
        text-indent: -100px;
        width: 2.5em;
        height: 2.5em;
        background: none;
        border-width: 2px 0 0 2px;
        border-style: solid;
        border-color: $black;
        transform: rotate(-45deg);
        transform-origin: 0 0;
        @include max(1023) {
          left: 0;
        }
        @include max(1189) {
        }
        @include min(1190) {
          right: 107.3%;
        }
        &:hover {
          border-color: $violet;
        }
      }
      &-next {
        position: absolute;
        top: 10.8em;
        z-index: 2;
        border: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
        text-indent: -100px;
        width: 2.5em;
        height: 2.5em;
        background: none;
        border-width: 2px 2px 0 0;
        border-style: solid;
        border-color: $black;
        transform: rotate(45deg);
        transform-origin: 100% 0;
        @include max(1023) {
          right: 0;
        }
        @include max(1189) {
        }
        @include min(1190) {
          left: 107.3%;
        }
        &:hover {
          border-color: $violet;
        }
      }
    }
  }
}
/* ---------------------------------------------------------------------------//Block8 */
/* ---------------------------------------------------------------------------- Block9 */
.b9 {
  position: relative;
  h2 {
    @extend %h2;
  }
  .num {
    margin-top: .9em;
    font: 300 em(18) 'muller',sans-serif;
    b {
      color: $violet3;
    }
  }
  .top {
    padding: 3.2em 0 0 3.7em;
  }
  .adress {
    background: #fff;
    @include max(739) {
      padding-bottom: 2em;
    }
    @include min(740) {
      position: absolute;
      top: 0;
      margin-left: 4%;
      width: 42%;
      height: 100%;
      z-index: 2;
    }
  }
  .slider {
    text-align: center;
    margin-top: 3.4em;
    counter-reset: num;
    .oct {
      position: absolute;
      width: em(50);
      height: em(50);
      top: 50%;
      left: 0;
      background: url(../img/oct.png) no-repeat 0 100%/100% auto;
      text-align: center;
      font: 1em 'muller',sans-serif;
      line-height: em(50);
      color: $black;
      transform: translateY(-50%);
      @include max(1023) {
        margin-left: .5em;
      }
    }
    .box {
      text-align: left;
      max-width: 420px;
      margin: 0 auto;
      padding: 1.2em 0 1.5em 4.5em;
      position: relative;
    }
    p {
      margin-top: .75em;
      font: 1em 'muller',sans-serif;
      color: $black;
      max-width: 90%;
    }
    .slick {
      &-slide:not(.slick-current) {
        cursor: pointer;
      }
      &-current {
        background: $violet;
        background: linear-gradient($violet2,$violet);
        .oct {
          color: #fff;
          background-position: 0 0;
        }
        p {
          color: #fff;
        }
      }
      &-prev {
        margin: 0 auto 1.4em;
        padding: 0;
        overflow: hidden;
        text-indent: -100px;
        width: 2.5em;
        height: 2.5em;
        background: none;
        border-width: 1px 1px 0 0;
        border-style: solid;
        border-color: $gray3;
        transform: rotate(-45deg);
        &:hover {
          border-color: $violet;
        }
      }
      &-next {
        margin: 1.7em auto 0;
        padding: 0;
        overflow: hidden;
        text-indent: -100px;
        width: 2.5em;
        height: 2.5em;
        background: none;
        border-width: 0 0 1px 1px;
        border-style: solid;
        border-color: $gray3;
        transform: rotate(-45deg);
        &:hover {
          border-color: $violet;
        }
      }
    }
  }
  #map {
    height: em(796);
    .adr {
      font: 1em 'muller',sans-serif;
    }
  }
}
/* ---------------------------------------------------------------------------//Block9 */
/* --------------------------------------------------------------------------- Block10 */
.b10 {
  padding-top: 3.5em;
  &.backimg {
    background: url(../img/b10_back.jpg) no-repeat 50% 0/cover;
  }
  .im {
    img {
      width: 13em;
    }
    @include max(1079) {
      text-align: center;
    }
    @include min(1080) {
      display: inline-block;
      vertical-align: top;
    }
  }
  .text {
    font: 300 em(26)/1.35 'muller',sans-serif;
    color: #fff;
    position: relative;
    @include max(1079) {
      margin-top: 1em;
      text-align: center;
      @include nobr;
    }
    @include min(1080) {
      display: inline-block;
      vertical-align: top;
      width: 45%;
      margin: 1.5em 0 0 2.3%;
      &:before {
        content: ' ';
        position: absolute;
        border-width: 1px 1px 0 0;
        border-style: solid;
        border-color: #fff;
        width: .7em;
        height: .7em;
        top: 50%;
        right: .4em;
        transform-origin: 100% 0;
        transform: rotate(45deg);
      }
      &:after {
        content: ' ';
        position: absolute;
        border-width: 2px 2px 0 0;
        border-style: solid;
        border-color: #fff;
        width: 1.8em;
        height: 1.8em;
        top: 50%;
        right: 0;
        transform-origin: 100% 0;
        transform: rotate(45deg);
      }
    }
  }
  .call {
    @extend %try;
    text-align: center;
    padding: 1.5em;
    @include max(1079) {
      text-align: center;
      margin: 2em auto 0;
      display: block;
    }
    @include min(1080) {
      display: inline-block;
      vertical-align: top;
      margin: 3em 0 0 7.5%;
    }
  }
}
/* --------------------------------------------------------------------------//Block10 */
/* ---------------------------------------------------------------------------- Footer */
footer {
  background: $blue;
  .wrapper {
    width: 100%;
    padding: 1.1em 0;
    @include min(400) {
      display: table;
      table-layout: fixed;
    }
    &>div {
      @include max(399) {
        text-align: center;
        margin: .5em 0;
      }
      @include min(400) {
        vertical-align: middle;
        display: table-cell;
      }
    }
    .logo {
      padding-left: .6em;
      img {
        display: inline-block;
        vertical-align: middle;
        width: 5em;
      }
      &__text {
        @include max(699) {
          display: none;
        }
        @include min(700) {
          display: inline-block;
          vertical-align: middle;
          font: em(11) 'proxima',sans-serif;
          margin-left: 1.5em;
          padding-left: 1.8em;
          border-left: 1px solid rgba(#fff,.5);
          color: #fff;
        }
      }
    }
    .polit {
      text-align: center;
      color: $blue2;
      font: em(14)/1 'proxima',sans-serif;
      a {
        color: $blue2;
        font: em(14)/1 'proxima',sans-serif;
        text-decoration: none;
        border-bottom: 1px solid rgba(#fff,.2);
        margin-bottom:5px;
        display:inline-block;
      }
    }
    .cont {
      @include min(400) {
        text-align: right;
        padding-right: .5em;
      }
      &__text {
        font: 300 em(14) 'muller',sans-serif;
        color: $blue2;
      }
      &__num {
        margin-top: .3em;
        font: 300 em(18) 'muller',sans-serif;
        color: #fff;
      }
    }
  }
}
/* ---------------------------------------------------------------------------//Footer */
/* ---------------------------------------------------------------------------- Popups */
#thanks {
  text-align: center;
  background: #fff;
  padding: 4.5em 0 4.1em;
  h2 {
    @extend %h2;
    font-size: em(26);
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 0 1em;
  }
}
#polit {
  background: #fff;
  padding: 4.5em 0 4.1em;
  h2 {
    @extend %h2;
    font-size: em(26);
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 0 1em;
  }
  .text {
    max-width: 800px;
    max-height: 500px;
    overflow-y: scroll;
    margin: 2em auto 0;
    padding: 0 3em 2em;
    ul {
      li {
        margin: 1em 0 0 1em;
        font: 1em 'muller',sans-serif;
      }
    }
    p {
      margin-top: 1em;
      font: 1em 'muller',sans-serif;
    }
    h6 {
      text-transform: uppercase;
      font: em(18) 'muller',sans-serif;
      margin: 1em 0 .5em;
    }
  }
}
#cons,
#callme {
  text-align: center;
  background: #fff;
  padding: 2.5em 0 2.1em;
  h2 {
    @extend %h2;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 0 1em;
  }
  .subtitle {
    margin-top: .6em;
    text-align: center;
    font: 300 em(18) 'muller',sans-serif;
  }
  .desc {
    font: em(13) 'muller',sans-serif;
    margin-top: 2.1em;
    color: $black;
  }
}
#try {
  max-width: 871px;
  background: #fff;
  padding: 4.5em 0 4.1em;
  h2 {
    @extend %h2;
    text-align: center;
    padding: 0 1em;
  }
  .title {
    font: 600 em(20)/1.2 'muller',sans-serif;
  }
  .subtitle {
    margin-top: .6em;
    text-align: center;
    font: 300 em(18) 'muller',sans-serif;
  }
  .text {
    margin-top: .7em;
    font: 300 1em/1.35 'muller',sans-serif;
    color: $black;
  }
  .box {
    margin-top: 2em;
    @include clearfix;
    .left {
      @include max(599) {
        padding: .6em 1.5em 0;
      }
      @include min(600) {
        padding: .6em 2em 0 5em;
        float: left;
        width: 50%;
      }
      ul {
        list-style: none;
        @include just;
        .im {
          margin: .2em auto 0;
          width: em(36);
          height: em(35);
          background: url(../img/sprite3.png) no-repeat 0 0/auto 100%;
        }
        p {
          margin-top: .2em;
          font: em(14)/1.2 'muller',sans-serif;
          color: $black;
        }
        li {
          text-align: center;
          margin: 1em 0 0;
          width: 45%;
          &:nth-child(2) { .im { background-position: 19% 50%; } }
          &:nth-child(3) { .im { background-position: 38.5% 100%; } }
          &:nth-child(4) { .im { background-position: 59.3% 100%; } }
          &:nth-child(5) { .im { background-position: 81.5% 100%; } }
          &:nth-child(6) { .im { background-position: 100% 100%; } }
        }
      }
    }
    .right {
      text-align: center;
      border-left: 1px solid $gray;
      padding: .6em 3em .5em 2em;
      @include min(600) {
        float: right;
        width: 50%;
      }
    }
  }
  .desc {
    font: em(13) 'muller',sans-serif;
    margin-top: 2.1em;
    color: $black;
  }
}
#tube {
  .video {
    max-width: 90%;
    padding-top: 45%;
    width: 2000px;
    position: relative;
    margin: 0 auto;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
/* ---------------------------------------------------------------------------//Popups */
