/* ---------------------------------------------------------------------------- Colors */
/* ---------------------------------------------------------------------------//Colors */
/* ---------------------------------------------------------------------------- Import */
/* ------------------------------------------------------------------------------ Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

textarea, button, select, input {
  box-sizing: border-box; }

img {
  vertical-align: top; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  width: 100%;
  display: block; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote.fancybox-close:after, blockquote:after, q:before, q.fancybox-close:after, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

label, a, button {
  cursor: pointer; }

/* -----------------------------------------------------------------------------//Reset */
/* ------------------------------------------------------------------------------- Proxima */
@font-face {
  font-family: "proxima";
  src: url("../fonts/ProximaNovaBlack.otf");
  font-weight: 900; }
@font-face {
  font-family: "proxima";
  src: url("../fonts/ProximaNovaExtrabold.otf");
  font-weight: 800; }
@font-face {
  font-family: "proxima";
  src: url("../fonts/ProximaNovaBold.otf");
  font-weight: 700; }
@font-face {
  font-family: "proxima";
  src: url("../fonts/ProximaNovaSemibold.otf");
  font-weight: 600; }
@font-face {
  font-family: "proxima";
  src: url("../fonts/ProximaNovaRegular.otf");
  font-weight: 400; }
@font-face {
  font-family: "proxima";
  src: url("../fonts/ProximaNovaLight.otf");
  font-weight: 300; }
@font-face {
  font-family: "proxima";
  src: url("../fonts/ProximaNovaThin.otf");
  font-weight: 300; }
/* ------------------------------------------------------------------------------//Proxima */
/* -------------------------------------------------------------------------------- Muller */
@font-face {
  font-family: "muller";
  src: url("../fonts/MullerHairline.otf");
  font-weight: 100; }
@font-face {
  font-family: "muller";
  src: url("../fonts/MullerThin.otf");
  font-weight: 200; }
@font-face {
  font-family: "muller";
  src: url("../fonts/MullerUltraLight.otf");
  font-weight: 300; }
@font-face {
  font-family: "muller";
  src: url("../fonts/MullerRegular.otf");
  font-weight: 400; }
@font-face {
  font-family: "muller";
  src: url("../fonts/MullerMedium.otf");
  font-weight: 600; }
@font-face {
  font-family: "muller";
  src: url("../fonts/MullerBold.otf");
  font-weight: 700; }
@font-face {
  font-family: "muller";
  src: url("../fonts/MullerExtraBold.otf");
  font-weight: 800; }
/* -------------------------------------------------------------------------------//Muller */
/* -------------------------------------------------------------------------------- Helios */
@font-face {
  font-family: "helios";
  src: url("../fonts/HeliosCondRegular/HeliosCondRegular.eot");
  src: url("../fonts/HeliosCondRegular/HeliosCondRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/HeliosCondRegular/HeliosCondRegular.woff") format("woff"), url("../fonts/HeliosCondRegular/HeliosCondRegular.ttf") format("truetype"); }
@font-face {
  font-family: "helios";
  src: url("../fonts/HeliosCondBold/HeliosCondBold.eot");
  src: url("../fonts/HeliosCondBold/HeliosCondBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HeliosCondBold/HeliosCondBold.woff") format("woff"), url("../fonts/HeliosCondBold/HeliosCondBold.ttf") format("truetype");
  font-weight: 800; }
/* -------------------------------------------------------------------------------//Helios */
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020; }

.fancybox-skin {
  position: relative;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.fancybox-opened {
  z-index: 8030; }

.fancybox-opened .fancybox-skin {
  /*	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  */ }

.fancybox-outer, .fancybox-inner {
  position: relative; }

.fancybox-inner {
  overflow: hidden; }

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch; }

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap; }

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%; }

.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060; }

#fancybox-loading div {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  border-width: .3em;
  border-style: solid;
  border-color: transparent; }

.fancybox-close {
  color: #000;
  position: absolute;
  width: 1em;
  top: 1.3em;
  right: 1.5em;
  height: 2em;
  cursor: pointer;
  z-index: 8040; }
  .fancybox-close:before, .fancybox-close:after {
    content: ' ';
    display: block;
    height: 2px;
    top: 50%;
    position: absolute;
    width: 100%;
    background: gray;
    transform: rotate(45deg); }
  .fancybox-close:after {
    transform: rotate(-45deg); }

.fancybox-close:hover:before, .fancybox-close:hover:after,
.fancybox-close:hover:after {
  background: black; }

.fancybox-nav {
  position: absolute;
  top: 0;
  padding-top: 40%;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040; }

.fancybox-prev:after {
  content: ' ';
  position: absolute;
  left: 10px;
  display: block;
  width: 1em;
  height: 1em;
  top: 50%;
  border-width: 0 0 2px 2px;
  margin-top: -.5em;
  border-style: solid;
  border-color: #3f3f3f;
  transform: rotate(45deg); }

.fancybox-next:after {
  content: ' ';
  display: block;
  position: absolute;
  right: 10px;
  width: 1em;
  height: 1em;
  border-width: 2px 2px 0 0;
  top: 50%;
  margin-top: -.5em;
  border-style: solid;
  border-color: #3f3f3f;
  transform: rotate(45deg); }

.fancybox-prev {
  left: 0;
  opacity: 0; }

.fancybox-next {
  right: 0;
  opacity: 0; }

.fancybox-next:hover:after,
.fancybox-prev:hover:after {
  border-color: blue; }

.fancybox-next:hover,
.fancybox-prev:hover {
  opacity: 1; }

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden; }

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px; }

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px; }

.fancybox-nav:hover:after {
  visibility: visible; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto; }

.fancybox-lock body {
  overflow: hidden !important; }

.fancybox-lock-test {
  overflow-y: hidden !important; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: rgba(0, 101, 179, 0.9); }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll; }

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050; }

.fancybox-opened .fancybox-title {
  visibility: visible; }

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center; }

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap; }

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

.fancybox-title-inside-wrap {
  padding-top: 10px; }

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track.fancybox-close:after, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  outline: none;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* ---------------------------------------------------------------------------//Import */
/* ---------------------------------------------------------------------------- Extend */
header .try, .exclusive .free, .b5 .see, .b6 .box .right .ib .fr .consult, .b10 .call {
  font: 0.875em/1.3 "muller", sans-serif;
  text-decoration: none;
  display: inline-block;
  width: 18.5714285714em;
  padding: 1em 10px;
  color: #fff;
  border-radius: 3em;
  background: linear-gradient(#ed018c, #c3178d); }
  header .try:hover, .exclusive .free:hover, .b5 .see:hover, .b6 .box .right .ib .fr .consult:hover, .b10 .call:hover {
    background: linear-gradient(#c3178d, #ed018c); }

header h1, .b1 h2, .b2 h2, .b3 h2, .b4 h2, .b5 h2, .b6 h2, .b7 h2, .b8 h2, .b9 h2, #thanks h2, #polit h2, #cons h2,
#callme h2, #try h2 {
  font: 800 2.125em "helios", sans-serif;
  color: #c3178d; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
/* ---------------------------------------------------------------------------//Extend */
/* ---------------------------------------------------------------------------- Common */
@media screen and (max-width: 1023px) {
  body {
    font-size: 14px; } }

.hide {
  display: none; }

.wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px; }

button {
  outline: none; }

.feedback {
  width: 16.25em;
  margin: 1em auto 0; }
  .feedback input {
    width: 100%;
    border: 1px solid transparent;
    background: #eaeaea;
    padding-left: 2.9em;
    font: 0.875em "proxima", sans-serif;
    height: 4.2857142857em;
    margin-bottom: 1.1em;
    border-radius: 2.5em; }
  .feedback__button,
  .feedback button {
    display: inline-block;
    width: 100%;
    border: none;
    font: 0.875em "proxima", sans-serif;
    line-height: 4.2857142857em;
    background: #ed018c;
    background: linear-gradient(#ed018c, #c3178d);
    border-radius: 2.5em;
    color: #fff; }
    .feedback__button:hover,
    .feedback button:hover {
      background: linear-gradient(#c3178d, #ed018c); }

.tubevideo .fancybox-close {
  top: -7%;
  right: 1.4%; }
  .tubevideo .fancybox-close:before, .tubevideo .fancybox-close:after {
    background: #fff; }

/* ---------------------------------------------------------------------------//Common */
/* ------------------------------------------------------------------------------- Nav */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #0065b3;
  z-index: 5; }
  nav .wrapper:after {
    content: " ";
    font-size: 0;
    visibility: hidden;
    display: block;
    clear: both;
    height: 0; }
  nav .logo {
    display: inline-block;
    vertical-align: middle;
    padding: 1em 0; }
    nav .logo img {
      display: inline-block;
      vertical-align: middle;
      width: 5em; }
    @media screen and (max-width: 1099px) {
      nav .logo__text {
        display: none; } }
    @media screen and (min-width: 1100px) {
      nav .logo__text {
        display: inline-block;
        vertical-align: middle;
        font: 0.6875em "proxima", sans-serif;
        margin-left: 1.5em;
        padding-left: 1.8em;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        color: #fff; } }
  nav .menu {
    display: inline-block;
    vertical-align: middle; }
    @media screen and (max-width: 699px) {
      nav .menu {
        float: right;
        margin-left: 1em; } }
    @media screen and (min-width: 700px) {
      nav .menu {
        margin-left: 6.5%; } }
    @media screen and (max-width: 699px) {
      nav .menu__button {
        margin-top: 1.2em;
        display: inline-block;
        width: 2em;
        height: 1.2em;
        position: relative; }
        nav .menu__button hr {
          border: none;
          height: 1px;
          background: #fff;
          margin: 0;
          position: absolute;
          width: 100%; }
          nav .menu__button hr:nth-child(1) {
            top: 0; }
          nav .menu__button hr:nth-child(2) {
            top: 50%;
            margin-top: -.5px; }
          nav .menu__button hr:nth-child(3) {
            top: 100%; }
        nav .menu__button.open hr {
          top: 50%;
          margin-top: -.5px; }
          nav .menu__button.open hr:nth-child(1) {
            transform: rotate(45deg); }
          nav .menu__button.open hr:nth-child(2) {
            display: none; }
          nav .menu__button.open hr:nth-child(3) {
            transform: rotate(-45deg); }
        nav .menu__button.open ~ .menu__list {
          display: block; } }
    @media screen and (min-width: 700px) {
      nav .menu__button {
        display: none; } }
    nav .menu__list {
      list-style: none; }
      @media screen and (max-width: 699px) {
        nav .menu__list {
          display: none;
          position: absolute;
          background: #0065b3;
          left: 0;
          top: 100%;
          width: 100%;
          text-align: center; } }
      @media screen and (min-width: 700px) {
        nav .menu__list li {
          display: inline-block; }
          nav .menu__list li:not(:last-child) {
            margin-right: 2.22em; } }
      nav .menu__list li a {
        display: block;
        height: 100%;
        font: 0.875em "proxima", sans-serif;
        text-decoration: none;
        color: #fff;
        position: relative; }
        @media screen and (max-width: 699px) {
          nav .menu__list li a {
            padding: .7em 0; } }
        @media screen and (min-width: 700px) {
          nav .menu__list li a {
            padding: 1.6em 0; }
            nav .menu__list li a:hover:after {
              content: ' ';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              background: #fff;
              height: 2px; } }
  nav .callme {
    float: right;
    display: block;
    text-align: center;
    width: 17em;
    padding: .94em 0;
    font: 0.875em/1.35 "muller", sans-serif;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(#ed018c, #c3178d); }
    nav .callme:hover {
      background: linear-gradient(#c3178d, #ed018c); }

/* ------------------------------------------------------------------------------//Nav */
/* ---------------------------------------------------------------------------- Header */
header {
  text-align: center;
  padding-top: 2.8em;
  background: url(../img/header_b.jpg) no-repeat 50% 0%/cover; }
  header .box {
    margin: 0 auto;
    width: 100%;
    max-width: 43.75em;
    height: 43.75em;
    position: relative;
    top: 6.3em;
    padding-top: 3em;
    z-index: 2;
    background: url(../img/octo.png) no-repeat 50% 0/cover; }
  header .advantage li {
    display: inline-block;
    list-style: none;
    font: 0.875em "muller", sans-serif;
    vertical-align: top; }
    header .advantage li:before, header .advantage li.fancybox-close:after {
      content: ' ';
      display: block;
      background: url(../img/sprite2.png) no-repeat 50% 50%;
      width: 2.5em;
      margin: 1em auto .5em;
      height: 2.5em;
      filter: grayscale(1); }
      @media screen and (max-width: 1023px) {
        header .advantage li:before, header .advantage li.fancybox-close:after {
          background-size: 100% auto; } }
    @media screen and (max-width: 1023px) {
      header .advantage li {
        width: 24%;
        max-width: 95px; } }
    @media screen and (min-width: 1024px) {
      header .advantage li {
        width: 18%; } }
  header .icon {
    width: 8.1em; }
  header .text {
    margin-top: .5em;
    font: 300 0.875em "muller", sans-serif; }
    header .text--2 {
      margin-top: 1.25em;
      color: #313131;
      font: 1em 'muller',sans-serif; }
      @media screen and (max-width: 399px) {
        header .text--2 {
          padding: 0 10px; }
          header .text--2 br {
            display: none; } }
      header .text--2 b {
        font-size: 1.125em;
        font-weight: 600;
        color: #c3178d; }
  header .num {
    margin-top: .2em;
    font: 300 1.875em "muller", sans-serif;
    color: #c3178d; }
  @media screen and (max-width: 399px) {
    header .line {
      display: none; } }
  @media screen and (min-width: 400px) {
    header .line {
      max-width: 51.5%;
      margin: 1em auto;
      border: none;
      height: 2px;
      background: #eaeaea; } }
  @media screen and (max-width: 399px) {
    header h1 {
      padding: 0 10px;
      font-size: 1.9em; }
      header h1 br {
        display: none; } }
  header .try {
    margin-top: 3.3em;
    animation: pulse 1.5s infinite ease-out; }

/* ---------------------------------------------------------------------------//Header */
/* ---------------------------------------------------------------------------- Block1 */
.b1 {
  text-align: center;
  padding: 3.2em 0 .3em;
  position: relative; }
  .b1:after {
    content: ' '; }
    @media screen and (max-width: 1429px) {
      .b1:after {
        display: none; } }
    @media screen and (min-width: 1430px) {
      .b1:after {
        background: url(../img/im.png) no-repeat 0 0/contain;
        padding-top: 25.2%;
        width: 16.6%;
        position: absolute;
        right: 0;
        top: 12em; } }
  .b1:before, .b1.fancybox-close:after {
    content: ' '; }
    @media screen and (max-width: 1429px) {
      .b1:before, .b1.fancybox-close:after {
        display: none; } }
    @media screen and (min-width: 1430px) {
      .b1:before, .b1.fancybox-close:after {
        background: url(../img/im2.png) no-repeat 0 0/contain;
        padding-top: 25.2%;
        width: 16.6%;
        position: absolute;
        left: 0;
        bottom: 10em; } }
  .b1 h2 {
    margin-bottom: .4em; }
  .b1 .title {
    color: #313131;
    margin: 2em 0 .6em;
    font: 600 1.25em "muller", sans-serif; }
  .b1 .text {
    color: #313131;
    font: 300 1em/1.2 'muller',sans-serif; }
    .b1 .text:first-of-type {
      font-size: 1.125em; }
  .b1 ul {
    list-style: none;
    position: relative;
    z-index: 2; }
    .b1 ul li {
      display: inline-block;
      vertical-align: top;
      max-width: 300px;
      margin: 3.3em .75em 0;
      text-align: left; }
      .b1 ul li img {
        max-width: 100%; }
  .b1 .desc {
    font: italic 300 1.125em/1.3 "muller", sans-serif;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    margin: 3.1em auto;
    max-width: 860px;
    padding: .9em 0;
    color: #313131; }
    @media screen and (max-width: 399px) {
      .b1 .desc br {
        display: none; } }

/* ---------------------------------------------------------------------------//Block1 */
/* ------------------------------------------------------------------------- Exclusive */
.exclusive {
  padding: 5.6em 0 6em;
  background: #0065b3;
  text-align: center; }
  .exclusive .im {
    display: inline-block;
    vertical-align: middle; }
    .exclusive .im img {
      width: 7.125em; }
  .exclusive .box {
    text-align: left;
    position: relative; }
    @media screen and (max-width: 529px) {
      .exclusive .box {
        margin-top: 1em;
        text-align: center; }
        .exclusive .box br {
          display: none; } }
    @media screen and (min-width: 530px) {
      .exclusive .box {
        display: inline-block;
        vertical-align: middle;
        margin-left: 2.5em; } }
    .exclusive .box .title {
      color: #fff;
      font: 1.625em/1.4 "muller", sans-serif; }
    .exclusive .box .text {
      color: #b5d1ea;
      margin-top: 1em;
      font: 300 1em/1.4 'muller',sans-serif; }
    @media screen and (min-width: 790px) {
      .exclusive .box:before, .exclusive .box.fancybox-close:after {
        content: ' ';
        position: absolute;
        border-width: 1px 1px 0 0;
        border-style: solid;
        border-color: #fff;
        width: 1.2em;
        height: 1.2em;
        top: 50%;
        left: 107.5%;
        transform-origin: 100% 0;
        transform: rotate(45deg); }
      .exclusive .box:after {
        content: ' ';
        position: absolute;
        border-width: 2px 2px 0 0;
        border-style: solid;
        border-color: #fff;
        width: 2.7em;
        height: 2.7em;
        top: 50%;
        left: 105%;
        transform-origin: 100% 0;
        transform: rotate(45deg); } }
  .exclusive .free {
    text-align: center;
    vertical-align: middle; }
    @media screen and (max-width: 789px) {
      .exclusive .free {
        margin: 2em 2em 0; } }
    @media screen and (max-width: 1099px) {
      .exclusive .free {
        margin-left: 6em; } }
    @media screen and (min-width: 1100px) {
      .exclusive .free {
        margin: 0 -1.5em 0 8em; } }

/* ------------------------------------------------------------------------//Exclusive */
/* ---------------------------------------------------------------------------- Block2 */
.b2 {
  padding: 5.7em 0 7.6em;
  position: relative; }
  @media screen and (max-width: 799px) {
    .b2 br {
      display: none; } }
@media screen and (min-width: 900px) and (min-width: 1500px) {
  .b2:before, .b2.fancybox-close:after {
    content: ' ';
    position: absolute;
    z-index: 2;
    height: 103%;
    width: 29%;
    bottom: 4em;
    background: url(../img/guy.png) no-repeat 100% 100%/contain; } }
@media screen and (min-width: 900px) and (max-width: 1699px) {
  .b2:before, .b2.fancybox-close:after {
    right: 0; } }
@media screen and (min-width: 900px) and (min-width: 1700px) {
  .b2:before, .b2.fancybox-close:after {
    right: 4.5%; } }
  @media screen and (min-width: 900px) {
    .b2:after {
      content: ' ';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 35%;
      padding-top: 17.3%;
      background: linear-gradient(153.7deg, transparent 50%, #ed018c 50%); } }
  .b2 h2 {
    text-align: center; }
    @media screen and (max-width: 799px) {
      .b2 h2 {
        max-width: 500px;
        margin: 0 auto; } }
  .b2 .box {
    margin-top: 3.2em; }
    .b2 .box:after {
      content: " ";
      font-size: 0;
      visibility: hidden;
      display: block;
      clear: both;
      height: 0; }
    .b2 .box .left {
      position: relative; }
      @media screen and (max-width: 699px) {
        .b2 .box .left {
          margin: 0 auto;
          padding-top: 57%; } }
      @media screen and (min-width: 700px) {
        .b2 .box .left {
          float: left;
          width: 47.5%;
          padding-top: 27%; } }
      .b2 .box .left iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; }
    .b2 .box .right {
      max-width: 370px; }
      @media screen and (max-width: 699px) {
        .b2 .box .right {
          margin: 1em auto 0; } }
      @media screen and (min-width: 700px) {
        .b2 .box .right {
          margin-left: 5%;
          float: left;
          width: 47.5%; } }
  .b2 .title {
    font: 300 1.625em/1.2 "muller", sans-serif;
    color: #313131; }
  .b2 .text {
    margin-top: 1.8em;
    font: 300 1em/1.35 'muller',sans-serif; }

/* ---------------------------------------------------------------------------//Block2 */
/* ---------------------------------------------------------------------------//Block3 */
.b3 {
  padding: 5.7em 0 6.9em;
  text-align: center;
  position: relative; }
  .b3.backimg {
    background: url(../img/b3_back.jpg) no-repeat 50% 0/cover; }
  @media screen and (max-width: 799px) {
    .b3 br {
      display: none; } }
  @media screen and (min-width: 800px) {
    .b3:before, .b3.fancybox-close:after {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      width: 35%;
      padding-top: 18.8%;
      background: linear-gradient(331.9deg, transparent 50%, #fff 50%); } }
  .b3 h2 {
    color: #fff; }
  .b3 .title {
    margin-top: 1.6em;
    font: 600 1.25em "muller", sans-serif;
    color: #fff; }
  .b3 .text {
    margin-top: .9em;
    font: 300 1.125em "muller", sans-serif;
    color: #fff; }
    .b3 .text--2 {
      margin-top: .8em;
      font: 300 1em/1.3 'muller',sans-serif;
      color: #b5d1ea; }
      .b3 .text--2 b {
        font-weight: 600; }
  .b3 ul {
    list-style: none; }
    .b3 ul li {
      margin: 3.1em 0 .5em;
      display: inline-block;
      vertical-align: top; }
      .b3 ul li .callme img {
        transition: .5s;
        max-height: 138px;
        max-width: 100%; }
      .b3 ul li .callme:hover img {
        transform: scale(1.1); }
      @media screen and (max-width: 799px) {
        .b3 ul li {
          padding: 0 15px;
          max-width: 300px; } }
      @media screen and (min-width: 800px) {
        .b3 ul li {
          width: 27.4%; } }

/* ---------------------------------------------------------------------------//Block3 */
/* ---------------------------------------------------------------------------//Block4 */
.b4 {
  text-align: center;
  padding-top: 5.9em;
  position: relative; }
  .b4:after {
    content: ' '; }
    @media screen and (max-width: 1699px) {
      .b4:after {
        display: none; } }
    @media screen and (min-width: 1700px) {
      .b4:after {
        background: url(../img/im4.png) no-repeat 0 0/contain;
        padding-top: 34.2%;
        width: 21%;
        position: absolute;
        right: 0;
        top: 19.5em; } }
  .b4:before, .b4.fancybox-close:after {
    content: ' '; }
    @media screen and (max-width: 1499px) {
      .b4:before, .b4.fancybox-close:after {
        display: none; } }
    @media screen and (min-width: 1500px) {
      .b4:before, .b4.fancybox-close:after {
        background: url(../img/im3.png) no-repeat 0 0/contain;
        padding-top: 21%;
        width: 12.5%;
        position: absolute;
        left: 0;
        top: 7.2em; } }
  .b4 ul {
    list-style: none;
    margin-top: 2em; }
    .b4 ul.backimg .im {
      background: url(../img/sprite.png) no-repeat 0 0/100% auto; }
    .b4 ul li {
      margin-top: 2.45em;
      display: inline-block;
      vertical-align: top;
      text-align: left; }
      @media screen and (max-width: 699px) {
        .b4 ul li {
          width: 100%;
          max-width: 300px;
          padding-right: 2em; } }
      @media screen and (min-width: 700px) {
        .b4 ul li {
          width: 29%; } }
      .b4 ul li .im {
        display: inline-block;
        vertical-align: top;
        width: 23%;
        padding-top: 23%; }
      .b4 ul li .text {
        margin-top: .8em;
        display: inline-block;
        vertical-align: top;
        width: 75%;
        padding-left: 11%;
        font: 1em/1.4 'muller',sans-serif;
        color: #313131; }
        @media screen and (max-width: 1179px) {
          .b4 ul li .text br {
            display: none; } }
      @media screen and (min-width: 700px) {
        .b4 ul li:nth-child(3n+2) {
          margin-left: 3.5%;
          margin-right: 3.5%; } }
      .b4 ul li:nth-child(2) .im {
        background-position: 0 12.5%; }
      .b4 ul li:nth-child(3) .im {
        background-position: 0 25%; }
      .b4 ul li:nth-child(4) .im {
        background-position: 0 37.4%; }
      .b4 ul li:nth-child(5) .im {
        background-position: 0 50%; }
      .b4 ul li:nth-child(6) .im {
        background-position: 0 62.5%; }
      .b4 ul li:nth-child(7) .im {
        background-position: 0 75%; }
      .b4 ul li:nth-child(8) .im {
        background-position: 0 87.5%; }
      .b4 ul li:nth-child(9) .im {
        background-position: 0 100%; }
  .b4 .desc {
    font: italic 300 1.125em/1.3 "muller", sans-serif;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    margin: 2.9em auto;
    max-width: 860px;
    padding: .9em 0;
    color: #313131; }
    @media screen and (max-width: 529px) {
      .b4 .desc {
        padding-left: 10px;
        padding-right: 10px; }
        .b4 .desc br {
          display: none; } }

/* ---------------------------------------------------------------------------//Block4 */
/* ---------------------------------------------------------------------------- Block5 */
.b5 {
  position: relative; }
  @media screen and (max-width: 1023px) {
    .b5 {
      padding: 2.5em 0 5em; } }
  @media screen and (min-width: 1024px) {
    .b5 {
      padding: 2.5em 0 12.4em; }
      .b5.backimg:before, .b5.backimg.fancybox-close:after {
        content: ' ';
        position: absolute;
        left: 4.5%;
        bottom: 10.5%;
        background: url(../img/ball.png) no-repeat 0 100%/contain;
        width: 12%;
        padding-top: 12%;
        z-index: 2; }
      .b5:after {
        content: ' ';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 35%;
        padding-top: 19%;
        background: linear-gradient(208.4deg, transparent 50%, #ed018c 50%); } }
  .b5 h2 {
    text-align: center; }
  .b5 .box {
    margin-top: 4.5em; }
    .b5 .box:after {
      content: " ";
      font-size: 0;
      visibility: hidden;
      display: block;
      clear: both;
      height: 0; }
    .b5 .box .left {
      position: relative; }
      @media screen and (max-width: 699px) {
        .b5 .box .left {
          padding-top: 57%; } }
      @media screen and (min-width: 700px) {
        .b5 .box .left {
          float: left;
          width: 47.5%;
          padding-top: 26.9%; } }
      .b5 .box .left iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; }
    @media screen and (max-width: 699px) {
      .b5 .box .right {
        margin: 3em auto 0;
        max-width: 300px; }
        .b5 .box .right br {
          display: none; } }
    @media screen and (min-width: 700px) {
      .b5 .box .right {
        float: left;
        margin-left: 4.8%;
        width: 45%; } }
    .b5 .box .right .im {
      position: absolute;
      top: 0;
      left: 0;
      width: 2.5em;
      height: 2.5em; }
    .b5 .box .right ul {
      list-style: none; }
      .b5 .box .right ul.backimg .im {
        background: url(../img/sprite2.png) no-repeat 0 0/100% auto; }
      .b5 .box .right ul li {
        position: relative;
        padding-left: 4.4em;
        margin-bottom: 2.2em; }
        .b5 .box .right ul li:nth-child(2) .im {
          background-position: 0 50%; }
        .b5 .box .right ul li:nth-child(3) .im {
          background-position: 0 101%; }
    .b5 .box .right .title {
      font: 600 1.25em/1 "muller", sans-serif;
      color: #313131; }
    .b5 .box .right .text {
      margin-top: .9em;
      font: 300 1em/1.2 'muller',sans-serif;
      color: #313131;
      max-width: 350px; }
  .b5 .see {
    text-align: center;
    margin: .7em 0 0 5em; }

/* ---------------------------------------------------------------------------//Block5 */
/* ---------------------------------------------------------------------------- Block6 */
.b6 {
  padding: 5.7em 0 5.9em;
  position: relative; }
  .b6.backimg {
    background: url(../img/b6_back.jpg) no-repeat 50% 0/cover; }
  @media screen and (min-width: 700px) {
    .b6:after {
      content: ' ';
      position: absolute;
      top: 0;
      right: 0;
      width: 34.8%;
      padding-top: 18.8%;
      background: linear-gradient(28.2deg, transparent 50%, #fff 50%); } }
  .b6 h2 {
    text-align: center;
    color: #fff; }
  .b6 .subtitle {
    margin-top: .9em;
    text-align: center;
    font: 300 1.125em "muller", sans-serif;
    color: #fff; }
  .b6 .box {
    margin-top: 1.6em; }
    .b6 .box:after {
      content: " ";
      font-size: 0;
      visibility: hidden;
      display: block;
      clear: both;
      height: 0; }
    .b6 .box .left {
      text-align: right;
      list-style: none;
      counter-reset: num; }
      @media screen and (max-width: 699px) {
        .b6 .box .left {
          max-width: 360px;
          margin: 0 auto; }
          .b6 .box .left br {
            display: none; } }
      @media screen and (min-width: 700px) {
        .b6 .box .left {
          float: left;
          width: 47.5%; } }
      .b6 .box .left li {
        margin-top: 1.8em;
        position: relative;
        padding-right: 8.3em; }
        .b6 .box .left li:after {
          content: counter(num);
          counter-increment: num;
          position: absolute;
          top: 0;
          right: 0;
          width: 5.1em;
          height: 2.3em;
          font: 600 1em 'muller',sans-serif;
          color: #fff;
          padding: 1.1em 1.3em 0 0;
          background: url(../img/num_back.png) no-repeat 50% 0/contain; }
        .b6 .box .left li p {
          font: 1em/1.4 'muller',sans-serif;
          margin-left: auto;
          color: #b5d1ea;
          max-width: 330px; }
    .b6 .box .right {
      margin-top: 1.8em; }
      @media screen and (min-width: 700px) {
        .b6 .box .right {
          float: right;
          width: 47.5%; } }
      .b6 .box .right .video {
        position: relative;
        padding-top: 56%; }
      .b6 .box .right iframe {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%; }
      .b6 .box .right .ib {
        margin-top: 1.3em; }
        @media screen and (min-width: 900px) {
          .b6 .box .right .ib {
            text-align: justify;
            line-height: 0; }
            .b6 .box .right .ib > ul, .b6 .box .right .ib > div, .b6 .box .right .ib > li {
              display: inline-block;
              line-height: normal; }
            .b6 .box .right .ib:after {
              content: ' ';
              font-size: 0;
              display: inline-block;
              height: 0;
              width: 100%; } }
        .b6 .box .right .ib .fl {
          vertical-align: middle;
          font: 300 1em/1.4 'muller',sans-serif;
          color: #fff;
          position: relative; }
          @media screen and (max-width: 899px) {
            .b6 .box .right .ib .fl {
              text-align: center; } }
          @media screen and (min-width: 900px) {
            .b6 .box .right .ib .fl {
              text-align: right;
              width: 42%; }
              .b6 .box .right .ib .fl:before, .b6 .box .right .ib .fl.fancybox-close:after {
                content: ' ';
                position: absolute;
                border-width: 1px 1px 0 0;
                border-style: solid;
                border-color: #fff;
                width: .7em;
                height: .7em;
                top: 50%;
                left: 110%;
                transform-origin: 100% 0;
                transform: rotate(45deg); }
              .b6 .box .right .ib .fl:after {
                content: ' ';
                position: absolute;
                border-width: 2px 2px 0 0;
                border-style: solid;
                border-color: #fff;
                width: 1.8em;
                height: 1.8em;
                top: 50%;
                left: 105%;
                transform-origin: 100% 0;
                transform: rotate(45deg); } }
        .b6 .box .right .ib .fr {
          vertical-align: middle; }
          .b6 .box .right .ib .fr .consult {
            text-align: center; }
            @media screen and (max-width: 899px) {
              .b6 .box .right .ib .fr .consult {
                display: block;
                margin: 1em auto 0; } }

/* ---------------------------------------------------------------------------//Block6 */
/* ---------------------------------------------------------------------------- Block7 */
.b7 {
  padding: 8.8em 0 1em;
  text-align: center;
  position: relative; }
  .b7.backimg {
    background: url(../img/b7_back.png) no-repeat 50% 0/cover; }
  .b7 h2 {
    color: #fff; }
  .b7 .subtitle {
    margin-top: .9em;
    font: 300 1.125em "muller", sans-serif;
    color: #fff; }
  .b7 .im {
    border: 2px solid #b5d1ea;
    position: relative; }
    @media screen and (max-width: 699px) {
      .b7 .im {
        display: inline-block;
        width: 100%;
        padding-top: 56%; } }
    @media screen and (min-width: 700px) {
      .b7 .im {
        float: left;
        width: 47%;
        padding-top: 26%; } }
    @media screen and (min-width: 700px) and (max-width: 1023px) {
      .b7 .im {
        width: 50%; } }
    .b7 .im img {
      max-width: 100%;
      position: absolute;
      top: 0;
      left: 0; }
    .b7 .im iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
  .b7 .cont {
    text-align: left; }
    @media screen and (max-width: 699px) {
      .b7 .cont {
        margin-top: 1em; } }
    @media screen and (min-width: 700px) {
      .b7 .cont {
        float: right;
        width: 47%; } }
    .b7 .cont .text {
      font: 300 1em/1.35 'muller',sans-serif;
      color: #b5d1ea; }
    .b7 .cont .title {
      margin-top: 1.7em;
      font: 600 1.25em "muller", sans-serif;
      color: #fff; }
    .b7 .cont .desc {
      margin-top: 1em;
      font: italic 1em 'muller',sans-serif;
      color: #fff; }
  .b7 .slider {
    max-width: 900px;
    margin: 3.3em auto 0; }
    .b7 .slider .item:after {
      content: " ";
      font-size: 0;
      visibility: hidden;
      display: block;
      clear: both;
      height: 0; }
    @media screen and (max-width: 1023px) {
      .b7 .slider .item {
        padding: 0 3em; } }
    .b7 .slider .video {
      position: relative;
      padding-top: 55%;
      width: 100%;
      margin: 0 auto; }
      .b7 .slider .video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    .b7 .slider .slick-prev {
      position: absolute;
      top: 50%;
      z-index: 2;
      border: none;
      padding: 0;
      margin: 0;
      overflow: hidden;
      text-indent: -100px;
      width: 3em;
      height: 3em;
      background: none;
      border-style: solid;
      border-color: #b5d1ea;
      transform: rotate(-45deg);
      transform-origin: 0 0; }
      @media screen and (max-width: 1023px) {
        .b7 .slider .slick-prev {
          left: 0; } }
      @media screen and (max-width: 1199px) {
        .b7 .slider .slick-prev {
          left: -4em;
          border-width: 2px 0 0 2px; } }
      @media screen and (min-width: 1200px) {
        .b7 .slider .slick-prev {
          right: 112%;
          border-width: 1px 0 0 1px; } }
    .b7 .slider .slick-next {
      position: absolute;
      top: 50%;
      z-index: 2;
      border: none;
      padding: 0;
      margin: 0;
      overflow: hidden;
      text-indent: -100px;
      width: 3em;
      height: 3em;
      background: none;
      border-style: solid;
      border-color: #b5d1ea;
      transform: rotate(45deg);
      transform-origin: 100% 0; }
      @media screen and (max-width: 1023px) {
        .b7 .slider .slick-next {
          right: 0; } }
      @media screen and (max-width: 1199px) {
        .b7 .slider .slick-next {
          right: -4em;
          border-width: 2px 2px 0 0; } }
      @media screen and (min-width: 1200px) {
        .b7 .slider .slick-next {
          left: 112%;
          border-width: 1px 1px 0 0; } }
  .b7 .photos {
    max-width: 900px;
    margin: 2.5em auto;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 2.5em 0; }
    .b7 .photos a {
      display: inline-block;
      vertical-align: top;
      position: relative;
      max-width: 30%;
      margin: .5em; }
      .b7 .photos a:before, .b7 .photos a.fancybox-close:after {
        content: url(../img/cup.png);
        position: absolute;
        top: .8em;
        left: .8em; }
      .b7 .photos a:hover:after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../img/zoom.png) no-repeat 50% 50%; }
      .b7 .photos a:hover img {
        opacity: .6; }
      .b7 .photos a img {
        max-width: 100%;
        width: 150px;
        box-shadow: 0 0 0 2px #b5d1ea; }

/* ---------------------------------------------------------------------------//Block7 */
/* ---------------------------------------------------------------------------- Block8 */
.b8 {
  padding: 5.8em 0 7em;
  text-align: center;
  background: #f7f7f7; }
  .b8 .subtitle {
    margin-top: .9em;
    font: 300 1.125em "muller", sans-serif; }
  .b8 .slider {
    max-width: 980px;
    margin: 3.4em auto 0; }
    @media screen and (max-width: 739px) {
      .b8 .slider {
        padding: 0 2em; } }
    .b8 .slider .title {
      padding: 0 .7em;
      font: 600 1.25em "muller", sans-serif;
      color: #313131; }
      @media screen and (max-width: 1049px) {
        .b8 .slider .title {
          text-align: center; } }
    .b8 .slider .im {
      display: inline-block;
      margin-top: 1em;
      position: relative; }
      .b8 .slider .im img,
      .b8 .slider .im iframe {
        max-width: 100%;
        width: 300px;
        height: 168px;
        display: block;
        margin: 0 auto; }
      .b8 .slider .im:before, .b8 .slider .im.fancybox-close:after {
        content: ' ';
        display: none;
        background: rgba(0, 101, 179, 0.4) url(../img/play.png) no-repeat 50% 50%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
      .b8 .slider .im:hover:before, .b8 .slider .im.fancybox-close:hover:after {
        display: block; }
    .b8 .slider .text {
      text-align: left;
      margin-top: 1.6em;
      padding: 0 1em;
      font: 300 1em/1.4 'muller',sans-serif;
      color: #313131; }
    .b8 .slider .slick-prev {
      position: absolute;
      top: 10.8em;
      z-index: 2;
      border: none;
      padding: 0;
      margin: 0;
      overflow: hidden;
      text-indent: -100px;
      width: 2.5em;
      height: 2.5em;
      background: none;
      border-width: 2px 0 0 2px;
      border-style: solid;
      border-color: #313131;
      transform: rotate(-45deg);
      transform-origin: 0 0; }
      @media screen and (max-width: 1023px) {
        .b8 .slider .slick-prev {
          left: 0; } }
      @media screen and (max-width: 1189px) {
        .b8 .slider .slick-prev {
          left: -2em; } }
      @media screen and (min-width: 1190px) {
        .b8 .slider .slick-prev {
          right: 107.3%; } }
      .b8 .slider .slick-prev:hover {
        border-color: #ed018c; }
    .b8 .slider .slick-next {
      position: absolute;
      top: 10.8em;
      z-index: 2;
      border: none;
      padding: 0;
      margin: 0;
      overflow: hidden;
      text-indent: -100px;
      width: 2.5em;
      height: 2.5em;
      background: none;
      border-width: 2px 2px 0 0;
      border-style: solid;
      border-color: #313131;
      transform: rotate(45deg);
      transform-origin: 100% 0; }
      @media screen and (max-width: 1023px) {
        .b8 .slider .slick-next {
          right: 0; } }
      @media screen and (max-width: 1189px) {
        .b8 .slider .slick-next {
          right: -2em; } }
      @media screen and (min-width: 1190px) {
        .b8 .slider .slick-next {
          left: 107.3%; } }
      .b8 .slider .slick-next:hover {
        border-color: #ed018c; }

/* ---------------------------------------------------------------------------//Block8 */
/* ---------------------------------------------------------------------------- Block9 */
.b9 {
  position: relative; }
  .b9 .num {
    margin-top: .9em;
    font: 300 1.125em "muller", sans-serif; }
    .b9 .num b {
      color: #c9008f; }
  .b9 .top {
    padding: 3.2em 0 0 3.7em; }
  .b9 .adress {
    background: #fff; }
    @media screen and (max-width: 739px) {
      .b9 .adress {
        padding-bottom: 2em; } }
    @media screen and (min-width: 740px) {
      .b9 .adress {
        position: absolute;
        top: 0;
        margin-left: 4%;
        width: 42%;
        height: 100%;
        z-index: 2; } }
  .b9 .slider {
    text-align: center;
    margin-top: 3.4em;
    counter-reset: num; }
    .b9 .slider .oct {
      position: absolute;
      width: 3.125em;
      height: 3.125em;
      top: 50%;
      left: 0;
      background: url(../img/oct.png) no-repeat 0 100%/100% auto;
      text-align: center;
      font: 1em 'muller',sans-serif;
      line-height: 3.125em;
      color: #313131;
      transform: translateY(-50%); }
      @media screen and (max-width: 1023px) {
        .b9 .slider .oct {
          margin-left: .5em; } }
    .b9 .slider .box {
      text-align: left;
      max-width: 420px;
      margin: 0 auto;
      padding: 1.2em 0 1.5em 4.5em;
      position: relative; }
    .b9 .slider p {
      margin-top: .75em;
      font: 1em 'muller',sans-serif;
      color: #313131;
      max-width: 90%; }
    .b9 .slider .slick-slide:not(.slick-current) {
      cursor: pointer; }
    .b9 .slider .slick-current {
      background: #ed018c;
      background: linear-gradient(#c3178d, #ed018c); }
      .b9 .slider .slick-current .oct {
        color: #fff;
        background-position: 0 0; }
      .b9 .slider .slick-current p {
        color: #fff; }
    .b9 .slider .slick-prev {
      margin: 0 auto 1.4em;
      padding: 0;
      overflow: hidden;
      text-indent: -100px;
      width: 2.5em;
      height: 2.5em;
      background: none;
      border-width: 1px 1px 0 0;
      border-style: solid;
      border-color: #e1e1e1;
      transform: rotate(-45deg); }
      .b9 .slider .slick-prev:hover {
        border-color: #ed018c; }
    .b9 .slider .slick-next {
      margin: 1.7em auto 0;
      padding: 0;
      overflow: hidden;
      text-indent: -100px;
      width: 2.5em;
      height: 2.5em;
      background: none;
      border-width: 0 0 1px 1px;
      border-style: solid;
      border-color: #e1e1e1;
      transform: rotate(-45deg); }
      .b9 .slider .slick-next:hover {
        border-color: #ed018c; }
  .b9 #map {
    height: 49.75em; }
    .b9 #map .adr {
      font: 1em 'muller',sans-serif; }

/* ---------------------------------------------------------------------------//Block9 */
/* --------------------------------------------------------------------------- Block10 */
.b10 {
  padding-top: 3.5em; }
  .b10.backimg {
    background: url(../img/b10_back.jpg) no-repeat 50% 0/cover; }
  .b10 .im img {
    width: 13em; }
  @media screen and (max-width: 1079px) {
    .b10 .im {
      text-align: center; } }
  @media screen and (min-width: 1080px) {
    .b10 .im {
      display: inline-block;
      vertical-align: top; } }
  .b10 .text {
    font: 300 1.625em/1.35 "muller", sans-serif;
    color: #fff;
    position: relative; }
    @media screen and (max-width: 1079px) {
      .b10 .text {
        margin-top: 1em;
        text-align: center; }
        .b10 .text br {
          display: none; } }
    @media screen and (min-width: 1080px) {
      .b10 .text {
        display: inline-block;
        vertical-align: top;
        width: 45%;
        margin: 1.5em 0 0 2.3%; }
        .b10 .text:before, .b10 .text.fancybox-close:after {
          content: ' ';
          position: absolute;
          border-width: 1px 1px 0 0;
          border-style: solid;
          border-color: #fff;
          width: .7em;
          height: .7em;
          top: 50%;
          right: .4em;
          transform-origin: 100% 0;
          transform: rotate(45deg); }
        .b10 .text:after {
          content: ' ';
          position: absolute;
          border-width: 2px 2px 0 0;
          border-style: solid;
          border-color: #fff;
          width: 1.8em;
          height: 1.8em;
          top: 50%;
          right: 0;
          transform-origin: 100% 0;
          transform: rotate(45deg); } }
  .b10 .call {
    text-align: center;
    padding: 1.5em; }
    @media screen and (max-width: 1079px) {
      .b10 .call {
        text-align: center;
        margin: 2em auto 0;
        display: block; } }
    @media screen and (min-width: 1080px) {
      .b10 .call {
        display: inline-block;
        vertical-align: top;
        margin: 3em 0 0 7.5%; } }

/* --------------------------------------------------------------------------//Block10 */
/* ---------------------------------------------------------------------------- Footer */
footer {
  background: #0065b3; }
  footer .wrapper {
    width: 100%;
    padding: 1.1em 0; }
    @media screen and (min-width: 400px) {
      footer .wrapper {
        display: table;
        table-layout: fixed; } }
    @media screen and (max-width: 399px) {
      footer .wrapper > div {
        text-align: center;
        margin: .5em 0; } }
    @media screen and (min-width: 400px) {
      footer .wrapper > div {
        vertical-align: middle;
        display: table-cell; } }
    footer .wrapper .logo {
      padding-left: .6em; }
      footer .wrapper .logo img {
        display: inline-block;
        vertical-align: middle;
        width: 5em; }
      @media screen and (max-width: 699px) {
        footer .wrapper .logo__text {
          display: none; } }
      @media screen and (min-width: 700px) {
        footer .wrapper .logo__text {
          display: inline-block;
          vertical-align: middle;
          font: 0.6875em "proxima", sans-serif;
          margin-left: 1.5em;
          padding-left: 1.8em;
          border-left: 1px solid rgba(255, 255, 255, 0.5);
          color: #fff; } }
    footer .wrapper .polit {
      text-align: center;
      color: #b5d1ea;
      font: 0.875em/1 "proxima", sans-serif; }
      footer .wrapper .polit a {
        color: #b5d1ea;
        font: 0.875em/1 "proxima", sans-serif;
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        margin-bottom: 5px;
        display: inline-block; }
    @media screen and (min-width: 400px) {
      footer .wrapper .cont {
        text-align: right;
        padding-right: .5em; } }
    footer .wrapper .cont__text {
      font: 300 0.875em "muller", sans-serif;
      color: #b5d1ea; }
    footer .wrapper .cont__num {
      margin-top: .3em;
      font: 300 1.125em "muller", sans-serif;
      color: #fff; }

/* ---------------------------------------------------------------------------//Footer */
/* ---------------------------------------------------------------------------- Popups */
#thanks {
  text-align: center;
  background: #fff;
  padding: 4.5em 0 4.1em; }
  #thanks h2 {
    font-size: 1.625em;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 0 1em; }

#polit {
  background: #fff;
  padding: 4.5em 0 4.1em; }
  #polit h2 {
    font-size: 1.625em;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 0 1em; }
  #polit .text {
    max-width: 800px;
    max-height: 500px;
    overflow-y: scroll;
    margin: 2em auto 0;
    padding: 0 3em 2em; }
    #polit .text ul li {
      margin: 1em 0 0 1em;
      font: 1em 'muller',sans-serif; }
    #polit .text p {
      margin-top: 1em;
      font: 1em 'muller',sans-serif; }
    #polit .text h6 {
      text-transform: uppercase;
      font: 1.125em "muller", sans-serif;
      margin: 1em 0 .5em; }

#cons,
#callme {
  text-align: center;
  background: #fff;
  padding: 2.5em 0 2.1em; }
  #cons h2,
  #callme h2 {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 0 1em; }
  #cons .subtitle,
  #callme .subtitle {
    margin-top: .6em;
    text-align: center;
    font: 300 1.125em "muller", sans-serif; }
  #cons .desc,
  #callme .desc {
    font: 0.8125em "muller", sans-serif;
    margin-top: 2.1em;
    color: #313131; }

#try {
  max-width: 871px;
  background: #fff;
  padding: 4.5em 0 4.1em; }
  #try h2 {
    text-align: center;
    padding: 0 1em; }
  #try .title {
    font: 600 1.25em/1.2 "muller", sans-serif; }
  #try .subtitle {
    margin-top: .6em;
    text-align: center;
    font: 300 1.125em "muller", sans-serif; }
  #try .text {
    margin-top: .7em;
    font: 300 1em/1.35 'muller',sans-serif;
    color: #313131; }
  #try .box {
    margin-top: 2em; }
    #try .box:after {
      content: " ";
      font-size: 0;
      visibility: hidden;
      display: block;
      clear: both;
      height: 0; }
    @media screen and (max-width: 599px) {
      #try .box .left {
        padding: .6em 1.5em 0; } }
    @media screen and (min-width: 600px) {
      #try .box .left {
        padding: .6em 2em 0 5em;
        float: left;
        width: 50%; } }
    #try .box .left ul {
      list-style: none;
      text-align: justify;
      line-height: 0; }
      #try .box .left ul > ul, #try .box .left ul > div, #try .box .left ul > li {
        display: inline-block;
        line-height: normal; }
      #try .box .left ul:after {
        content: ' ';
        font-size: 0;
        display: inline-block;
        height: 0;
        width: 100%; }
      #try .box .left ul .im {
        margin: .2em auto 0;
        width: 2.25em;
        height: 2.1875em;
        background: url(../img/sprite3.png) no-repeat 0 0/auto 100%; }
      #try .box .left ul p {
        margin-top: .2em;
        font: 0.875em/1.2 "muller", sans-serif;
        color: #313131; }
      #try .box .left ul li {
        text-align: center;
        margin: 1em 0 0;
        width: 45%; }
        #try .box .left ul li:nth-child(2) .im {
          background-position: 19% 50%; }
        #try .box .left ul li:nth-child(3) .im {
          background-position: 38.5% 100%; }
        #try .box .left ul li:nth-child(4) .im {
          background-position: 59.3% 100%; }
        #try .box .left ul li:nth-child(5) .im {
          background-position: 81.5% 100%; }
        #try .box .left ul li:nth-child(6) .im {
          background-position: 100% 100%; }
    #try .box .right {
      text-align: center;
      border-left: 1px solid #eaeaea;
      padding: .6em 3em .5em 2em; }
      @media screen and (min-width: 600px) {
        #try .box .right {
          float: right;
          width: 50%; } }
  #try .desc {
    font: 0.8125em "muller", sans-serif;
    margin-top: 2.1em;
    color: #313131; }

#tube .video {
  max-width: 90%;
  padding-top: 45%;
  width: 2000px;
  position: relative;
  margin: 0 auto; }
  #tube .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* ---------------------------------------------------------------------------//Popups */

/*# sourceMappingURL=style.css.map */
