@font-face {
    font-family: PFHThin;
    src: url("../fonts/pfhighway-thin-v2.woff") format('woff');
  }
@font-face {
    font-family: PFHThin_light;
    src: url("../fonts/pragmatica-light-v2.woff") format('woff');
  }
@font-face {
    font-family: PFHThin_medium;
    src: url("../fonts/pragmatica-medium-v2.woff") format('woff');
  }
@font-face {
    font-family: PFHThin_regular;
    src: url("../fonts/pragmatica-regular-v2.woff") format('woff');
  }
 
@font-face {font-family: 'PT Sans'; 
  src: url('../fonts/pts55f_w.eot'); 
  src: local('PT Sans'), url('../fonts/PTS55F_W.woff') format('woff'),url('../fonts/PTS55F_W.ttf') format('truetype'), url('../fonts/PTS55F_W.svg#PTSans-Regular') format('svg');}

@font-face {font-family: 'PT Sans'; 
  font-style: italic;
  src: url('../fonts/pts56f_w.eot'); 
  src: local('PT Sans Italic'), url('../fonts/PTS56F_W.woff') format('woff'),url('../fonts/PTS56F_W.ttf') format('truetype'), url('../fonts/PTS56F_W.svg#PTSans-Italic') format('svg');}

@font-face {font-family: 'PT Sans';
  src: url('../fonts/pts75f_w.eot');
  font-style: normal;
  font-weight: bold; 
  src: local('PT Sans Bold'), url('../fonts/PTS75F_W.woff') format('woff'),url('../fonts/PTS75F_W.ttf') format('truetype'), url('../fonts/PTS75F_W.svg#PTSans-Bold') format('svg');}

@font-face {font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold; 
  src: url('../fonts/pts76f_w.eot'); 
  src: local('PT Sans Bold Italic'), url('../fonts/PTS76F_W.woff') format('woff'),url('../fonts/PTS76F_W.ttf') format('truetype'), url('../fonts/PTS76F_W.svg#PTSans-BoldItalic') format('svg');}

@font-face {font-family: 'PT Sans Caption'; 
  src: url('../fonts/ptc55f_w.eot');
  src: local('../PT Sans Caption'), url('../fonts/PTC55F_W.woff') format('woff'),url('../fonts/PTC55F_W.ttf') format('truetype'), url('../fonts/PTC55F_W.svg#PTSans-Caption') format('svg');}

@font-face {font-family: 'PT Sans Caption';
  font-weight: bold; 
  src: url('../fonts/ptc75f_w.eot');
  src: local('PT Sans Caption Bold'), url('../fonts/PTC75F_W.woff') format('woff'),url('../fonts/PTC75F_W.ttf') format('truetype'), url('../fonts/PTC75F_W.svg#PTSans-CaptionBold') format('svg');}

@font-face {font-family: 'PT Sans Narrow';
  src: url('../fonts/ptn57f_w.eot');
  src: local('PT Sans Narrow'), url('../fonts/PTN57F_W.woff') format('woff'),url('../fonts/PTN57F_W.ttf') format('truetype'), url('../fonts/PTN57F_W.svg#PTSans-Narrow') format('svg');}

@font-face {font-family: 'PT Sans Narrow';
  font-weight: bold; 
  src: url('../fonts/ptn77f_w.eot');
  src: local('PT Sans Narrow Bold'), url('../fonts/PTN77F_W.woff') format('woff'),url('../fonts/PTN77F_W.ttf') format('truetype'), url('../fonts/PTN77F_W.svg#PTSans-NarrowBold') format('svg');}
 



/* Global-s*/
html { padding: 0; margin: 0; background: #ffffff;
height: 100%;  /* 13.12.14*/
} 
body { padding: 0; margin: 0;
width: 100%; /* 13.12.14*/
height: 100%; /* 13.12.14*/
}



html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input { margin: 0; padding: 0; 
/*font-family: Arial, Helvetica, sans-serif !important;*/}



h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, table, font { font-size: 1em; font-style: normal; font-weight: normal; }



img { border: 0; }
.clr { clear: both; }



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
/*font-family: inherit;*/
vertical-align: baseline;
color: #28283a;
/*font-size: 13px;*/
}


 
a { color: #216db8; text-decoration: none; font-size: 13px; }
a:hover { text-decoration: none; color: #7147f8; }



/* remember to define focus styles! */
:focus { outline: 0; }

body { line-height: 1; font-size: 15px; font-style: normal; font-weight: normal; line-height: 18px;   }

ol, ul { list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: separate; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; }

blockquote, q { quotes: "" ""; }





/* HEADER */
.header { height: 142px; position: relative; z-index: 500; }
.header-conteiner { width: 1000px; margin: 0 auto; position: relative; }




/* HEADER - LOGO */
.logo { position: absolute; top: 10px; left: 0; z-index: 50; }
.logo h1 { margin: 0; padding: 0;  }
.logo h1 a { display: block; width: 183px; height: 132px; background: url("/templates/fottyboll/images/logo.png") top left no-repeat; text-indent: -4000px; }




/* HEADER - TEXT */
.header-text { position: absolute; top: 55px; left: 252px; }
.header-text p { font-family: 'PT Sans' !important;  font-size: 22px; color: #b1217c; text-transform: uppercase; font-weight: bold; }





/* HEADER - TEL */
.header-tel { position: absolute; top: 86px; right: 0; }
.header-tel p { text-align: center; color: #216db8; line-height: 18px; }
.header-tel p strong { display: block; font-size: 20px; color: #216db8; font-weight: bold; text-align: center; }
.header-tel span { /*font-size: 11px; line-height: 11px;*/ display: block; font-size: 20px; color: #216db8; font-weight: bold; text-align: center; margin-right: 30px;}


/* HEADER - SOCIAL */
.social { position: absolute; top: 5px; right: 10px; }
.social ul, .footer-social ul { overflow: hidden; margin-top:30px;}
.social ul li, .footer-social ul li { float: left; width: 30px; height: 30px; margin-left: 10px; }
.social ul li a, .footer-social ul li a { display: block; text-indent: -4000px; width: 30px; height: 30px; background: url("/templates/fottyboll/images/social2.png") no-repeat; }
.social ul li.social-fb a { background-position: top left; }
.social ul li.social-yb a { background-position: -30px 0; }
.social ul li.social-vk a { background-position: -60px 0; }
.social ul li.social-ok a { background-position: -90px 0; }
.social ul li.social-in a { background-position: top right; }
.social ul li a:hover { opacity: 0.70; }




/* HEADER - CALL */
.header-call {
position: absolute;
top: 43px;
right: 0;
height: 37px;
width: 210px;
background: #2c76c3 url("./templates/fottyboll/images/gradient.png") top left repeat-x;
-webkit-box-shadow: #666 0px 2px 3px;
-moz-box-shadow: #666 0px 2px 3px;
box-shadow: #666 0px 2px 3px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
behavior: url(/PIE.php);
border-bottom: 1px solid #6ea5d6;
}

.header-call a { display: block; text-align: center; line-height: 37px; font-family: 'PT Sans' !important; font-size: 13px; color: #ffffff; text-transform: uppercase; /*background: url("../images/tel.png") 8px 8px no-repeat; padding-left: 20px*/; 
}
.header-call:hover { background: #2c76c3; }





/* HEADER -  MENU */
.header-nav { 
position: absolute; 
top: 103px; 
left: 190px; 
border-top: 1px solid #256db6;
border-bottom: 1px solid #256db6;
}
.header-nav ul { position: relative; }
.header-nav ul li { float: left;}
.header-nav ul li a, .header-nav ul li span { display: block; font-size: 18px; color: #216db8; font-family: 'PT Sans' !important; text-transform: uppercase; line-height: 37px; padding: 0 24px 0 24px;}

.header-nav ul li span { cursor: default; }
.header-nav ul li:hover a, .header-nav ul li:hover span, .header-nav ul li.selected a, .header-nav ul li.selected span { color: #ffffff; background: #146dbc url("../images/gradient.png") top left repeat-x; }
.header-nav ul li:last-child a { border-right: none; } /* Doesn't work in IE */
.header-nav ul li.hover, .header-nav ul li:hover { color: #000000;  }
.header-nav ul li:hover li a { text-decoration: none; color: #ffffff; }



/* LEVEL TWO */
.header-nav ul ul { 
border-top: 1px solid #2c76c3;
visibility: hidden; 
position: absolute; 
width: 245px;
top: 100%; 
margin: 37px 0 0 0;
padding: 10px 15px 5px 15px;
background: #146dbc;
}


.header-nav ul ul li { float: none; display: block; width: 100%; background: none; border-bottom: 1px dotted #67a1d4; text-align: left; }
.header-nav ul ul li a { padding: 4px 0; color: #8cc63f; display: block; border: 0; height: auto !important; background: none !important; line-height: 22px;font-size: 15px; }
.header-nav ul ul li:hover { background: none; }
.header-nav ul ul li a:hover, .menu ul ul li span:hover { color: #e2e2e2 !important; }

.header-nav ul ul li.li-last { border: 0; }
                    
/* IE 6 & 7 Needs Inline Block */
.header-nav ul ul li a { border-right: none; width: 100%; display: inline-block; } 



/* LEVEL THREE */
.header-nav ul ul ul { left: 117%; top: 0; }
.header-nav ul li:hover > ul { visibility: visible !important; }














html {
	background: #fbfeff;
}
body {
	height: 100%;
  	margin: 0;
	padding: 0;
}

.blok_01, .blok_03_01, .blok_04_01, .blok_05_01, .blok_07_01, .blok_10_01, .blok_11_01, .calcnameblock {
	font-family: PFHThin;
}
.blok_01 span {
    font-family: PFHThin;
	font-weight: bold;
	font-size:36px;
}

.blok_02 {
	font-family: PFHThin_medium;
}

.blok_02_02, .blok_03_02, .blok_04_02, .blok_10_02, .blok_11_02 {
	font-family: PFHThin_regular;
}

.blok_02_02 span, .blok_03_02 span, .blok_04_02 span, .blok_11_02 span {
	font-family: PFHThin_regular;
	font-weight: bold;
}
.blok_08_02, .blok_09_02, .blok_08_t, .blok_09_t, .blok_08_tt, .blok_09_tt{
	font-family: PFHThin_regular;
}


.blok_00{
	margin:0 auto;
    position: relative;
	text-align: center;

}
.blok_01 {
	position: relative;
	display: block;
	width: 580px;
    font-size: 36px;
	text-align: center;
	line-height: 1.0;
	margin:0 auto;
	padding: 20px 0 20px 0;
}

.blok_02 {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
	display: block;
	width: 610px;
	font-size: 16px;
	margin:0 auto;
	padding: 20px 0 20px 0;
}
.blok_02_01 {
	float: left;
    border-right: 2px solid #000;
	padding: 10px 10px 10px 0;
}
.blok_02_02 {
	padding: 0 0 0 100px;
	text-align: left;
	height: 40px;
}

.blok_03 {
	background: #ebebeb;
	position: relative;
	display: block;
	width: 700px;
	margin:0 auto;
	padding: 20px 0 20px 0;
	margin-top: 20px;
}
.blok_03_01 {
	width: 570px;
	font-size: 36px;
	text-align: center;
	line-height: 1.0;
	margin:0 auto;
}
.blok_03_02 {
	display: block;
	width: 550px;
	height: 220px;
	margin:0 auto;
}
.blok_03_02 p{
    text-indent: 1.5em;
    text-align: justify;
	font-size: 16px;
}

.blok_04 {
	position: relative;
	display: block;
	width: 700px;
	margin:0 auto;
	padding: 20px 0 20px 0;
	margin-top: 20px;
}
.blok_04_01 {
	width: 700px;
	font-size: 36px;
	text-align: center;
	line-height: 1.0;
	margin:0 auto;
}
.blok_04_02 {
	display: block;
	width: 550px;
	height: 140px;
	margin:0 auto;
}
.blok_04_02 p {
    text-indent: 1.5em;
    text-align: justify;
	font-size: 16px;
}

.blok_05 {
	width: 100%;
    border-top: 3px solid #c2c2c2;
}
.blok_05_01 {
	background: #005aab;
	font-size: 36px;
	text-align: center;
	color: #fff;
	line-height:36px;
}
.blok_05_02 {
	background: #212121;
	text-align: center;
}

.steps_result_video {
	background: url(http://footyball.ru/36/36p/img/iphone_video.png) no-repeat; margin: 0px auto 0px; width: 668px; height: 375px; position: relative;
}
.steps_result_video_play {
	background: url(http://footyball.ru/36/36p/img/video_play.png) no-repeat; left: 221px; top: 47px; width: 224px; height: 224px; position: absolute; z-index: 10;
}
#placeForVideo {
	left: 0; top: 0; position: absolute; z-index: -1;
}


 .blok_06, .blok_06_01, .blok_06_02 {
    position: relative;
   } 

   .blok_06_01 { z-index: 4; 	text-align:center;}
   .blok_06_02 { z-index: 3; 	text-align:center;}
   .blok_06  { z-index: 1; }
   
.blok_06 {
	height: 305px;
    background-image: url(http://footyball.ru/36/36p/img/foto.png);
    background-position: left bottom;
    background-repeat: repeat-x;
    border-bottom: 3px solid #c2c2c2;
}

.blok_06_01 {
	height: 305px;
    background-image: url(http://footyball.ru/36/36p/img/fonfoto.png);
    background-repeat: no-repeat;
	width: 900px;
	margin:0 auto;
}
.blok_06_02 {
	padding: 89px 0 0 0;
}

.blok_06_02 img{
	padding: 0 31px 0 31px;
}

.blok_07 {
	width: 700px;
	margin:0 auto;
	padding: 20px 0 20px 0;
}

.blok_07_01 {
	font-size: 36px;
	text-align: center;
	line-height: 1.0;
}

.blok_08 {
	display: block;
	width: 920px;
	margin:0 auto;
}
.blok_08_01 {
	float: left;
	width: 110px;
}
.blok_08_02 {
	width: 510px;
	height: 150px;
    background-image: url(http://footyball.ru/36/36p/img/feed_ram01.png); 
    background-repeat: no-repeat; 
	float: left;
}
.blok_08_02 p{
	width: 460px;
	display: block;
    text-indent: 1.5em;
    text-align: justify;
	font-size: 16px;
	font-style: italic;
	padding: 0 20px 0 30px;
	line-height: 1.2;
}

.blok_08_03 {
	width: 287px;
	float: right;
}
.blok_08_t {
	margin: 20px 0 0 0;
	display: block;
	text-align: right;
	font-size: 14px;
	font-weight: bold;
}
.blok_08_tt {
	display: block;
	text-align: right;
	font-size: 14px;
}

.clear_all {
	clear: both;
}

.blok_09 {
	display: block;
	width: 920px;
	margin:0 auto;
	padding: 40px 0 20px 0;
}
.blok_09_01 {
	float: left;
	width: 110px;
}
.blok_09_02 {
	width: 510px;
	height: 130px;
    background-image: url(http://footyball.ru/36/36p/img/feed_ram02.png);
    background-repeat: no-repeat; 
	float: left;
}
.blok_09_02 p{
	width: 460px;
	display: block;
    text-indent: 1.5em;
    text-align: justify;
	font-size: 16px;
	font-style: italic;
	padding: 10px 20px 0 30px;
	line-height: 1.2;
}
.blok_09_03 {
	width: 287px;
	float: right;
}

.blok_09_t {
	margin: 30px 0 0 0;
	display: block;
	text-align: right;
	font-size: 14px;
	font-weight: bold;
}
.blok_09_tt {
	display: block;
	text-align: right;
	font-size: 14px;
}
.blok_10 {
	position: relative;
	display: block;
	width: 800px;
	margin:0 auto;
	padding: 20px 0 30px 0;
	margin-top: 50px;
    border-top: 1px solid #c2c2c2; 
    border-bottom: 1px solid #c2c2c2; 
}
.blok_10_01 {
	width: 700px;
	font-size: 36px;
	text-align: center;
	line-height: 1.0;
	margin:0 auto;
}
.blok_10_02 {
	display: block;
	width: 560px;
	height: 60px;
	margin:0 auto;
}
.blok_10_02 p {
    text-indent: 1.5em;
    text-align: justify;
	font-size: 16px;
}

.blok_10 img{
	position: relative;
	margin: -35px -50px 0 0;
}

.blok_11 {
	position: relative;
	display: block;
	width: 700px;
	margin:0 auto;
	padding: 20px 0 30px 0;
	margin-top: 20px;
}
.blok_11_01 {
	width: 700px;
	font-size: 36px;
	text-align: center;
	line-height: 1.0;
	margin:0 auto;
}
.blok_11_02 {
	display: block;
	width: 570px;
	height: 220px;
	margin:0 auto;
}
.blok_11_02 p {
    text-indent: 1.5em;
    text-align: justify;
	font-size: 16px;
}

.blok_12 {
	position: relative;
	display: block;
	margin:0 auto;
    background-image: url(http://footyball.ru/36/36p/img/line.png); 
    background-repeat: repeat-x; 
    border-top: 3px solid #c2c2c2; 
}
.blok_12_01 {
	text-align: center;
	margin:0 auto;
	padding: 20px 0 120px 0;
}


.footer {
	background: #0072bc;; left: 0px; width: 100%; height: 70px; bottom: 0px; position: fixed; z-index: 100;
}
.footer .footer_menu {
	margin: 0px auto; width: 1124px;
}

.blok_13 {
	position: relative;
	display: block;
	margin:0 auto;
	background: #0072bc;
	height: 70px;
	text-align: center;
}

.blok_13_01 {
	margin:0 auto;
	padding: 20px 0 30px 0;
	width: 900px;
}
.blok_13_02 {
	float: left;
}
.blok_13_03 {
	float: left;
}
.blok_13_04 {
	float: left;
}
.blok_13_05 {
	float: left;
}
.blok_13_06 {

}

.blok_13_02 input {
	width:250px;
	height:25px;
	margin: 0 10px 0 0;
	background:#fff;
	border:1px solid #91dcfe;
	text-align: center;
}
.blok_13_03 input {
	width:250px;
	height:25px;
	margin: 0 10px 0 0;
	background:#fff;
	border:1px solid #91dcfe;
	text-align: center;
}

.blok_13_04 input {
	width:20px;
	height:20px;
}

.blok_13_05 {
	font-size: 13px;
	text-align: center;
	color: #fff;
	padding: 0 0 0 10px;
	font-family: PFHThin_regular;
}

.blok_13_05 span {
	font-size: 11px;
}

.blok_13_06 .button{
	border:2px solid #fff;
	padding: 10px 10px 10px 10px;
	background:#0072bc;
	color: #fff;
	font-size: 16px;
	margin: -5px 0 0 0;
 }
 
 
.blok_13_06 .button:hover {
    background:#fff;
	color: #0072bc;
	font-weight: bold;
	cursor:pointer
   }
   
   
   
   
   
   
   
   
   
   
   
   
   
/*CALC*/
.bluebg {
	border-top:2px solid #0171b9;
	background-image: url(http://footyball.ru/36/36p/img/line.png); 
    background-repeat: repeat-x; 
}

.calcblock{
    width: 800px;
    margin: 20px auto 40px;
    text-align: left;
}
.calcnameblock{
    font: 100 36px / 25.615px PFHThin;
    margin: 0 0 40px 0;
}
.calcdots{
    background: url(../img/Shape-3.png);
    height: 2px;
    display: inline-block;
    margin-top: -5px;
}
.calcdots-118{width: 118px;}
.calcdots-62{width: 62px;}
.calclftblock{
    height: 333px;
    width: 528px;
    background: url(../img/Shape-4.png);
    padding: 30px;
    float: left;
    position: relative;
    z-index: 1;
}
.calclinename{
    font: 700 14px / 25.615px PFHThin_regular;    
    display: inline-block;
    color: #77808b;
    margin-right: 20px
}
.calcline{margin: 20px 0;}
.calccurr{
    width: 92px;
    height: 32px;
    text-align: center;
    border: 1px solid #b7b7b7;
    font: 400 18px / 32px PFHThin_medium;
    color: #000;
    display: inline-block;
    margin: 0 20px;
}
.calcpercnumb{
    font: 400 36px / 24px PFHThin_medium;
    color: #000;
    display: inline-block;
    margin-left: 40px;
    position: relative;
    top:5px;
}


.calcrghtblock{
    float: left;
    width: 240px;
    position: relative;
    z-index: 0;
}

.calcnamedoh {
    margin: 55px 0 0 10px;
    color: #77808b;
    font: 400 12px / 25.615px PFHThin_regular;
}
.calcsummzaper {
    width: 215px;
    height: 32px;
    color: #000;
    text-align: center;
    font: 400 18px / 32px PFHThin_medium !important;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-left: -14px;
}
.calcsummzaper  span{font: 400 18px / 32px PFHThin_medium !important;color: #000;}
.calcbueblock {
    width: 238px;
    background-color: #0072bc;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    margin:20px 0 0 -14px;
    height: 6s3px;
    overflow: hidden;
    
}
.calcbueblock .calcchistprib {font: 400 14px / 25.615px PFHThin_regular; color: #fff;}
.calcbueblock .calcchistpribdeng {font: 400 36px / 34px PFHThin_medium; color: #fff;}
.calcrubmout {font: 400 18px / 24px PFHThin_medium; color: #fff;}
.calcostzay {
    border: 2px solid #0072bc;
    width: 190px;
    height: 32px;
    font: 400 18px / 32px PFHThin_regular;
    text-transform: uppercase;
    color: #0072bc;
    text-align: center;
    text-decoration: none;
    margin: 20px 0 0 0;
    display: block;
}
.calcostzay:hover{
    background: #0072bc;
    color: #fff;
}

.calcslider-wrapper{
    width: 275px;
    display: inline-block;
}
.calcslider-wrapperinner {
	width: 320px; 
	margin-left: 10px;
	display: inline-block;
	height:40px;
}
.caclcdisplay-box{
    font: 400 18px / 24px PFHThin_medium;
    color: #000;
    margin-left: 10px;
	display: inline-block;
}
.calcslid{opacity:0;}
.caclcdisplayslidsumm-copy,
.caclcdisplayslidmes-copy{
	display:none;
}
.caclcdisplayslidsumm{
	width:125px;
}
.clearboth{
    clear: both;
    line-height: 1;
    height: 20px;
}


.rangeslider,
.rangeslider__fill {
  background: #2d2d2d;
  display: inline-block;
  height: 5px;
  /*width: 100%;*/
  width: 176px;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.rangeslider {
  position: relative;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: #0072bc;
  position: absolute;
  top: 0;
}

.rangeslider__handle {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -9px;
  /*
   border: 1px solid #ccc;
   background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(145, 145, 145, 0.1)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(145, 145, 145, 0.1));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(145, 145, 145, 0.1));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(145, 145, 145, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(145, 145, 145, 0.1));
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  */
  background:#8e8e8e;
  
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.rangeslider__handle:after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.13)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));*/
  background:#fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.rangeslider__handle:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.12)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
}

input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}
