@font-face {
    font-family: PFHThin;
    src: url("../fonts/pfhighway-thin-v2.woff") format('woff');
  }
@font-face {
    font-family: PFHThin_light;
    src: url("../fonts/pragmatica-light-v2.woff") format('woff');
  }
@font-face {
    font-family: PFHThin_medium;
    src: url("../fonts/pragmatica-medium-v2.woff") format('woff');
  }
@font-face {
    font-family: PFHThin_regular;
    src: url("../fonts/pragmatica-regular-v2.woff") format('woff');
  }
 
@font-face {font-family: 'PT Sans'; 
  src: url('../fonts/pts55f_w.eot'); 
  src: local('PT Sans'), url('../fonts/PTS55F_W.woff') format('woff'),url('../fonts/PTS55F_W.ttf') format('truetype'), url('../fonts/PTS55F_W.svg#PTSans-Regular') format('svg');}

@font-face {font-family: 'PT Sans'; 
  font-style: italic;
  src: url('../fonts/pts56f_w.eot'); 
  src: local('PT Sans Italic'), url('../fonts/PTS56F_W.woff') format('woff'),url('../fonts/PTS56F_W.ttf') format('truetype'), url('../fonts/PTS56F_W.svg#PTSans-Italic') format('svg');}

@font-face {font-family: 'PT Sans';
  src: url('../fonts/pts75f_w.eot');
  font-style: normal;
  font-weight: bold; 
  src: local('PT Sans Bold'), url('../fonts/PTS75F_W.woff') format('woff'),url('../fonts/PTS75F_W.ttf') format('truetype'), url('../fonts/PTS75F_W.svg#PTSans-Bold') format('svg');}

@font-face {font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold; 
  src: url('../fonts/pts76f_w.eot'); 
  src: local('PT Sans Bold Italic'), url('../fonts/PTS76F_W.woff') format('woff'),url('../fonts/PTS76F_W.ttf') format('truetype'), url('../fonts/PTS76F_W.svg#PTSans-BoldItalic') format('svg');}

@font-face {font-family: 'PT Sans Caption'; 
  src: url('../fonts/ptc55f_w.eot');
  src: local('../PT Sans Caption'), url('../fonts/PTC55F_W.woff') format('woff'),url('../fonts/PTC55F_W.ttf') format('truetype'), url('../fonts/PTC55F_W.svg#PTSans-Caption') format('svg');}

@font-face {font-family: 'PT Sans Caption';
  font-weight: bold; 
  src: url('../fonts/ptc75f_w.eot');
  src: local('PT Sans Caption Bold'), url('../fonts/PTC75F_W.woff') format('woff'),url('../fonts/PTC75F_W.ttf') format('truetype'), url('../fonts/PTC75F_W.svg#PTSans-CaptionBold') format('svg');}

@font-face {font-family: 'PT Sans Narrow';
  src: url('../fonts/ptn57f_w.eot');
  src: local('PT Sans Narrow'), url('../fonts/PTN57F_W.woff') format('woff'),url('../fonts/PTN57F_W.ttf') format('truetype'), url('../fonts/PTN57F_W.svg#PTSans-Narrow') format('svg');}

@font-face {font-family: 'PT Sans Narrow';
  font-weight: bold; 
  src: url('../fonts/ptn77f_w.eot');
  src: local('PT Sans Narrow Bold'), url('../fonts/PTN77F_W.woff') format('woff'),url('../fonts/PTN77F_W.ttf') format('truetype'), url('../fonts/PTN77F_W.svg#PTSans-NarrowBold') format('svg');}
 



/* Global-s*/
html { padding: 0; margin: 0; background: #ffffff;
height: 100%;  /* 13.12.14*/
} 
body { padding: 0; margin: 0;
width: 100%; /* 13.12.14*/
height: 100%; /* 13.12.14*/
overflow-x:hidden;
}



html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input { margin: 0; padding: 0; 
/*font-family: Arial, Helvetica, sans-serif !important;*/}



h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, table, font { font-size: 1em; font-style: normal; font-weight: normal; }



img { border: 0; }
.clr { clear: both; }



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
/*font-family: inherit;*/
vertical-align: baseline;
color: #28283a;
/*font-size: 13px;*/
}


 
a { color: #216db8; text-decoration: none; font-size: 13px; }
a:hover { text-decoration: none; color: #7147f8; }



/* remember to define focus styles! */
:focus { outline: 0; }

body { line-height: 1; font-size: 15px; font-style: normal; font-weight: normal; line-height: 18px;   }

ol, ul { list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: separate; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; }

blockquote, q { quotes: "" ""; }





/* HEADER */
.header { height: 142px; position: relative; z-index: 500; }
.header-conteiner { width: 1000px; margin: 0 auto; position: relative; }




/* HEADER - LOGO */
.logo { position: absolute; top: 10px; left: 0; z-index: 50; }
.logo h1 { margin: 0; padding: 0;  }
.logo h1 a { display: block; width: 183px; height: 132px; background: url("/templates/fottyboll/images/logo.png") top left no-repeat; text-indent: -4000px; }




/* HEADER - TEXT */
.header-text { position: absolute; top: 55px; left: 252px; }
.header-text p { font-family: 'PT Sans' !important;  font-size: 22px; color: #b1217c; text-transform: uppercase; font-weight: bold; }





/* HEADER - TEL */
.header-tel { position: absolute; top: 35px; right: 30px; }
.header-tel p { text-align: center; color: #216db8; line-height: 18px; }
.header-tel p strong { display: block; font-size: 20px; color: #216db8; font-weight: bold; text-align: center; }
.header-tel span { /*font-size: 11px; line-height: 11px;*/ display: block; font-size: 20px; color: #216db8; font-weight: bold; text-align: center; margin-right: 30px;}


/* HEADER - SOCIAL */
.social { position: absolute; top: 5px; right: 62px; }
.social ul, .footer-social ul { overflow: hidden; margin-top:5px;}
.social ul li, .footer-social ul li { float: left; width: 30px; height: 30px; margin-left: 10px; }
.social ul li a, .footer-social ul li a { display: block; text-indent: -4000px; width: 30px; height: 30px; background: url("/templates/fottyboll/images/social2.png") no-repeat; }
.social ul li.social-fb a { background-position: top left; }
.social ul li.social-yb a { background-position: -30px 0; }
.social ul li.social-vk a { background-position: -60px 0; }
.social ul li.social-ok a { background-position: -90px 0; }
.social ul li.social-in a { background-position: top right; }
.social ul li a:hover { opacity: 0.70; }




/* HEADER - CALL */
.header-call {
	position: absolute;
	top: 43px;
	right: 0;
	height: 37px;
	width: 210px;
	background: #2c76c3 url("/templates/fottyboll/images/gradient.png") top left repeat-x;
	-webkit-box-shadow: #666 0px 2px 3px;
	-moz-box-shadow: #666 0px 2px 3px;
	box-shadow: #666 0px 2px 3px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	behavior: url(/PIE.php);
	border-bottom: 1px solid #6ea5d6;
}

.header-call a { display: block; text-align: center; line-height: 37px; font-family: 'PT Sans' !important; font-size: 13px; color: #ffffff; text-transform: uppercase; /*background: url("../images/tel.png") 8px 8px no-repeat; padding-left: 20px*/; 
}
.header-call:hover { background: #2c76c3; }





/* HEADER -  MENU */
.header-nav { 
position: absolute; 
top: 103px; 
left: 190px; 
border-top: 1px solid #256db6;
border-bottom: 1px solid #256db6;
}
.header-nav ul { position: relative; }
.header-nav ul li { float: left;}
.header-nav ul li a, .header-nav ul li span { display: block; font-size: 18px; color: #216db8; font-family: 'PT Sans' !important; text-transform: uppercase; line-height: 37px; padding: 0 24px 0 24px;}

.header-nav ul li span { cursor: default; }
.header-nav ul li:hover a, .header-nav ul li:hover span, .header-nav ul li.selected a, .header-nav ul li.selected span { color: #ffffff; background: #146dbc url("/templates/fottyboll/images/gradient.png") top left repeat-x; }
.header-nav ul li:last-child a { border-right: none; } /* Doesn't work in IE */
.header-nav ul li.hover, .header-nav ul li:hover { color: #000000;  }
.header-nav ul li:hover li a { text-decoration: none; color: #ffffff; }



/* LEVEL TWO */
.header-nav ul ul { 
border-top: 1px solid #2c76c3;
visibility: hidden; 
position: absolute; 
width: 245px;
top: 100%; 
margin: 37px 0 0 0;
padding: 10px 15px 5px 15px;
background: #146dbc;
}


.header-nav ul ul li { float: none; display: block; width: 100%; background: none; border-bottom: 1px dotted #67a1d4; text-align: left; }
.header-nav ul ul li a { padding: 4px 0; color: #8cc63f; display: block; border: 0; height: auto !important; background: none !important; line-height: 22px;font-size: 15px; }
.header-nav ul ul li:hover { background: none; }
.header-nav ul ul li a:hover, .menu ul ul li span:hover { color: #e2e2e2 !important; }

.header-nav ul ul li.li-last { border: 0; }
                    
/* IE 6 & 7 Needs Inline Block */
.header-nav ul ul li a { border-right: none; width: 100%; display: inline-block; } 



/* LEVEL THREE */
.header-nav ul ul ul { left: 117%; top: 0; }
.header-nav ul li:hover > ul { visibility: visible !important; }














html {
	background: #fbfeff;
}
body {
	height: 100%;
  	margin: 0;
	padding: 0;
}

.blok_01, .blok_03_01, .blok_04_01, .blok_05_01, .blok_07_01, .blok_10_01, .blok_11_01, .calcnameblock {
	font-family: PFHThin;
}
.blok_01 span {
    font-family: PFHThin;
	font-weight: bold;
	font-size:36px;
}

.blok_02 {
	font-family: PFHThin_medium;
}

.blok_02_02, .blok_03_02, .blok_04_02, .blok_10_02, .blok_11_02 {
	font-family: PFHThin_regular;
}

.blok_02_02 span, .blok_03_02 span, .blok_04_02 span, .blok_11_02 span {
	font-family: PFHThin_regular;
	font-weight: bold;
}
.blok_08_02, .blok_09_02, .blok_08_t, .blok_09_t, .blok_08_tt, .blok_09_tt{
	font-family: PFHThin_regular;
}


.blok_00{
	margin:0 auto;
    position: relative;
	text-align: center;

}
.blok_01 {
	position: relative;
	display: block;
	width: 580px;
    font-size: 36px;
	text-align: center;
	line-height: 1.0;
	margin:0 auto;
	padding: 20px 0 20px 0;
}

.blok_02 {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
	display: block;
	width: 610px;
	font-size: 16px;
	margin:0 auto;
	padding: 20px 0 20px 0;
}
.blok_02_01 {
	float: left;
    border-right: 2px solid #000;
	padding: 10px 10px 10px 0;
}
.blok_02_02 {
	padding: 0 0 0 100px;
	text-align: left;
	height: 40px;
}

.blok_03 {
	background: #ebebeb;
	position: relative;
	display: block;
	width: 700px;
	margin:0 auto;
	padding: 20px 0 20px 0;
	margin-top: 20px;
}
.blok_03_01 {
	width: 570px;
	font-size: 36px;
	text-align: center;
	line-height: 1.0;
	margin:0 auto;
}
.blok_03_02 {
	display: block;
	width: 550px;
	height: 145px;
	margin:0 auto;
}
.blok_03_02 p{
    text-indent: 1.5em;
    text-align: justify;
	font-size: 16px;
}

.blok_04 {
	position: relative;
	display: block;
	width: 700px;
	margin:0 auto;
	padding: 20px 0 20px 0;
	margin-top: 20px;
}
.blok_04_01 {
	width: 700px;
	font-size: 36px;
	text-align: center;
	line-height: 1.0;
	margin:0 auto;
}
.blok_04_02 {
	display: block;
	width: 550px;
	height: 140px;
	margin:0 auto;
}
.blok_04_02 p {
    text-indent: 1.5em;
    text-align: justify;
	font-size: 16px;
}

.blok_05 {
	width: 100%;
    border-top: 3px solid #c2c2c2;
}
.blok_05_01 {
	background: #005aab;
	font-size: 36px;
	text-align: center;
	color: #fff;
	line-height:36px;
}
.blok_05_02 {
	background: #212121;
	text-align: center;
	padding: 10px 0;
}

#youtube1{
	
}

.steps_result_video2{
	margin: 0px auto 0px; 
	width: 640px; 
	height: 360px; 
	position: relative;
	background-image: -moz-radial-gradient(bottom, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0.04) 65%, rgba(0, 0, 0, 0.04) 66%, rgba(0, 0, 0, 0) 100%);
	background-image: -o-radial-gradient(bottom, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0.04) 65%, rgba(0, 0, 0, 0.04) 66%, rgba(0, 0, 0, 0) 100%);
	background-image: -webkit-radial-gradient(bottom, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0.04) 65%, rgba(0, 0, 0, 0.04) 66%, rgba(0, 0, 0, 0) 100%);
	background-image: radial-gradient(to top, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0.04) 65%, rgba(0, 0, 0, 0.04) 66%, rgba(0, 0, 0, 0) 100%);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
} 
.steps_result_video2 video{
	width: 640px; 
	height: 360px;
}


.steps_result_video {
	/*background: url(http://footyball.ru/36/36p/img/iphone_video.png) no-repeat; */ margin: 0px auto 0px; width: 668px; height: 375px; position: relative;
}
.steps_result_video_play {
	/*background: url(http://footyball.ru/36/36p/img/video_play.png) no-repeat;*/ left: 221px; top: 47px; width: 224px; height: 224px; position: absolute; z-index: 10;
}
#placeForVideo {
	left: 0; top: 0; position: absolute; z-index: -1;
}


 .blok_06, .blok_06_01, .blok_06_02 {
    position: relative;
   } 

   .blok_06_01 { z-index: 4; 	text-align:center;}
   .blok_06_02 { z-index: 3; 	text-align:center;}
   .blok_06  { z-index: 1; }
   
.blok_06 {
	height: 305px;
    background-image: url(http://footyball.ru/36/36p/img/foto.png);
    background-position: left bottom;
    background-repeat: repeat-x;
    border-bottom: 3px solid #c2c2c2;
}

.blok_06_01 {
	height: 305px;
    background-image: url(http://footyball.ru/36/36p/img/fonfoto.png);
    background-repeat: no-repeat;
	width: 900px;
	margin:0 auto;
}
.blok_06_02 {
	padding: 89px 0 0 0;
}

.blok_06_02 img{
	padding: 0 31px 0 31px;
	-webkit-transition: all 0.7s ease; 
	transition: all 0.7s ease;
}
.blok_06_02 img:hover{
	-webkit-transform:scale(1.1); 
	transform:scale(1.1);
}


.blok_07 {
	width: 700px;
	margin:0 auto;
	padding: 20px 0 20px 0;
}

.blok_07_01 {
	font-size: 36px;
	text-align: center;
	line-height: 1.0;
}

.blok_08 {
	display: block;
	width: 920px;
	margin:0 auto;
}
.blok_08_01 {
	float: left;
	width: 110px;
}
.blok_08_02 {
	width: 510px;
	height: 150px;
    background-image: url(http://footyball.ru/36/36p/img/feed_ram01.png); 
    background-repeat: no-repeat; 
	float: left;
}
.blok_08_02 p{
	width: 460px;
	display: block;
    text-indent: 1.5em;
    text-align: justify;
	font-size: 16px;
	font-style: italic;
	padding: 0 20px 0 30px;
	line-height: 1.2;
}

.blok_08_03 {
	width: 287px;
	float: right;
}
.feedbackimg {
	width:283px;
	background:#fbfeff;
	text-align:center;
	display:inline-block;
	border:2px solid #c2c2c2;
	-webkit-transition: all 0.7s ease; 
	transition: all 0.7s ease;
}
.feedbackimg:hover{
	transform:scale(1.1);
	border:2px solid #0072BC;
}
.feedback01{height:147px;}
.feedback02{height:129px;}


.blok_08_t {
	margin: 20px 0 0 0;
	display: block;
	text-align: right;
	font-size: 14px;
	font-weight: bold;
}
.blok_08_tt {
	display: block;
	text-align: right;
	font-size: 14px;
}

.clear_all {
	clear: both;
}

.blok_09 {
	display: block;
	width: 920px;
	margin:0 auto;
	padding: 40px 0 20px 0;
}
.blok_09_01 {
	float: left;
	width: 110px;
}
.blok_09_02 {
	width: 510px;
	height: 130px;
    background-image: url(http://footyball.ru/36/36p/img/feed_ram02.png);
    background-repeat: no-repeat; 
	float: left;
}
.blok_09_02 p{
	width: 460px;
	display: block;
    text-indent: 1.5em;
    text-align: justify;
	font-size: 16px;
	font-style: italic;
	padding: 10px 20px 0 30px;
	line-height: 1.2;
}
.blok_09_03 {
	width: 287px;
	float: right;
}

.blok_09_t {
	margin: 30px 0 0 0;
	display: block;
	text-align: right;
	font-size: 14px;
	font-weight: bold;
}
.blok_09_tt {
	display: block;
	text-align: right;
	font-size: 14px;
}
.blok_10 {
	position: relative;
	display: block;
	width: 800px;
	margin:0 auto;
	padding: 20px 0 30px 0;
	margin-top: 50px;
    border-top: 1px solid #c2c2c2; 
    border-bottom: 1px solid #c2c2c2; 
}
.blok_10_01 {
	width: 700px;
	font-size: 36px;
	text-align: center;
	line-height: 1.0;
	margin:0 auto;
}
.questsimb {
	display:inline-block;
	float:right;
	position: relative;
    right: -51px;
	z-index:2;
}
.blok_10_02 {
	display: block;
	width: 560px;
	height: 60px;
	margin:-49px auto 0 auto
}
.blok_10_02 p {
    text-indent: 1.5em;
    text-align: justify;
	font-size: 16px;
}

.blok_10 img{
	position: relative;
	margin: -33px -68px 0 0;
	float:right;
	z-index:1;
}

.blok_11 {
	position: relative;
	display: block;
	width: 700px;
	margin:0 auto;
	padding: 20px 0 30px 0;
	margin-top: 20px;
}
.blok_11_01 {
	width: 700px;
	font-size: 36px;
	text-align: center;
	line-height: 1.0;
	margin:0 auto;
}
.blok_11_02 {
	display: block;
	width: 570px;
	height: 220px;
	margin:0 auto;
}
.blok_11_02 p {
    text-indent: 1.5em;
    text-align: justify;
	font-size: 16px;
}

.blok_12 {
	position: relative;
	display: block;
	margin:0 auto;
    background-image: url(http://footyball.ru/36/36p/img/line.png); 
    background-repeat: repeat-x; 
    border-top: 3px solid #c2c2c2; 
}
.blok_12_01 {
	text-align: center;
	margin:0 auto;
	padding: 0px 0 70px;
}


.footer {
	background: #0072bc;; left: 0px; width: 100%; height: 70px; bottom: 0px; position: fixed; z-index: 100;
}
.footer .footer_menu {
	margin: 0px auto; width: 1124px;
}

.blok_13 {
	position: relative;
	display: block;
	margin:0 auto;
	background: #0072bc;
	height: 70px;
	text-align: center;
}

.blok_13_01 {
	margin:0 auto;
	padding: 20px 0 30px 0;
	width: 900px;
}
.blok_13_02 {
	float: left;
}
.blok_13_03 {
	float: left;
}
.blok_13_04 {
	float: left;
}
.blok_13_05 {
	float: left;
}
.blok_13_06 {

}

.blok_13_02 input {
	width:250px;
	height:25px;
	margin: 0 10px 0 0;
	background:#fff;
	border:1px solid #91dcfe;
	text-align: center;
}
.blok_13_03 input {
	width:250px;
	height:25px;
	margin: 0 10px 0 0;
	background:#fff;
	border:1px solid #91dcfe;
	text-align: center;
}

.blok_13_04 input {
	width:20px;
	height:20px;
}

.blok_13_05 {
	font-size: 13px;
	text-align: center;
	color: #fff;
	padding: 0 0 0 10px;
	font-family: PFHThin_regular;
}

.blok_13_05 span {
	font-size: 11px;
}

.blok_13_06 .button{
	border:2px solid #fff;
	padding: 10px 10px 10px 10px;
	background:#0072bc;
	color: #fff;
	font-size: 16px;
	margin: -5px 0 0 0;
 }
 
 
.blok_13_06 .button:hover {
    background:#fff;
	color: #0072bc;
	font-weight: bold;
	cursor:pointer
}
   
   
   
  
   
#link-top{
	position: fixed;
	top:5px;
	right:5px;
	left:auto;
	color:#fff;
	text-decoration:none;
	display: block;
	background:#0072BC;
	line-height: 29px;
    padding: 10px 12px;
	display:none;
	cursor: pointer;
	z-index: 300;
	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
	border-radius: 27px;
	font-size:32px;
	font-weight:300;
	opacity:0.75;
}
#link-top:hover{
	opacity:1;
} 
   
/*CALC*/
.bluebg {
	border-top:2px solid #0171b9;
	background-image: url(http://footyball.ru/36/36p/img/line.png); 
    background-repeat: repeat-x; 
}

.calcblock{
    width: 800px;
    margin: 20px auto 40px;
    text-align: left;
}
.calcnameblock{
    font: 100 36px / 25.615px PFHThin;
    margin: 0 0 40px 0;
}
.calcdots{
    background: url(../img/Shape-3.png);
    height: 2px;
    display: inline-block;
    margin-top: -5px;
}
.calcdots-118{width: 118px;}
.calcdots-62{width: 62px;}
.calclftblock{
    height: 333px;
    width: 528px;
    background: url(../img/Shape-4.png);
    padding: 30px;
    float: left;
    position: relative;
    z-index: 1;
}
.calclinename{
    font: 700 14px / 25.615px PFHThin_regular;    
    display: inline-block;
    color: #77808b;
    margin-right: 20px
}
.calcline{margin: 20px 0;}
.calccurr{
    width: 92px;
    height: 32px;
    text-align: center;
    border: 1px solid #b7b7b7;
    font: 400 18px / 32px PFHThin_medium;
    color: #000;
    display: inline-block;
    margin: 0 20px;
}
.calcpercnumb{
    font: 400 36px / 24px PFHThin_medium;
    color: #000;
    display: inline-block;
    margin-left: 40px;
    position: relative;
    top:5px;
}


.calcrghtblock{
    float: left;
    width: 240px;
    position: relative;
    z-index: 0;
}

.calcnamedoh {
    margin: 55px 0 0 10px;
    color: #77808b;
    font: 400 12px / 25.615px PFHThin_regular;
}
.calcsummzaper {
    width: 215px;
    height: 32px;
    color: #000;
    text-align: center;
    font: 400 18px / 32px PFHThin_medium !important;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-left: -14px;
}
.calcsummzaper  span{font: 400 18px / 32px PFHThin_medium !important;color: #000;}
.calcbueblock {
    width: 238px;
    background-color: #0072bc;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    margin:125px 0 0 -14px;
    height: 6s3px;
    overflow: hidden;
    
}
.calcbueblock .calcchistprib {font: 400 14px / 25.615px PFHThin_regular; color: #fff;}
.calcbueblock .calcchistpribdeng {font: 400 36px / 34px PFHThin_medium; color: #fff;}
.calcrubmout {font: 400 18px / 24px PFHThin_medium; color: #fff;}
.calcostzay {
    border: 2px solid #0072bc;
    width: 190px;
    height: 32px;
    font: 400 18px / 32px PFHThin_regular;
    text-transform: uppercase;
    color: #0072bc;
    text-align: center;
    text-decoration: none;
    margin: 20px 0 0 0;
    display: block;
}
.calcostzay:hover{
    background: #0072bc;
    color: #fff;
}

.calcslider-wrapper{
    width: 275px;
    display: inline-block;
}
.calcslider-wrapperinner {
	width: 320px; 
	margin-left: 10px;
	display: inline-block;
	height:40px;
}
.caclcdisplay-box{
    font: 400 18px / 24px PFHThin_medium;
    color: #000;
    margin-left: 10px;
	display: inline-block;
}
.calcslid{opacity:0;}
.caclcdisplayslidsumm-copy,
.caclcdisplayslidmes-copy{
	display:none;
}
.caclcdisplayslidsumm{
	width:125px;
}
.clearboth{
    clear: both;
    line-height: 1;
    height: 20px;
}


.rangeslider,
.rangeslider__fill {
  background: #2d2d2d;
  display: inline-block;
  height: 5px;
  /*width: 100%;*/
  width: 176px;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.rangeslider {
  position: relative;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: #0072bc;
  position: absolute;
  top: 0;
}

.rangeslider__handle {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -9px;
  /*
   border: 1px solid #ccc;
   background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(145, 145, 145, 0.1)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(145, 145, 145, 0.1));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(145, 145, 145, 0.1));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(145, 145, 145, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(145, 145, 145, 0.1));
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  */
  background:#8e8e8e;
  
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.rangeslider__handle:after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.13)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));*/
  background:#fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.rangeslider__handle:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.12)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
}

input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}



.mejs-offscreen{
/* Accessibility: hide screen reader texts (and prefer "top" for RTL languages). */
	position: absolute !important;
	top: -10000px;
	left: -10000px;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

.mejs-container {
	position: relative;
	background: #000;
	text-align: left;
	vertical-align: top;
	text-indent: 0;
}

.me-plugin {
	position: absolute;
}

.mejs-embed, .mejs-embed body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #000;
	overflow: hidden;
}

.mejs-fullscreen {
	/* set it to not show scroll bars so 100% will work */
	overflow: hidden !important;
}

.mejs-container-fullscreen {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 1000;
}
.mejs-container-fullscreen .mejs-mediaelement,
.mejs-container-fullscreen video {
	width: 100%;
	height: 100%;
}

.mejs-clear {
	clear: both;
}

/* Start: LAYERS */
.mejs-background {
	position: absolute;
	top: 0;
	left: 0;
}

.mejs-mediaelement {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.mejs-poster {
	position: absolute;
	top: 0;
	left: 0;
	background-size: contain ;
	background-position: 50% 50% ;
	background-repeat: no-repeat ;
}
:root .mejs-poster img {
	display: none ;
}

.mejs-poster img {
	border: 0;
	padding: 0;
	border: 0;
}

.mejs-overlay {
	position: absolute;
	top: 0;
	left: 0;
}

.mejs-overlay-play {
	cursor: pointer;
}

.mejs-overlay-button {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	margin: -50px 0 0 -50px;
	background: url(../img/bigplay.svg) no-repeat;
}

.no-svg .mejs-overlay-button {
	background-image: url(../img/bigplay.png);
}

.mejs-overlay:hover .mejs-overlay-button {
	background-position: 0 -100px ;
}

.mejs-overlay-loading {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80px;
	height: 80px;
	margin: -40px 0 0 -40px;
	background: #333;
	background: url(../img/background.png);
	background: rgba(0, 0, 0, 0.9);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(50,50,50,0.9)), to(rgba(0,0,0,0.9)));
	background: -webkit-linear-gradient(top, rgba(50,50,50,0.9), rgba(0,0,0,0.9));
	background: -moz-linear-gradient(top, rgba(50,50,50,0.9), rgba(0,0,0,0.9));
	background: -o-linear-gradient(top, rgba(50,50,50,0.9), rgba(0,0,0,0.9));
	background: -ms-linear-gradient(top, rgba(50,50,50,0.9), rgba(0,0,0,0.9));
	background: linear-gradient(rgba(50,50,50,0.9), rgba(0,0,0,0.9));
}

.mejs-overlay-loading span {
	display: block;
	width: 80px;
	height: 80px;
	background: transparent url(../img/loading.gif) 50% 50% no-repeat;
}

/* End: LAYERS */

/* Start: CONTROL BAR */
.mejs-container .mejs-controls {
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 0;
	bottom: 0;
	left: 0;
	background: url(../img/background.png);
	background: rgba(0, 0, 0, 0.7);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(50,50,50,0.7)), to(rgba(0,0,0,0.7)));
	background: -webkit-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));
	background: -moz-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));
	background: -o-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));
	background: -ms-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));
	background: linear-gradient(rgba(50,50,50,0.7), rgba(0,0,0,0.7));
	height: 30px;
	width: 100%;
}
.mejs-container .mejs-controls  div {
	list-style-type: none;
	background-image: none;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	width: 26px;
	height: 26px;
	font-size: 11px;
	line-height: 11px;
	border: 0;
}

.mejs-controls .mejs-button button {
	cursor: pointer;
	display: block;
	font-size: 0;
	line-height: 0;
	text-decoration: none;
	margin: 7px 5px;
	padding: 0;
	position: absolute;
	height: 16px;
	width: 16px;
	border: 0;
	background: transparent url(../img/controls.svg) no-repeat;
}

.no-svg .mejs-controls .mejs-button button {
	background-image: url(../img/controls.png);
}

	/* :focus for accessibility */
.mejs-controls .mejs-button button:focus {
	outline: dotted 1px #999;
}

/* End: CONTROL BAR */

/* Start: Time (Current / Duration) */
.mejs-container .mejs-controls .mejs-time,
.mejs-container .mejs-controls .mejs-time  span {
	color: #fff !important;
	display: block;
	height: 17px;
	width: auto;
	padding: 5px 3px 0 3px ;
	overflow: hidden;
	text-align: center;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.mejs-container .mejs-controls .mejs-time a {
	color: #fff;
	font-size: 11px;
	line-height: 12px;
	display: block;
	float: left;
	margin: 1px 2px 0 0;
	width: auto;
}
/* End: Time (Current / Duration) */

/* Start: Play/Pause/Stop */
.mejs-controls .mejs-play button {
	background-position: 0 0;
}

.mejs-controls .mejs-pause button {
	background-position: 0 -16px;
}

.mejs-controls .mejs-stop button {
	background-position: -112px 0;
}
/* Start: Play/Pause/Stop */

/* Start: Progress Bar */
.mejs-controls div.mejs-time-rail {
	direction: ltr;
	width: 200px;
	padding-top: 5px;
}

.mejs-controls .mejs-time-rail span, .mejs-controls .mejs-time-rail a {
	display: block;
	position: absolute;
	width: 180px;
	height: 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
}

.mejs-controls .mejs-time-rail .mejs-time-total {
	margin: 5px;
	background: #333;
	background: rgba(50,50,50,0.8);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(30,30,30,0.8)), to(rgba(60,60,60,0.8)));
	background: -webkit-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8));
	background: -moz-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8));
	background: -o-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8));
	background: -ms-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8));
	background: linear-gradient(rgba(30,30,30,0.8), rgba(60,60,60,0.8));
}

.mejs-controls .mejs-time-rail .mejs-time-buffering {
	width: 100%;
	background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	-webkit-background-size: 15px 15px;
	-moz-background-size: 15px 15px;
	-o-background-size: 15px 15px;
	background-size: 15px 15px;
	-webkit-animation: buffering-stripes 2s linear infinite;
	-moz-animation: buffering-stripes 2s linear infinite;
	-ms-animation: buffering-stripes 2s linear infinite;
	-o-animation: buffering-stripes 2s linear infinite;
	animation: buffering-stripes 2s linear infinite;
}

@-webkit-keyframes buffering-stripes { from {background-position: 0 0;} to {background-position: 30px 0;} }
@-moz-keyframes buffering-stripes { from {background-position: 0 0;} to {background-position: 30px 0;} }
@-ms-keyframes buffering-stripes { from {background-position: 0 0;} to {background-position: 30px 0;} }
@-o-keyframes buffering-stripes { from {background-position: 0 0;} to {background-position: 30px 0;} }
@keyframes buffering-stripes { from {background-position: 0 0;} to {background-position: 30px 0;} }

.mejs-controls .mejs-time-rail .mejs-time-loaded {
	background: #3caac8;
	background: rgba(60,170,200,0.8);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(44,124,145,0.8)), to(rgba(78,183,212,0.8)));
	background: -webkit-linear-gradient(top, rgba(44,124,145,0.8), rgba(78,183,212,0.8));
	background: -moz-linear-gradient(top, rgba(44,124,145,0.8), rgba(78,183,212,0.8));
	background: -o-linear-gradient(top, rgba(44,124,145,0.8), rgba(78,183,212,0.8));
	background: -ms-linear-gradient(top, rgba(44,124,145,0.8), rgba(78,183,212,0.8));
	background: linear-gradient(rgba(44,124,145,0.8), rgba(78,183,212,0.8));
	width: 0;
}

.mejs-controls .mejs-time-rail .mejs-time-current {
	background: #fff;
	background: rgba(255,255,255,0.8);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.9)), to(rgba(200,200,200,0.8)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
	background: -moz-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
	background: -o-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
	background: -ms-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
	background: linear-gradient(rgba(255,255,255,0.9), rgba(200,200,200,0.8));
	width: 0;
}

.mejs-controls .mejs-time-rail .mejs-time-handle {
	display: none;
	position: absolute;
	margin: 0;
	width: 10px;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	border: solid 2px #333;
	top: -2px;
	text-align: center;
}

.mejs-controls .mejs-time-rail .mejs-time-float {
	position: absolute;
	display: none;
	background: #eee;
	width: 36px;
	height: 17px;
	border: solid 1px #333;
	top: -26px;
	margin-left: -18px;
	text-align: center;
	color: #111;
}

.mejs-controls .mejs-time-rail .mejs-time-float-current {
	margin: 2px;
	width: 30px;
	display: block;
	text-align: center;
	left: 0;
}

.mejs-controls .mejs-time-rail .mejs-time-float-corner {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	line-height: 0;
	border: solid 5px #eee;
	border-color: #eee transparent transparent transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	top: 15px;
	left: 13px;
}

.mejs-long-video .mejs-controls .mejs-time-rail .mejs-time-float {
	width: 48px;
}

.mejs-long-video .mejs-controls .mejs-time-rail .mejs-time-float-current {
	width: 44px;
}

.mejs-long-video .mejs-controls .mejs-time-rail .mejs-time-float-corner {
	left: 18px;
}

/*
.mejs-controls .mejs-time-rail:hover .mejs-time-handle {
	visibility:visible;
}
*/
/* End: Progress Bar */

/* Start: Fullscreen */
.mejs-controls .mejs-fullscreen-button button {
	background-position: -32px 0;
}

.mejs-controls .mejs-unfullscreen button {
	background-position: -32px -16px;
}
/* End: Fullscreen */


/* Start: Mute/Volume */
.mejs-controls .mejs-volume-button {
}

.mejs-controls .mejs-mute button {
	background-position: -16px -16px;
}

.mejs-controls .mejs-unmute button {
	background-position: -16px 0;
}

.mejs-controls .mejs-volume-button {
	position: relative;
}

.mejs-controls .mejs-volume-button .mejs-volume-slider {
	display: none;
	height: 115px;
	width: 25px;
	background: url(../img/background.png);
	background: rgba(50, 50, 50, 0.7);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	top: -115px;
	left: 0;
	z-index: 1;
	position: absolute;
	margin: 0;
}

.mejs-controls .mejs-volume-button:hover {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

/*
.mejs-controls .mejs-volume-button:hover .mejs-volume-slider {
	display: block;
}
*/

.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-total {
	position: absolute;
	left: 11px;
	top: 8px;
	width: 2px;
	height: 100px;
	background: #ddd;
	background: rgba(255, 255, 255, 0.5);
	margin: 0;
}

.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current {
	position: absolute;
	left: 11px;
	top: 8px;
	width: 2px;
	height: 100px;
	background: #ddd;
	background: rgba(255, 255, 255, 0.9);
	margin: 0;
}

.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-handle {
	position: absolute;
	left: 4px;
	top: -3px;
	width: 16px;
	height: 6px;
	background: #ddd;
	background: rgba(255, 255, 255, 0.9);
	cursor: N-resize;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	margin: 0;
}

/* horizontal version */
.mejs-controls a.mejs-horizontal-volume-slider {
	height: 26px;
	width: 56px;
	position: relative;
    display: block;
    float: left;
    vertical-align: middle;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	position: absolute;
	left: 0;
	top: 11px;
	width: 50px;
	height: 8px;
	margin: 0;
	padding: 0;
	font-size: 1px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #333;
	background: rgba(50,50,50,0.8);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(30,30,30,0.8)), to(rgba(60,60,60,0.8)));
	background: -webkit-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8));
	background: -moz-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8));
	background: -o-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8));
	background: -ms-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8));
	background: linear-gradient(rgba(30,30,30,0.8), rgba(60,60,60,0.8));
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	position: absolute;
	left: 0;
	top: 11px;
	width: 50px;
	height: 8px;
	margin: 0;
	padding: 0;
	font-size: 1px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #fff;
	background: rgba(255,255,255,0.8);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.9)), to(rgba(200,200,200,0.8)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
	background: -moz-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
	background: -o-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
	background: -ms-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
	background: linear-gradient(rgba(255,255,255,0.9), rgba(200,200,200,0.8));
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle {
	display: none;
}

/* End: Mute/Volume */

/* Start: Track (Captions and Chapters) */
.mejs-controls .mejs-captions-button {
	position: relative;
}

.mejs-controls .mejs-captions-button button {
	background-position: -48px 0;
}
.mejs-controls .mejs-captions-button .mejs-captions-selector {
	visibility: hidden;
	position: absolute;
	bottom: 26px;
	right: -51px;
	width: 85px;
	height: 100px;
	background: url(../img/background.png);
	background: rgba(50,50,50,0.7);
	border: solid 1px transparent;
	padding: 10px 10px 0 10px;
	overflow: hidden;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

/*
.mejs-controls .mejs-captions-button:hover  .mejs-captions-selector {
	visibility: visible;
}
*/

.mejs-controls .mejs-captions-button .mejs-captions-selector ul {
	margin: 0;
	padding: 0;
	display: block;
	list-style-type: none !important;
	overflow: hidden;
}

.mejs-controls .mejs-captions-button .mejs-captions-selector ul li {
	margin: 0 0 6px 0;
	padding: 0;
	list-style-type: none !important;
	display: block;
	color: #fff;
	overflow: hidden;
}

.mejs-controls .mejs-captions-button .mejs-captions-selector ul li input {
	clear: both;
	float: left;
	margin: 3px 3px 0 5px;
}

.mejs-controls .mejs-captions-button .mejs-captions-selector ul li label {
	width: 55px;
	float: left;
	padding: 4px 0 0 0;
	line-height: 15px;
	font-size: 10px;
}

.mejs-controls .mejs-captions-button .mejs-captions-translations {
	font-size: 10px;
	margin: 0 0 5px 0;
}

.mejs-chapters {
	position: absolute;
	top: 0;
	left: 0;
	-xborder-right: solid 1px #fff;
	width: 10000px;
	z-index: 1;
}

.mejs-chapters .mejs-chapter {
	position: absolute;
	float: left;
	background: #222;
	background: rgba(0, 0, 0, 0.7);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(50,50,50,0.7)), to(rgba(0,0,0,0.7)));
	background: -webkit-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));
	background: -moz-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));
	background: -o-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));
	background: -ms-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));
	background: linear-gradient(rgba(50,50,50,0.7), rgba(0,0,0,0.7));
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#323232,endColorstr=#000000);
	overflow: hidden;
	border: 0;
}

.mejs-chapters .mejs-chapter .mejs-chapter-block {
	font-size: 11px;
	color: #fff;
	padding: 5px;
	display: block;
	border-right: solid 1px #333;
	border-bottom: solid 1px #333;
	cursor: pointer;
}

.mejs-chapters .mejs-chapter .mejs-chapter-block-last {
	border-right: none;
}

.mejs-chapters .mejs-chapter .mejs-chapter-block:hover {
	background: #666;
	background: rgba(102,102,102, 0.7);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(102,102,102,0.7)), to(rgba(50,50,50,0.6)));
	background: -webkit-linear-gradient(top, rgba(102,102,102,0.7), rgba(50,50,50,0.6));
	background: -moz-linear-gradient(top, rgba(102,102,102,0.7), rgba(50,50,50,0.6));
	background: -o-linear-gradient(top, rgba(102,102,102,0.7), rgba(50,50,50,0.6));
	background: -ms-linear-gradient(top, rgba(102,102,102,0.7), rgba(50,50,50,0.6));
	background: linear-gradient(rgba(102,102,102,0.7), rgba(50,50,50,0.6));
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#666666,endColorstr=#323232);
}

.mejs-chapters .mejs-chapter .mejs-chapter-block .ch-title {
	font-size: 12px;
	font-weight: bold;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0 0 3px 0;
	line-height: 12px;
}

.mejs-chapters .mejs-chapter .mejs-chapter-block .ch-timespan {
	font-size: 12px;
	line-height: 12px;
	margin: 3px 0 4px 0;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.mejs-captions-layer {
	position: absolute;
	bottom: 0;
	left: 0;
	text-align:center;
	line-height: 20px;
	font-size: 16px;
	color: #fff;
}

.mejs-captions-layer  a {
	color: #fff;
	text-decoration: underline;
}

.mejs-captions-layer[lang=ar] {
	font-size: 20px;
	font-weight: normal;
}

.mejs-captions-position {
	position: absolute;
	width: 100%;
	bottom: 15px;
	left: 0;
}

.mejs-captions-position-hover {
	bottom: 35px;
}

.mejs-captions-text {
	padding: 3px 5px;
	background: url(../img/background.png);
	background: rgba(20, 20, 20, 0.5);
	white-space: pre-wrap;
}
/* End: Track (Captions and Chapters) */

/* Start: Error */
.me-cannotplay {
}

.me-cannotplay a {
	color: #fff;
	font-weight: bold;
}

.me-cannotplay span {
	padding: 15px;
	display: block;
}
/* End: Error */


/* Start: Loop */
.mejs-controls .mejs-loop-off button {
	background-position: -64px -16px;
}

.mejs-controls .mejs-loop-on button {
	background-position: -64px 0;
}

/* End: Loop */

/* Start: backlight */
.mejs-controls .mejs-backlight-off button {
	background-position: -80px -16px;
}

.mejs-controls .mejs-backlight-on button {
	background-position: -80px 0;
}
/* End: backlight */

/* Start: Picture Controls */
.mejs-controls .mejs-picturecontrols-button {
	background-position: -96px 0;
}
/* End: Picture Controls */


/* context menu */
.mejs-contextmenu {
	position: absolute;
	width: 150px;
	padding: 10px;
	border-radius: 4px;
	top: 0;
	left: 0;
	background: #fff;
	border: solid 1px #999;
	z-index: 1001; /* make sure it shows on fullscreen */
}
.mejs-contextmenu .mejs-contextmenu-separator {
	height: 1px;
	font-size: 0;
	margin: 5px 6px;
	background: #333;
}

.mejs-contextmenu .mejs-contextmenu-item {
	font-family: Helvetica, Arial;
	font-size: 12px;
	padding: 4px 6px;
	cursor: pointer;
	color: #333;
}
.mejs-contextmenu .mejs-contextmenu-item:hover {
	background: #2C7C91;
	color: #fff;
}

/* Start: Source Chooser */
.mejs-controls .mejs-sourcechooser-button {
	position: relative;
}

.mejs-controls .mejs-sourcechooser-button button {
	background-position: -128px 0;
}

.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector {
	visibility: hidden;
	position: absolute;
	bottom: 26px;
	right: -10px;
	width: 130px;
	height: 100px;
	background: url(../img/background.png);
	background: rgba(50,50,50,0.7);
	border: solid 1px transparent;
	padding: 10px;
	overflow: hidden;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul {
	margin: 0;
	padding: 0;
	display: block;
	list-style-type: none !important;
	overflow: hidden;
}

.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li {
	margin: 0 0 6px 0;
	padding: 0;
	list-style-type: none !important;
	display: block;
	color: #fff;
	overflow: hidden;
}

.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li input {
	clear: both;
	float: left;
	margin: 3px 3px 0 5px;
}

.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li label {
	width: 100px;
	float: left;
	padding: 4px 0 0 0;
	line-height: 15px;
	font-size: 10px;
}
/* End: Source Chooser */

/* Start: Postroll */
.mejs-postroll-layer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/background.png);
	background: rgba(50,50,50,0.7);
	z-index: 1000;
	overflow: hidden;
}
.mejs-postroll-layer-content {
	width: 100%;
	height: 100%;
}
.mejs-postroll-close {
	position: absolute;
	right: 0;
	top: 0;
	background: url(../img/background.png);
	background: rgba(50,50,50,0.7);
	color: #fff;
	padding: 4px;
	z-index: 100;
	cursor: pointer;
}
/* End: Postroll */


/* Start: Speed */
div.mejs-speed-button {
	width: 46px !important;
	position: relative;
}

.mejs-controls .mejs-button.mejs-speed-button button {
	background: transparent;
	width: 36px;
	font-size: 11px;
	line-height: normal;
	color: #ffffff;
}

.mejs-controls .mejs-speed-button .mejs-speed-selector {
	visibility: hidden;
	position: absolute;
	top: -100px;
	left: -10px;
	width: 60px;
	height: 100px;
	background: url(../img/background.png);
	background: rgba(50, 50, 50, 0.7);
	border: solid 1px transparent;
	padding: 0;
	overflow: hidden;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.mejs-controls .mejs-speed-button:hover > .mejs-speed-selector {
	visibility: visible;
}

.mejs-controls .mejs-speed-button .mejs-speed-selector ul li label.mejs-speed-selected {
	color: rgba(33, 248, 248, 1);
}

.mejs-controls .mejs-speed-button .mejs-speed-selector ul {
	margin: 0;
	padding: 0;
	display: block;
	list-style-type: none !important;
	overflow: hidden;
}

.mejs-controls .mejs-speed-button .mejs-speed-selector ul li {
	margin: 0 0 6px 0;
	padding: 0 10px;
	list-style-type: none !important;
	display: block;
	color: #fff;
	overflow: hidden;
}

.mejs-controls .mejs-speed-button .mejs-speed-selector ul li input {
	clear: both;
	float: left;
	margin: 3px 3px 0 5px;
	display: none;
}

.mejs-controls .mejs-speed-button .mejs-speed-selector ul li label {
	width: 60px;
	float: left;
	padding: 4px 0 0 0;
	line-height: 15px;
	font-family: helvetica, arial;
	font-size: 11.5px;
	color: white;
	margin-left: 5px;
	cursor: pointer;
}

.mejs-controls .mejs-speed-button .mejs-speed-selector ul li:hover {
	background-color: rgb(200, 200, 200) !important;
	background-color: rgba(255,255,255,.4) !important;
}
/* End: Speed */

/* Start: Skip Back */

.mejs-controls .mejs-button.mejs-skip-back-button {
	background: transparent url(../img/skipback.png) no-repeat;
	background-position: 3px 3px;
}
.mejs-controls .mejs-button.mejs-skip-back-button button {
	background: transparent;
	font-size: 9px;
	line-height: normal;
	color: #ffffff;
}

/* End: Skip Back */


