/*---------------------------------
IMPORTS
-----------------------------------*/
/*@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);*/

@font-face {
    font-family: "HeliosCondRegular";
    src: url("../fonts/HeliosCondRegular/HeliosCondRegular.eot");
    src: url("../fonts/HeliosCondRegular/HeliosCondRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HeliosCondRegular/HeliosCondRegular.woff") format("woff"),
    url("../fonts/HeliosCondRegular/HeliosCondRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HeliosCondItalic"; */
@font-face {
    font-family: "HeliosCondItalic";
    src: url("../fonts/HeliosCondItalic/HeliosCondItalic.eot");
    src: url("../fonts/HeliosCondItalic/HeliosCondItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HeliosCondItalic/HeliosCondItalic.woff") format("woff"),
    url("../fonts/HeliosCondItalic/HeliosCondItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HeliosCondBold"; */
@font-face {
    font-family: "HeliosCondBold";
    src: url("../fonts/HeliosCondBold/HeliosCondBold.eot");
    src: url("../fonts/HeliosCondBold/HeliosCondBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HeliosCondBold/HeliosCondBold.woff") format("woff"),
    url("../fonts/HeliosCondBold/HeliosCondBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HeliosCondBoldItalic"; */
@font-face {
    font-family: "HeliosCondBoldItalic";
    src: url("../fonts/HeliosCondBoldItalic/HeliosCondBoldItalic.eot");
    src: url("../fonts/HeliosCondBoldItalic/HeliosCondBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HeliosCondBoldItalic/HeliosCondBoldItalic.woff") format("woff"),
    url("../fonts/HeliosCondBoldItalic/HeliosCondBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*---------------------------------
OVERRIDES
-----------------------------------*/
a:hover,a:link,a:visited{text-decoration:none; outline:none}
::-moz-selection {background:#9b449e; color:#fff; text-shadow:none}
::selection {background:#9b449e; color:#fff; text-shadow:none}
*{outline: 0}
.nopadding {padding: 0 !important;  margin: 0 !important;}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: HeliosCondRegular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}


/*HEADER*/
#topmenu{
    background: #fff;
    box-shadow: 3px 4px 27px rgba(5,33,124,.13);
    -moz-box-shadow: 3px 4px 27px rgba(5,33,124,.13);
    -webkit-box-shadow: 3px 4px 27px rgba(5,33,124,.13);
}
#topmenulogo,
#topmenulogomob{
    width: 150px;
    margin: 0 auto;
    display: block
}

.headerrighttxt,
.headerlefttxt{
    white-space: nowrap;
    position: absolute;
}
.headerlefttxt{
    top: 35px;
    left: 70px;
}
.headerrighttxt{
    top: 35px;
    right: 70px;
}
.headerrighttxt span,
.headerlefttxt span{
    color:#8f8f8f;
    text-transform: uppercase;
    font-size: 14px;
}
.headerrighttxt span span{
    color: #ff0078;
}
.headercabinet{
    display: inline-block;
    background: url("../img/cabinet.svg");
    width: 27px;
    height: 27px;
}
.menu-right:hover .headercabinet{
    background: url("../img/cabinet-hover.svg");
    width: 27px;
    height: 27px;
}
.topmenudesctop .menu-right:hover .headercabinet{
    background: url("../img/cabinet-hover.svg");
    width: 20px;
    height: 20px;
}

.metismenu .arrow {
    line-height: 1.42857;
}
*[dir="rtl"] .metismenu .arrow {
    float: left;
}


.metismenu li {
    list-style: none;
}
.metismenu .fa.arrow:before {
    /*content: "\f104";*/
    content: "\f107";
}
.metismenu .active .fa.arrow:before {
    /*content: "\f107";*/
    content: "\f106";
}
.metismenu .active .upmenu{
    color: #ff0078;
}
.metismenu .ion.arrow:before {
    content: "\f3d2"
}
.metismenu .active > a > .ion.arrow:before {
    content: "\f3d0";
}
.metismenu .plus-times {
    float: right;
}
*[dir="rtl"] .metismenu .plus-times {
    float: left;
}
.metismenu .fa.plus-times:before {
    content: "\f067";
}
.metismenu .active > a > .fa.plus-times {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.metismenu .plus-minus {
    float: right;
}
*[dir="rtl"] .metismenu .plus-minus {
    float: left;
}
.metismenu .fa.plus-minus:before {
    content: "\f067";
}
.metismenu .active > a > .fa.plus-minus:before {
    content: "\f068";
}
.metismenu .collapse {
    display: none;
    margin: 0 auto;
    padding: 0;
    width: 240px;
    text-indent: 70px;
}

.metismenu .collapse.in {
    display: block;
}
.metismenu .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
}

.push-body #topmenu-sticky-wrapper.is-sticky{
    height: 91px !important;
    max-height: 91px !important;
}
.push-body #topmenu-sticky-wrapper{
    /*height: 221px !important;
    max-height: 221px !important;
    height: 105px !important;
    max-height: 105px !important;*/
}
#topmenu-sticky-wrapper.mobilemenu{
    height: 230px !important;
    max-height: 230px !important;
}#topmenu-sticky-wrapper.mobilemenu{
     height: 105px !important;
     max-height: 105px !important;
}
.push-body #topmenu-sticky-wrapper #topmenulogo{
    height: 110px !important;
}
.push-body #topmenu-sticky-wrapper.is-sticky #topmenulogo{
    height: 80px !important;
}

.topmenudesctop .line1{
    margin-top: 20px;
}


#topmenu-sticky-wrapper .line1{
    /*display: block;*/
    opacity:1;
    height: 20px;
}
#topmenu-sticky-wrapper.is-sticky .line1{
    /*display: none;*/
    margin-top: 0;
    opacity:0;
    height: 0;
    overflow: hidden;
    transition: all .3s ease .15s;

}


.topmenudesctop .line11{
    text-transform: uppercase;
    color: #ff0078;
    /*text-align: center;*/
    margin-left: 40%;
    font-size: 18px;
    height: 30px;
    line-height: 34px;
}
.topmenudesctop .line12{
    color: #222;
    font-size: 18px;
}

#topmenu-sticky-wrapper .topmenudesctop .line2{
    margin-top: 20px;
}
#topmenu-sticky-wrapper.is-sticky .topmenudesctop .line2{
    margin-top: 0;
}


.topmenudesctop .line12:hover{
    color: #ff0078;
}

.topmenudesctop .line21,
.topmenudesctop .line23{
    font-size: 18px;
    display: block;
    color: #222;
    height: 50px;
    margin-top: 30px;
}

.topmenudesctop .line21:hover,
.topmenudesctop .line23:hover{
    color: #ff0078;
}
.topmenudesctop .line21{
    background: url("../img/topdescline21.png") left top no-repeat;
    line-height: 33px;
    padding-left: 30px;
}
.topmenudesctop .line22{
    height: 100px;
}
#topmenu-sticky-wrapper.is-sticky .line22{
    height: 90px;
}
.topmenudesctop .line23{
    text-align: right;
    background: rgba(0, 0, 0, 0) url("../img/topdescline23.png") no-repeat scroll right 2px;
    padding-right: 40px;
    line-height: 20px;
}
.topmenudesctop .line23 span{
    font-size: 16px;
}
.redline{
    height: 2px;
    border-top:2px solid #ff0078;
    width: 100%;
}

.nav {
    margin: 10px 0;
    position: relative;
}
.nav ul,
.nav ul ul{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    color: #222;
}

.nav li {
    line-height: 20px;
    text-align: left;
}

.nav a {
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    font-size: 18px;
    display: block;
}

.nav a:hover{
    color: #ff0078;
    border: none;
}
.nav a.active{
    color: #ff0078;
    border-bottom: 1px solid #ff0078;
}


/*.nav a.active {
    color: #ff0078;
    cursor: default;
}*/

/* Sub Menus */
.nav li li {
    margin-right: -4px;
    display: block;
    margin: 0;
}


.nav li {
    display: inline-block;
    margin: 5px 15px;
}

.nav a {
}

.nav > ul > li {
    text-align: center;
}

.nav > ul > li > a {
    padding-left: 0;
}

/* Sub Menus */
.nav li ul {
    position: absolute;
    display: none;
    /*width: 245px;*/
    width: 100%;
    z-index: 100;
    background: #fff;
    /*margin-left: -10px;*/
    left: 0;
}

.nav li:hover ul {
    display: block;
}

.nav li ul li {
    display: inline-block;
    /*width: 100%;*/
    margin: 10px 32px;
}
.nav li ul li a {
    font-size: 14px;
}


.topmenudesctop,
.topmenumobile{
    display: none;
}


/*FOOTER*/
#mainblockfooter{
    background: #e1e1e1;

}
.namemaps{
    text-transform: uppercase;
    color: #989898;
    font-size: 18px;
    margin: 15px auto;
    display: block;
    text-align: center;
}
.map{
    border-right: 1px solid #C8C8C8;
}
.map iframe{
    width: 80%;
    border: 1px solid #ff0078;
    margin-left: 10%;
}
.lastblock .map{
    border-right: none !important;
}
.maptxt{
    margin-left: 15%;
    color: #222222;
}
.maptxt span{
    font-weight: 600;
}
.redline{
    width: 100%;
    height: 1px;
    border-top: 1px solid #ff0078;
    margin-top: 10px;
}
#topmenu-sticky-wrapper.is-sticky .redline{
    margin-top: 0;
}


.footerlogo{
    display: block;
    width: 50px;
    margin: 5px auto 0;
    text-align: center;
}
.footsoclink {
    background-color: #ababab;
    border-radius: 18px;
    display: inline-block;
    height: 36px;
    margin: 0 10px;
    position: relative;
    transition: all 0.7s ease 0s;
    width: 36px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 36px;
    overflow: hidden;
}
.footsoclink:hover{
    background-color:#ff0078;
    color: #fff;
}
#footsoclinkfb::before{
    content: "\f09a";
}
#footsoclinkin::before{
    content: "\f16d";
}
#footsoclinkyt::before{
    content: "\f16a";
}
#footsoclinkvk::before{
    content: "\f189";
}
.videoname{
    color: #fff;
    text-align: center;
}
.footsocblock, .footercopyright{
    text-align: center;
    margin: 5px 0 10px 0 ;
}



#mobilefooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: none;
    z-index: 200;
}
#mainpanelmob{background: #ff0078;}
#mapmobout{border-left:1px solid #fff }

#addpanelmob{
    background: #fff;
    border-top: 1px solid #ff0078;
    display: none;
}
#addpanelmob ul{
    margin: 0;
    padding: 0;
}
#addpanelmob li{
    list-style: none;
    margin: 0;
    padding: 0;
}
#addpanelmob li a{
    display: block;
    margin: 10px 0;
    color: #3c3c3c;;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc
}
.buttoncall{
    color: #fff;
    display: inline-block;
    font-size: 28px;
    position: relative;
    top: 7px;
    left: -15px;

}
.mobilnk{
    color: #fff;
    width: 110px;
    margin: 0 auto;
    display: block;
    line-height: 50px;
    height: 50px;
    font-size: 18px;
}
.mobilnk:hover{
    color: #fff;
}





#nameblocksubscr{
    left: 2px;
    top: 12px;
    width: 239px;
}
#nameblocksubscr2{
    left: 2px;
    top: 35px;
    width: 180px;
    margin:  0 auto;
    color: #ec008c;
    border-bottom: 1px solid #ec008c;
}

.subscrform{
    /*width:400px;
    margin: 0 auto;*/
    text-align: center;
    opacity: 1;
}

.subscrform h2 {
    color: #0a6fc1;
    font-size:32px ;
    margin: 0.5em 0 0.25em;
}
.photoform{
    max-width:650px;
    margin: 20px auto 0
}
.photoformabout{
    max-width:850px;
    margin: 6em auto 0
}


.textpopup{
    max-width: 800px;
    margin: 50px auto 0;
    height: 400px;
    text-align: left;

}
.textpopupabout{
    max-width: 850px;
    margin: 1.8em auto 0;
    height: 400px;
    text-align: center;
}
.implabel{
    color: #0072bc;
    display: inline-block;
    position: relative;
    line-height: 70px;
    height: 70px;
}
.impnumb{width: 100%}
.subscrform input[type="text"]{
    width:100%;
    height:40px;
    margin: 3px 0;
    background:#fff;
    border: 1px solid #898989;
    font: 300 18px/18px HeliosCondRegular;
    text-align: center;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.subscrform input[type="text"]:focus{
    border: 1px solid #ec008c;
}




.buttonsend,.buttondownload {
    display: block;
    background: none;
    color: #ff0078;
    border: 1px solid #ff0078;
    font: 300 18px/18px HeliosCondRegular;
    text-transform: uppercase;
    height: 45px;
    width: 140px;
    margin: 0 auto;
    /*-webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;*/
}
.buttonsend:hover,
.buttondownload:hover{
    color: #fff;
    background: #ff0078;
}
#errortxtloginform,
#errortxtregform,
#errortxtresform{
    height: 40px;
    text-align: center;
}
#errortxtloginform span,
#errortxtregform span,
#errortxtresform span{
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    color: #ec008c;
}
#errortxtregform span,
#errortxtresform span{
    line-height: 40px;
    /* background: #ec008c;*/
    display: block;
    width: 100%;

}

.warningfreezing .buttonsend{
    font: 300 18px/18px HeliosCondRegular;
    text-transform: uppercase;
    margin: 20px auto;
    background: #ffffff;
    border: 1px solid #b7b7b7;
    color: #616161;
    display: block;
    font-size: 18px;
    transition:none;
    line-height: 40px;
    width: 120px;
}
.warningfreezing .buttonsend:hover{
    background: #ec008c;
    color: #fff;
    border: 1px solid #fff;
}


@media only screen and (max-width: 490px) {
    #main-block2 span{
        margin: 5% 5%;
        font-size: 20px;
    }
    .nametextblockab3biz6 span{
        font-size: 12px;
    }
    .textblock8 span{
        font-size: 20px;
    }
    .textblock8name{
        font-size: 18px;
    }
    .headerrighttxt,
    .headerlefttxt{
        display: none;
    }
    .mySlideshow li .textbanner{
        font-size: 50px;
        width: 200px;
        padding: 40px 5px 0 45px ;
    }
    #main-block2 div {
        font-size: 16px;
        margin: 5% 5%;
    }
    #main-block2 div span{
        font-size: 26px;
        letter-spacing: 10px;
    }
    .abline2 .txtblock {
        font-size: 58px;
    }
    .subscrform h2{
        font-size: 18px;
        text-transform: lowercase;
        margin: 0.10em auto;
    }
    .implabel{
        height: 40px;
        line-height: 40px
    }
}
@media (min-width: 491px) and (max-width: 767px) {
    .headerrighttxt,
    .headerlefttxt{
        display: none;
    }


}
@media (min-width: 768px) and (max-width: 991px) {
    .freetraindate{
        margin: 0 auto;
    }
    .headerrighttxt,
    .headerlefttxt{
        display: none;
    }

}

@media (min-width: 768px) and (max-width: 1199px) {
    #main-block2 span{
        margin: 5% 5%;
        font-size: 22px;
    }
    .blockcounterall{
        margin: 0 auto;
    }
    .nametextblockab3biz6 span{
        font-size: 14px;
    }
    .textblock8 span{
        font-size: 22px;
    }
    .textblock8name{
        font-size: 22px;
    }
}


/*PLUGINS*/
/*menu*/
.sticky-wrapper{
    /*overflow: hidden;*/
}
.menu-left{margin-left: 5px;}
.menu-right{margin-right: 5px;  }
.toggle-menu{  }
.topmenudesctop .toggle-menuheader {
    margin-top: 0;
}
.topmenudesctop .headercabinet{
    width: 20px;
    height: 20px;
}
.toggle-menuheader{
    background:none;
    border: none;
    position: relative;
    text-align: center;
    /*width: 45px;*/
    margin-top: 32px;
    display: block;
}
.toggle-menu i{
    font-size: 24px;
    color: #222;
}
.toggle-menu:hover i {color: #e40079;}
.cbp-spmenu {
    background: #fff;
    opacity: 0.95;
    position: fixed;
    text-transform: uppercase;
    font: 300 14px / 18px HeliosCondRegular;
}



.cbp-spmenu  .iconmenu {
    color: #e40079;
    display: block;
    margin-bottom: 5px;
    font-size: 24px;
}
.iconmenuclose{
    position: absolute;
    color: #888;
    cursor: pointer;
    right: 20px;
    top:20px;
    font-size: 24px;
    opacity: 1

}
.iconmenuclose:hover{
    color: #e40079;
}

.cbp-spmenu-left{
    left: -5px;
}.cbp-spmenu-right{
     right: -5px;
 }



.cbp-spmenu a:active span{
    background: #afdefa;
    color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical {
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1000;
    overflow-y: scroll;
}


.cbp-spmenu-vertical a span{
    display: block;
    text-align: center;
    padding: 1em;
    font: 300 18px/18px HeliosCondRegular;
    color: #222;
    opacity: 1

}
.cbp-spmenu-vertical li ul li a span{
    font: 300 14px/16px HeliosCondRegular;
    padding: 0.3em !important;
    text-align: left;
}

.cbp-spmenu-vertical a:hover span{
    color: #e40079;
    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
}

.cbp-spmenu-vertical a:active span{
    background: #afdefa;
    color: #47a3da;
}

.cbp-spmenu-horizontal {
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 10000;
    overflow: auto;
}

.cbp-spmenu-horizontal h3 {
    height: 100%;
    width: 20%;
    float: left;
}

.cbp-spmenu-horizontal a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */
.cbp-spmenu-left {
    left: -100%;
    /*border-right: 1px solid #07237d;*/

}

.cbp-spmenu-right {
    right: -100%;
    /*border-left: 1px solid #07237d;*/

}
.blockinnermenu{
    position: relative;
    margin-top:10%;
}
.cbp-spmenu-left .blockinnermenu{ padding-left: 0;  }
.cbp-spmenu-top .blockinnermenu{  /*margin-top: -230px;*/ }
.cbp-spmenu-right .blockinnermenu{ /*margin-top: -70px;*/  }

.cbp-spmenu-left.menu-open {
    left: 0;
}

.cbp-spmenu-right.menu-open {
    right: 0;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
    top: -100%;
}

.cbp-spmenu-bottom {
    bottom: -150px;
}

.cbp-spmenu-top.menu-open {
    top: 0px;
}

.cbp-spmenu-bottom.menu-open {
    bottom: 0px;
}

/* Push classes applied to the body */
.push-body {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.push-body-toright {
    left: 300px;
}

.push-body-toleft {
    left: -300px;
}

/* Transitions */
.cbp-spmenu,
.push-body {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/* Example media queries */
@media screen and (max-width: 55.1875em) {
    .cbp-spmenu-horizontal {
        /*font-size: 75%;*/
        height: 100%;
    }

    .cbp-spmenu-top {
        top: -100%;
    }

    .cbp-spmenu-bottom {
        bottom: -110px;
    }
}

@media screen and (max-height: 26.375em) {
    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 100%;
    }

    .cbp-spmenu-left,
    .push-body-toleft {
        left: -100%;
    }

    .cbp-spmenu-right {
        right: -100%;
        /*border-left: 1px solid #07237d;*/
    }

    .push-body-toright {
        left: 100%;
    }
}


.cbp-spmenu-right .subscrform{
    margin: 20px auto;
    width: 280px
}
.cbp-spmenu-right .subscrform .haderblock{
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}
.cbp-spmenu-right .subscrform input[type="text"],
.formregorrec  input[type="text"],
.cbp-spmenu-right .subscrform input[type="tel"],
.formregorrec  input[type="tel"],
.cbp-spmenu-right .subscrform input[type="number"],
.formregorrec  input[type="number"],
.cbp-spmenu-right .subscrform input[type="password"],
.formregorrec  input[type="password"]{
    width:100%;
    height:40px;
    margin: 3px 0;
    background:#fff;
    border: 1px solid #898989;
    font-size: 18px;
    text-align: center;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.formregorrec{
    width: 280px ;
    margin: 20px auto;
}
.subscrform input[type="text"]:focus,
.formregorrec  input[type="text"]:focus{
    border: 1px solid #ec008c;
}
.cbp-spmenu-right .buttonsend{
    font: 300 18px/18px HeliosCondRegular;
    text-transform: uppercase;
    margin: 20px auto;
    background: #ffffff;
    border: 1px solid #b7b7b7;
    color: #616161;
    display: block;
    font-size: 18px;
    transition:none;
}
.cbp-spmenu-right .buttonsend:hover{
    background: #ec008c;
    color: #fff;
    border: 1px solid #fff;
}
#allwarnings{
    display: none;
}
.linkblock a{
    color: #616161;
    display: block;
    text-align: center;
    margin: 10px auto;
}
.linkblock a:hover{
    color: #ec008c;
}
.warningfreezing {
    text-align: center;
}
.warhead{
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
.warningfreezing {
    margin-top: 10%;
    text-align: center;
}
.warline1{
    line-height: 28px;
    font-size: 18px;
    color: #222;
}

.impnumb{width: 320px}
.subscrformaatext{
    font-size: 10px;
}

/*

.bigformformsmname label {
    display: inline;
}

.subscrform .bigformformsmname .regular-checkbox {
    display: none;
    left: 10px;
    position: relative;
    top: 11px;
}

.regular-checkbox + label {
    background-color: #fff;
    border: 1px solid #adacad;
    padding: 9px;
    display: inline-block;
    position: relative;
}
.bigformformsmname .regular-checkbox + label:active, .bigformformsmname .regular-checkbox:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.bigformformsmname .regular-checkbox:checked + label {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}

.bigformformsmname .regular-checkbox:checked + label:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: -4px;
    left: 3px;
    color: #99a1a7;
}
*/

.regular-checkbox {
    display: none;
}

.regular-checkbox + label {
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}

.regular-checkbox:checked + label:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #99a1a7;
}





    /*CARUSEL*/
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 39px;
    height: 57px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev
{
    background: url(../img/gallery-left.jpg);
    left: -30px;
}
[dir='rtl'] .slick-prev
{
    right: -30px;
    left: auto;
}
.slick-prev:before
{
    /*content: '←';*/
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    background: url(../img/gallery-right.jpg);
    right: -30px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    /*content: '→';*/
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}









.sss {
    height: 0;
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    overflow: hidden;
}

.ssslide {
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    overflow: hidden;
}

.ssslide img {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
}

.sssnext, .sssprev {
    width: 25px;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    /*background: url('images/arr.png') no-repeat;*/
}

.sssprev {
    left: 3%;
    background-position: 0 50%;
}

.sssnext {
    right: 3%;
    background-position: -26px 50%;
}

.sssprev:hover, .sssnext:hover {
    cursor: pointer;
}



/*---slide show skin---*/
.edslider{
    position:relative;
    margin:auto;
}
.edslider ul{
    list-style:none;
    position:relative;
    padding:0;
    margin:0;
}
.edslider > ul{
    background:#fff;
    display:block;
    overflow:hidden;
}
.edslider > ul li{
    display:none;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:0;
}

.edslider a{
    display:block;
}
.edslider a img{
    border:0;
}
.edslider .current{
    z-index:1 !important;
}
/*---controls---*/
.edslider .controls{
    top: 0;
    height: 0;
    position:absolute;
    width: 100%;
    z-index:2;
}
.edslider .controls .navigator{
    background: rgba(0,0,0,.0);
    background-image:url(../img/sprite-navigator.png);
    cursor:pointer;
    display:block;
    width:50px;
    height:70px;
    position: absolute;
    overflow: hidden;
    top: 225px;
    transition: background .2s;
}
.edslider .controls .next{
    background-position:0 3px;
    right: 0;
}
.edslider .controls .prev{
    background-position:0 -70px;
    left: 0;
}
.edslider .controls .next:hover,
.edslider .controls .prev:hover{
    background-color: rgba(0,0,0,.3);
}
.edslider .controls .paginator{
    position: relative;
    text-align: center;
    top: 470px;
}
.edslider .controls .paginator li{
    border-radius: 8px;
    border: 3px solid #fff;
    box-sizing: border-box;
    display:inline-block;
    height:16px;
    width:16px;
    margin:0 3px;
    cursor:pointer;
    transition: background .2s;
}
.edslider .controls .paginator li.current,
.edslider .controls .paginator li:hover,
.edslider .progress{
    background:#fff;
}
.edslider .progress{
    position: absolute;
    top: 0;
    height:3px;
    z-index:2;
}




/* RangeSlider */
.irs {
    position: relative; display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.irs-line {
    position: relative; display: block;
    overflow: hidden;
    outline: none !important;
}
.irs-line-left, .irs-line-mid, .irs-line-right {
    position: absolute; display: block;
    top: 0;
}
.irs-line-left {
    left: 0; width: 11%;
}
.irs-line-mid {
    left: 9%; width: 82%;
}
.irs-line-right {
    right: 0; width: 11%;
}

.irs-bar {
    position: absolute; display: block;
    left: 0; width: 0;
}
.irs-bar-edge {
    position: absolute; display: block;
    top: 0; left: 0;
}

.irs-shadow {
    position: absolute; display: none;
    left: 0; width: 0;
}

.irs-slider {
    position: absolute; display: block;
    cursor: default;
    z-index: 1;
}
.irs-slider.single {

}
.irs-slider.from {

}
.irs-slider.to {

}
.irs-slider.type_last {
    z-index: 2;
}

.irs-min {
    position: absolute; display: block;
    left: 0;
    cursor: default;
}
.irs-max {
    position: absolute; display: block;
    right: 0;
    cursor: default;
}

.irs-from, .irs-to, .irs-single {
    position: absolute; display: block;
    top: 0; left: 0;
    cursor: default;
    white-space: nowrap;
}

.irs-grid {
    position: absolute; display: none;
    bottom: 0; left: 0;
    width: 100%; height: 20px;
}
.irs-with-grid .irs-grid {
    display: block;
}
.irs-grid-pol {
    position: absolute;
    top: 0; left: 0;
    width: 1px; height: 8px;
    background: #000;
}
.irs-grid-pol.small {
    height: 4px;
}
.irs-grid-text {
    position: absolute;
    bottom: 0; left: 0;
    white-space: nowrap;
    text-align: center;
    font-size: 9px; line-height: 9px;
    padding: 0 3px;
    color: #000;
}

.irs-disable-mask {
    position: absolute; display: block;
    top: 0; left: -1%;
    width: 102%; height: 100%;
    cursor: default;
    background: rgba(0,0,0,0.0);
    z-index: 2;
}
.lt-ie9 .irs-disable-mask {
    background: #000;
    filter: alpha(opacity=0);
    cursor: not-allowed;
}

.irs-disabled {
    opacity: 0.4;
}


.irs-hidden-input {
    position: absolute !important;
    display: block !important;
    top: 0 !important;
    left: 0 !important;
    width: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    outline: none !important;
    z-index: -9999 !important;
    background: none !important;
    border-style: solid !important;
    border-color: transparent !important;
}


/* Skin details */

.irs {
    height: 55px;
}
.irs-with-grid {
    height: 75px;
}
.irs-line {
    height: 10px; top: 33px;
    background: #EEE;
    background: -webkit-linear-gradient(top, #DDD -50%, #FFF 150%);
    background: linear-gradient(to bottom, #DDD -50%, #FFF 150%); /* W3C */
    border: 1px solid #CCC;
    border-radius: 16px;
    -moz-border-radius: 16px;
}
.irs-line-left {
    height: 8px;
}
.irs-line-mid {
    height: 8px;
}
.irs-line-right {
    height: 8px;
}

.irs-bar {
    height: 10px; top: 33px;
    border-top: 1px solid #428bca;
    border-bottom: 1px solid #428bca;
    background: #428bca;
    background: -webkit-linear-gradient(bottom, rgba(66,139,202,1) 0%, rgba(127,195,232,1) 100%);
    background: linear-gradient(to top, rgba(66,139,202,1) 0%,rgba(127,195,232,1) 100%); /* W3C */
}
.irs-bar-edge {
    height: 10px; top: 33px;
    width: 14px;
    border: 1px solid #428bca;
    border-right: 0;
    background: #428bca;
    background: -webkit-linear-gradient(bottom, rgba(66,139,202,1) 0%, rgba(127,195,232,1) 100%);
    background: linear-gradient(to top, rgba(66,139,202,1) 0%,rgba(127,195,232,1) 100%); /* W3C */
    border-radius: 16px 0 0 16px;
    -moz-border-radius: 16px 0 0 16px;
}

.irs-shadow {
    height: 2px; top: 38px;
    background: #000;
    opacity: 0.3;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.lt-ie9 .irs-shadow {
    filter: alpha(opacity=30);
}

.irs-slider {
    top: 25px;
    width: 27px; height: 27px;
    border: 1px solid #AAA;
    background: #DDD;
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(220,220,220,1) 20%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(220,220,220,1) 20%,rgba(255,255,255,1) 100%); /* W3C */
    border-radius: 27px;
    -moz-border-radius: 27px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    cursor: pointer;
    
}

.irs-slider.state_hover, .irs-slider:hover {
    background: #FFF;
}

.irs-min, .irs-max {
    color: #333;
    font-size: 12px; line-height: 1.333;
    text-shadow: none;
    top: 0;
    padding: 1px 5px;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
    -moz-border-radius: 3px;
}

.lt-ie9 .irs-min, .lt-ie9 .irs-max {
    background: #ccc;
}

.irs-from, .irs-to, .irs-single {
    color: #fff;
    font-size: 14px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: #428bca;
    border-radius: 3px;
    -moz-border-radius: 3px;
}
.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
    background: #999;
}

.irs-grid {
    height: 27px;
}
.irs-grid-pol {
    opacity: 0.5;
    background: #428bca;
}
.irs-grid-pol.small {
    background: #999;
}

.irs-grid-text {
    bottom: 5px;
    color: #99a4ac;
}

.irs-disabled {}



/*HTML  CSS code by PotapovD (potapov.dima@gmail.com)*/