
/*FEEDBACK*/
.feedbackblock{
    background: #fff;
    border: 3px solid #ff0078;
    min-height: 400px;
    margin: 15px 0;
    position: relative;
}
.feedbackblockinner{
    position: relative;
}
.nameblock{ overflow: hidden}
.feedbackphoto{
    width: 35%;
    float: left;
    padding: 5%;
    text-align: center;
    text-transform: uppercase;
    color: #ff0078;
}
.feedbackphoto img {
    border: 3px solid #ff0078;
    margin: 0 auto 10px;

}
.feedbackname{
    color: #ff0078;
    font-size: 19px;
    line-height: 24px;
    text-transform: uppercase;
    float: left;
    width: 65%;
    margin-top:37px;
    white-space: nowrap;
}
.feedbackname span{
    color: #ff0078;
    font-size: 18px;
    line-height: 24px;
    text-transform: lowercase;
}
.feedbacktxt {
    padding: 0 5%;
}
.feedbacktxt p{
    color: #222;
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
}
.feedbackvideo{
    display: block;
}
.feedbackvideo img{
    padding: 5px;
    margin: 0 auto;
}



.blockvideo{
    margin: 20px auto 150px auto;
}

.videonamestr h1{
    color:#ff0078;
    text-align: center;
    text-transform: uppercase;
}
.dateandcat{ text-align: center}
.dateandcat span{
    display: inline-block;
    color: #8f8f8f;
    font-size: 14px;
}
.dateandcat .date{
    border-right: 1px solid #555;
    padding-right: 5px;
}
.dateandcat .categ{
    padding-left: 3px;
}
.buttback a{
    color: #8f8f8f;
    display: block;
    font-size: 18px;
    line-height: 72px;
    text-transform: lowercase;

}
.buttback a:hover{
    color: #ff0078;
}



.dynamic-wrap {
    -webkit-transition: max-height 0.25s ease-in-out;
    -moz-transition: max-height 0.25s ease-in-out;
    transition: max-height 0.25s ease-in-out;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.height-active .dynamic-wrap:before {
    content: '';
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 0;
    height: 30px;
    background: -moz-linear-gradient(top, rgba(240,249,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(240,249,255,0)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(240,249,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(240,249,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(240,249,255,0) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(240,249,255,0) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f0f9ff', endColorstr='#ffffff', GradientType=0 );
    z-index: 1;
}

.dynamic-max-height.height-active .dynamic-show-more { display: inline-block; }

.dynamic-max-height .dynamic-show-more {
    display: none;
    margin-top: 0;
    text-align: center;
    font-size: 48px;
    line-height: 25px;
    color: deeppink;
    width: 100%;
    height: 48px;
}
/*
.dynamic-wrap {
    -webkit-transition: max-height 0.25s ease-in-out;
    -moz-transition: max-height 0.25s ease-in-out;
    transition: max-height 0.25s ease-in-out;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.height-active .dynamic-wrap:before {
    content: '';
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 0;
    height: 30px;
    background: -moz-linear-gradient(top, rgba(240,249,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(240,249,255,0)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(240,249,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(240,249,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(240,249,255,0) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(240,249,255,0) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f0f9ff', endColorstr='#ffffff', GradientType=0 );
    z-index: 1;
}
.dynamic-max-height.height-active .dynamic-show-more { display: inline-block; }

.dynamic-max-height .dynamic-show-more {
    display: none;
    margin-top: 20px;
}*/







.mejs-offscreen{
    /* Accessibility: hide screen reader texts (and prefer "top" for RTL languages).  Reference: http://blog.rrwd.nl/2015/04/04/the-screen-reader-text-class-why-and-how/ */
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 - no likey commas */
    clip: rect(1px, 1px, 1px, 1px); /* IE8-IE11 - we likey commas, no support for clip-path */
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.mejs-container {
    position: relative;
    background: #000;
    text-align: left;
    vertical-align: top;
    text-indent: 0;
}

.mejs-fill-container,.mejs-fill-container .mejs-container{
    width: 100%;
    height: 100%;
}

.mejs-fill-container{
    overflow: hidden;
}

.mejs-container:focus {
    outline: none;
}

.me-plugin {
    position: absolute;
}

.mejs-embed, .mejs-embed body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden;
}

.mejs-fullscreen {
    /* set it to not show scroll bars so 100% will work */
    overflow: hidden !important;
}

.mejs-container-fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1000;
}
.mejs-container-fullscreen .mejs-mediaelement,
.mejs-container-fullscreen video {
    width: 100%;
    height: 100%;
}

.mejs-clear {
    clear: both;
}

/* Start: LAYERS */
.mejs-background {
    position: absolute;
    top: 0;
    left: 0;
}

.mejs-mediaelement {
    width: 100%;
    height: 100%;
}

.mejs-poster {
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain ;
    background-position: 50% 50% ;
    background-repeat: no-repeat ;
}
:root .mejs-poster img {
    display: none ;
}

.mejs-poster img {
    border: 0;
    padding: 0;
}

.mejs-overlay {
    position: absolute;
    top: 0;
    left: 0;
}

.mejs-overlay-play {
    cursor: pointer;
}

.mejs-overlay-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    background: url("../img/bigplay.svg") no-repeat;
}

.no-svg .mejs-overlay-button {
    background-image: url("../img/bigplay.png");
}

.mejs-overlay:hover .mejs-overlay-button {
    background-position: 0 -100px ;
}

.mejs-overlay-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    background: #333;
    background: url("../img/background.png");
    background: rgba(0, 0, 0, 0.9);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(50,50,50,0.9)), to(rgba(0,0,0,0.9)));
    background: -webkit-linear-gradient(top, rgba(50,50,50,0.9), rgba(0,0,0,0.9));
    background: -moz-linear-gradient(top, rgba(50,50,50,0.9), rgba(0,0,0,0.9));
    background: -o-linear-gradient(top, rgba(50,50,50,0.9), rgba(0,0,0,0.9));
    background: -ms-linear-gradient(top, rgba(50,50,50,0.9), rgba(0,0,0,0.9));
    background: linear-gradient(rgba(50,50,50,0.9), rgba(0,0,0,0.9));
}

.mejs-overlay-loading span {
    display: block;
    width: 80px;
    height: 80px;
    background: transparent url("../img/loading.gif") 50% 50% no-repeat;
}

/* End: LAYERS */

/* Start: CONTROL BAR */
.mejs-container .mejs-controls {
    position: relative;
    list-style-type: none;
    padding: 0;
    left: 0;
    /*background: rgba(0, 0, 0, 0) linear-gradient(rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7)) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0.7);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(50,50,50,0.7)), to(rgba(0,0,0,0.7)));
    background: -webkit-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));
    background: -moz-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));
    background: -o-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));
    background: -ms-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));
    background: linear-gradient(rgba(50,50,50,0.7), rgba(0,0,0,0.7));*/
    background: #fff;
    height: 30px;
    width: 100%;
    margin-top: -5px;
    -moz-border-top-left-radius: 0px;
    -moz-border-top-right-radius: 0px;
    -moz-border-bottom-right-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color=#c5c5c5)";/*IE 8*/
    -moz-box-shadow: 0px 3px 3px #c5c5c5;/*FF 3.5+*/
    -webkit-box-shadow: 0px 3px 3px #c5c5c5;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0px 3px 3px #c5c5c5;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color=#c5c5c5); /*IE 5.5-7*/


}
.mejs-container .mejs-controls  div {
    list-style-type: none;
    background-image: none;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 26px;
    height: 30px;
    font-size: 11px;
    line-height: 11px;
    border: 0;
}
.mejs-pause{
/*Firefox*/
    -moz-border-top-left-radius: 0px;
    -moz-border-top-right-radius: 0px;
    -moz-border-bottom-right-radius: 0px;
    -moz-border-bottom-left-radius: 3px;
/*Safari, Chrome*/
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 3px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 3px;
}
.mejs-fullscreen-button{
    /*Firefox*/
    -moz-border-top-left-radius: 0px;
    -moz-border-top-right-radius: 0px;
    -moz-border-bottom-right-radius: 3px;
    -moz-border-bottom-left-radius: 0px;
    /*Safari, Chrome*/
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0px;
}
.mejs-pause:hover,
.mejs-play:hover,
.mejs-button.mejs-mute:hover,
.mejs-button.mejs-unmute:hover,
.mejs-fullscreen-button:hover{
    background: #00aeef;
}
.mejs-container .mejs-controls .mejs-pause:hover button {
    background-position: 0 -48px;
}
.mejs-container .mejs-controls .mejs-play:hover button {
    background-position: 0 -32px;
}
.mejs-container .mejs-controls .mejs-mute:hover button {
    background-position: -16px -48px;
}
.mejs-container .mejs-controls .mejs-unmute:hover button {
    background-position: -16px -32px;
}
.mejs-container .mejs-controls .mejs-fullscreen-button:hover button {
    background-position: -32px -48px;
}
.mejs-container .mejs-controls .mejs-play:hover button {
    background-position: -32px -32px;
}


.mejs-controls .mejs-button button {
    cursor: pointer;
    display: block;
    font-size: 0;
    line-height: 0;
    text-decoration: none;
    margin: 7px 5px;
    padding: 0;
    position: absolute;
    height: 16px;
    width: 16px;
    border: 0;
    background: transparent url("../img/controls.svg") no-repeat;
}

.no-svg .mejs-controls .mejs-button button {
    background-image: url("../img/controls.png");
}

/* :focus for accessibility */
.mejs-controls .mejs-button button:focus {
    outline: dotted 1px #999;
}

/* End: CONTROL BAR */

/* Start: Time (Current / Duration) */
.mejs-container .mejs-controls .mejs-time {
    color: #fff;
    display: block;
    height: 17px;
    width: auto;
    padding: 10px 3px 0 3px ;
    overflow: hidden;
    text-align: center;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.mejs-container .mejs-controls .mejs-time a {
    color: #fff;
    font-size: 11px;
    line-height: 12px;
    display: block;
    float: left;
    margin: 1px 2px 0 0;
    width: auto;
}
/* End: Time (Current / Duration) */

/* Start: Play/Pause/Stop */
.mejs-controls .mejs-play button {
    background-position: 0 0;
}

.mejs-controls .mejs-pause button {
    background-position: 0 -16px;
}

.mejs-controls .mejs-stop button {
    background-position: -112px 0;
}
/* Start: Play/Pause/Stop */

/* Start: Progress Bar */
.mejs-controls div.mejs-time-rail {
    direction: ltr;
    width: 200px;
    padding-top: 7px;
}

.mejs-controls .mejs-time-rail span, .mejs-controls .mejs-time-rail a {
    display: block;
    position: absolute;
    width: 180px;
    height: 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}

.mejs-controls .mejs-time-rail .mejs-time-total {
    margin: 5px;
    background: #555;
    /*background: rgba(50,50,50,0.8);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(30,30,30,0.8)), to(rgba(60,60,60,0.8)));
    background: -webkit-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8));
    background: -moz-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8));
    background: -o-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8));
    background: -ms-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8));
    background: linear-gradient(rgba(30,30,30,0.8), rgba(60,60,60,0.8));*/
}

.mejs-controls .mejs-time-rail .mejs-time-buffering {
    width: 100%;
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    -webkit-background-size: 15px 15px;
    -moz-background-size: 15px 15px;
    -o-background-size: 15px 15px;
    background-size: 15px 15px;
    -webkit-animation: buffering-stripes 2s linear infinite;
    -moz-animation: buffering-stripes 2s linear infinite;
    -ms-animation: buffering-stripes 2s linear infinite;
    -o-animation: buffering-stripes 2s linear infinite;
    animation: buffering-stripes 2s linear infinite;
}

@-webkit-keyframes buffering-stripes { from {background-position: 0 0;} to {background-position: 30px 0;} }
@-moz-keyframes buffering-stripes { from {background-position: 0 0;} to {background-position: 30px 0;} }
@-ms-keyframes buffering-stripes { from {background-position: 0 0;} to {background-position: 30px 0;} }
@-o-keyframes buffering-stripes { from {background-position: 0 0;} to {background-position: 30px 0;} }
@keyframes buffering-stripes { from {background-position: 0 0;} to {background-position: 30px 0;} }

.mejs-controls .mejs-time-rail .mejs-time-loaded {
    /*background: #3caac8;
    background: rgba(60,170,200,0.8);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(44,124,145,0.8)), to(rgba(78,183,212,0.8)));
    background: -webkit-linear-gradient(top, rgba(44,124,145,0.8), rgba(78,183,212,0.8));
    background: -moz-linear-gradient(top, rgba(44,124,145,0.8), rgba(78,183,212,0.8));
    background: -o-linear-gradient(top, rgba(44,124,145,0.8), rgba(78,183,212,0.8));
    background: -ms-linear-gradient(top, rgba(44,124,145,0.8), rgba(78,183,212,0.8));
    background: linear-gradient(rgba(44,124,145,0.8), rgba(78,183,212,0.8));*/
    background: #555;
    width: 0;
}

.mejs-controls .mejs-time-rail .mejs-time-current {
    background: #ec008c;
    /*background: rgba(255,255,255,0.8);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.9)), to(rgba(200,200,200,0.8)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
    background: -moz-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
    background: -o-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
    background: -ms-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
    background: linear-gradient(rgba(255,255,255,0.9), rgba(200,200,200,0.8));*/
    width: 0;
}

.mejs-controls .mejs-time-rail .mejs-time-handle {
    display: none;
    position: absolute;
    margin: 0;
    width: 10px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: solid 2px #333;
    top: -2px;
    text-align: center;
}

.mejs-controls .mejs-time-rail .mejs-time-float {
    position: absolute;
    display: none;
    background: #eee;
    width: 36px;
    height: 17px;
    border: solid 1px #333;
    top: -26px;
    margin-left: -18px;
    text-align: center;
    color: #111;
}

.mejs-controls .mejs-time-rail .mejs-time-float-current {
    margin: 2px;
    width: 30px;
    display: block;
    text-align: center;
    left: 0;
}

.mejs-controls .mejs-time-rail .mejs-time-float-corner {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    line-height: 0;
    border: solid 5px #eee;
    border-color: #eee transparent transparent transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    top: 15px;
    left: 13px;
}

.mejs-long-video .mejs-controls .mejs-time-rail .mejs-time-float {
    width: 48px;
}

.mejs-long-video .mejs-controls .mejs-time-rail .mejs-time-float-current {
    width: 44px;
}

.mejs-long-video .mejs-controls .mejs-time-rail .mejs-time-float-corner {
    left: 18px;
}

/*
.mejs-controls .mejs-time-rail:hover .mejs-time-handle {
	visibility:visible;
}
*/
/* End: Progress Bar */

/* Start: Fullscreen */
.mejs-controls .mejs-fullscreen-button button {
    background-position: -32px 0;
}

.mejs-controls .mejs-unfullscreen button {
    background-position: -32px -16px;
}
/* End: Fullscreen */


/* Start: Mute/Volume */
.mejs-controls .mejs-volume-button {
}

.mejs-controls .mejs-mute button {
    background-position: -16px -16px;
}

.mejs-controls .mejs-unmute button {
    background-position: -16px 0;
}

.mejs-controls .mejs-volume-button {
    position: relative;
}

.mejs-controls .mejs-volume-button .mejs-volume-slider {
    display: none;
    height: 115px;
    width: 25px;
    background: url("../img/background.png");
    background: rgba(50, 50, 50, 0.7);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    top: -115px;
    left: 0;
    z-index: 1;
    position: absolute;
    margin: 0;
}

.mejs-controls .mejs-volume-button:hover {
   /* -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;*/
}

/*
.mejs-controls .mejs-volume-button:hover .mejs-volume-slider {
	display: block;
}
*/

.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-total {
    position: absolute;
    left: 11px;
    top: 8px;
    width: 2px;
    height: 100px;
    background: #ddd;
    background: rgba(255, 255, 255, 0.5);
    margin: 0;
}

.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current {
    position: absolute;
    left: 11px;
    top: 8px;
    width: 2px;
    height: 100px;
    background: #ddd;
    background: rgba(255, 255, 255, 0.9);
    margin: 0;
}

.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-handle {
    position: absolute;
    left: 4px;
    top: -3px;
    width: 16px;
    height: 6px;
    background: #ddd;
    background: rgba(255, 255, 255, 0.9);
    cursor: N-resize;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    margin: 0;
}

/* horizontal version */
.mejs-controls a.mejs-horizontal-volume-slider {
    height: 26px;
    width: 56px;
    position: relative;
    display: block;
    float: left;
    vertical-align: middle;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    position: absolute;
    left: 0;
    top: 11px;
    width: 50px;
    height: 5px;
    margin: 0;
    padding: 0;
    font-size: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #333;
    /*background: rgba(50,50,50,0.8);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(30,30,30,0.8)), to(rgba(60,60,60,0.8)));
    background: -webkit-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8));
    background: -moz-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8));
    background: -o-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8));
    background: -ms-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8));
    background: linear-gradient(rgba(30,30,30,0.8), rgba(60,60,60,0.8));*/
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    position: absolute;
    left: 0;
    top: 11px;
    width: 50px;
    height: 5px;
    margin: 0;
    padding: 0;
    font-size: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    /*background: #fff;
    background: rgba(255,255,255,0.8);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.9)), to(rgba(200,200,200,0.8)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
    background: -moz-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
    background: -o-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
    background: -ms-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
    background: linear-gradient(rgba(255,255,255,0.9), rgba(200,200,200,0.8));*/
    background: #ec008c;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle {
    display: none;
}

/* End: Mute/Volume */

/* Start: Track (Captions and Chapters) */
.mejs-controls .mejs-captions-button {
    position: relative;
}

.mejs-controls .mejs-captions-button button {
    background-position: -48px 0;
}
.mejs-controls .mejs-captions-button .mejs-captions-selector {
    visibility: hidden;
    position: absolute;
    bottom: 26px;
    right: -51px;
    width: 85px;
    height: 100px;
    background: url("../img/background.png");
    background: rgba(50,50,50,0.7);
    border: solid 1px transparent;
    padding: 10px 10px 0 10px;
    overflow: hidden;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.mejs-controls .mejs-captions-button:hover  .mejs-captions-selector {
    visibility: visible;
}

.mejs-controls .mejs-captions-button .mejs-captions-selector ul {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none !important;
    overflow: hidden;
}

.mejs-controls .mejs-captions-button .mejs-captions-selector ul li {
    margin: 0 0 6px 0;
    padding: 0;
    list-style-type: none !important;
    display: block;
    color: #fff;
    overflow: hidden;
}

.mejs-controls .mejs-captions-button .mejs-captions-selector ul li input {
    clear: both;
    float: left;
    margin: 3px 3px 0 5px;
}

.mejs-controls .mejs-captions-button .mejs-captions-selector ul li label {
    width: 55px;
    float: left;
    padding: 4px 0 0 0;
    line-height: 15px;
    font-family: "Helvetica", Arial, serif;
    font-size: 10px;
}

.mejs-controls .mejs-captions-button .mejs-captions-translations {
    font-size: 10px;
    margin: 0 0 5px 0;
}

.mejs-chapters {
    position: absolute;
    top: 0;
    left: 0;
    border-right: solid 1px #fff;
    width: 10000px;
    z-index: 1;
}

.mejs-chapters .mejs-chapter {
    position: absolute;
    float: left;
    background: #222;
    background: rgba(0, 0, 0, 0.7);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(50,50,50,0.7)), to(rgba(0,0,0,0.7)));
    background: -webkit-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));
    background: -moz-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));
    background: -o-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));
    background: -ms-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));
    background: linear-gradient(rgba(50,50,50,0.7), rgba(0,0,0,0.7));
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#323232,endColorstr=#000000);
    overflow: hidden;
    border: 0;
}

.mejs-chapters .mejs-chapter .mejs-chapter-block {
    font-size: 11px;
    color: #fff;
    padding: 5px;
    display: block;
    border-right: solid 1px #333;
    border-bottom: solid 1px #333;
    cursor: pointer;
}

.mejs-chapters .mejs-chapter .mejs-chapter-block-last {
    border-right: none;
}

.mejs-chapters .mejs-chapter .mejs-chapter-block:hover {
    background: #666;
    background: rgba(102,102,102, 0.7);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(102,102,102,0.7)), to(rgba(50,50,50,0.6)));
    background: -webkit-linear-gradient(top, rgba(102,102,102,0.7), rgba(50,50,50,0.6));
    background: -moz-linear-gradient(top, rgba(102,102,102,0.7), rgba(50,50,50,0.6));
    background: -o-linear-gradient(top, rgba(102,102,102,0.7), rgba(50,50,50,0.6));
    background: -ms-linear-gradient(top, rgba(102,102,102,0.7), rgba(50,50,50,0.6));
    background: linear-gradient(rgba(102,102,102,0.7), rgba(50,50,50,0.6));
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#666666,endColorstr=#323232);
}

.mejs-chapters .mejs-chapter .mejs-chapter-block .ch-title {
    font-size: 12px;
    font-weight: bold;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 0 3px 0;
    line-height: 12px;
}

.mejs-chapters .mejs-chapter .mejs-chapter-block .ch-timespan {
    font-size: 12px;
    line-height: 12px;
    margin: 3px 0 4px 0;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mejs-captions-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align:center;
    line-height: 20px;
    font-size: 16px;
    color: #fff;
}

.mejs-captions-layer  a {
    color: #fff;
    text-decoration: underline;
}

.mejs-captions-layer[lang=ar] {
    font-size: 20px;
    font-weight: normal;
}

.mejs-captions-position {
    position: absolute;
    width: 100%;
    bottom: 15px;
    left: 0;
}

.mejs-captions-position-hover {
    bottom: 35px;
}

.mejs-captions-text {
    padding: 3px 5px;
    background: url("../img/background.png");
    background: rgba(20, 20, 20, 0.5);
    white-space: pre-wrap;
}
/* End: Track (Captions and Chapters) */

/* Start: Error */
.me-cannotplay {
}

.me-cannotplay a {
    color: #fff;
    font-weight: bold;
}

.me-cannotplay span {
    padding: 15px;
    display: block;
}
/* End: Error */


/* Start: Loop */
.mejs-controls .mejs-loop-off button {
    background-position: -64px -16px;
}

.mejs-controls .mejs-loop-on button {
    background-position: -64px 0;
}

/* End: Loop */

/* Start: backlight */
.mejs-controls .mejs-backlight-off button {
    background-position: -80px -16px;
}

.mejs-controls .mejs-backlight-on button {
    background-position: -80px 0;
}
/* End: backlight */

/* Start: Picture Controls */
.mejs-controls .mejs-picturecontrols-button {
    background-position: -96px 0;
}
/* End: Picture Controls */


/* context menu */
.mejs-contextmenu {
    position: absolute;
    width: 150px;
    padding: 10px;
    border-radius: 4px;
    top: 0;
    left: 0;
    background: #fff;
    border: solid 1px #999;
    z-index: 1001; /* make sure it shows on fullscreen */
}
.mejs-contextmenu .mejs-contextmenu-separator {
    height: 1px;
    font-size: 0;
    margin: 5px 6px;
    background: #333;
}

.mejs-contextmenu .mejs-contextmenu-item {
    font-family: "Helvetica", Arial, serif;
    font-size: 12px;
    padding: 4px 6px;
    cursor: pointer;
    color: #333;
}
.mejs-contextmenu .mejs-contextmenu-item:hover {
    background: #2C7C91;
    color: #fff;
}

/* Start: Source Chooser */
.mejs-controls .mejs-sourcechooser-button {
    position: relative;
}

.mejs-controls .mejs-sourcechooser-button button {
    background-position: -128px 0;
}

.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector {
    visibility: hidden;
    position: absolute;
    bottom: 26px;
    right: -10px;
    width: 130px;
    height: 100px;
    background: url("../img/background.png");
    background: rgba(50,50,50,0.7);
    border: solid 1px transparent;
    padding: 10px;
    overflow: hidden;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none !important;
    overflow: hidden;
}

.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li {
    margin: 0 0 6px 0;
    padding: 0;
    list-style-type: none !important;
    display: block;
    color: #fff;
    overflow: hidden;
}

.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li input {
    clear: both;
    float: left;
    margin: 3px 3px 0 5px;
}

.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li label {
    width: 100px;
    float: left;
    padding: 4px 0 0 0;
    line-height: 15px;
    font-size: 10px;
}
/* End: Source Chooser */

/* Start: Postroll */
.mejs-postroll-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/background.png");
    background: rgba(50,50,50,0.7);
    z-index: 1000;
    overflow: hidden;
}
.mejs-postroll-layer-content {
    width: 100%;
    height: 100%;
}
.mejs-postroll-close {
    position: absolute;
    right: 0;
    top: 0;
    background: url("../img/background.png");
    background: rgba(50,50,50,0.7);
    color: #fff;
    padding: 4px;
    z-index: 100;
    cursor: pointer;
}
/* End: Postroll */


/* Start: Speed */
div.mejs-speed-button {
    width: 46px !important;
    position: relative;
}

.mejs-controls .mejs-button.mejs-speed-button button {
    background: transparent;
    width: 36px;
    font-size: 11px;
    line-height: normal;
    color: #ffffff;
}

.mejs-controls .mejs-speed-button .mejs-speed-selector {
    display: none;
    position: absolute;
    top: -100px;
    left: -10px;
    width: 60px;
    height: 100px;
    background: url("../img/background.png");
    background: rgba(50, 50, 50, 0.7);
    border: solid 1px transparent;
    padding: 0;
    overflow: hidden;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}


.mejs-controls .mejs-speed-button:hover > .mejs-speed-selector {
    display: block;
}

.mejs-controls .mejs-speed-button .mejs-speed-selector ul li label.mejs-speed-selected {
    color: rgba(33, 248, 248, 1);
}

.mejs-controls .mejs-speed-button .mejs-speed-selector ul {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none !important;
    overflow: hidden;
}

.mejs-controls .mejs-speed-button .mejs-speed-selector ul li {
    margin: 0 0 6px 0;
    padding: 0 10px;
    list-style-type: none !important;
    display: block;
    color: #fff;
    overflow: hidden;
}

.mejs-controls .mejs-speed-button .mejs-speed-selector ul li input {
    clear: both;
    float: left;
    margin: 3px 3px 0 5px;
    display: none;
}

.mejs-controls .mejs-speed-button .mejs-speed-selector ul li label {
    width: 60px;
    float: left;
    padding: 4px 0 0 0;
    line-height: 15px;
    font-family: "Helvetica", Arial, serif;
    font-size: 11px;
    color: white;
    margin-left: 5px;
    cursor: pointer;
}

.mejs-controls .mejs-speed-button .mejs-speed-selector ul li:hover {
    background-color: rgb(200, 200, 200) !important;
    background-color: rgba(255,255,255,.4) !important;
}
/* End: Speed */

/* Start: Jump Forward */

.mejs-controls .mejs-button.mejs-jump-forward-button {
    background: transparent url("../img/jumpforward.png") no-repeat 3px 3px;
}
.mejs-controls .mejs-button.mejs-jump-forward-button button {
    background: transparent;
    font-size: 9px;
    line-height: normal;
    color: #ffffff;
}

/* End: Jump Forward */

/* Start: Skip Back */

.mejs-controls .mejs-button.mejs-skip-back-button {
    background: transparent url("../img/skipback.png") no-repeat 3px 3px;
}
.mejs-controls .mejs-button.mejs-skip-back-button button {
    background: transparent;
    font-size: 9px;
    line-height: normal;
    color: #ffffff;
}

/* End: Skip Back */






/*HTML  CSS code by PotapovD (potapov.dima@gmail.com)*/