

/*PROGRAMMS*/


.sliderimg{
    position: absolute;
}
.sliderlogo{
    position: relative;
    top: 100px;
}
.rspline2 .rsptextline,
.rspline6 .rsptextline,
.rspline8 .rsptextline,
.rspline10 .rsptextline,
.rspline12 .rsptextline,
.fpline3 .rsptextline,
.spline3 .rsptextline,
.ppline3 .rsptextline,
.proline3 .rsptextline,
.stline3 .rsptextline,
.ecline3 .ectextline{
    color: #ff0078;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    line-height: 52px;
    display: block;
}
.fpline2{width: 100%}
.fpline2 .rsptextline div,
.fpline5 .rsptextline div{
    margin-top: 20px;
    margin-bottom: 20px;
}
.fpline3 .rsptextline{
    color: #626262;
}
.spline3 .rsptextline{
    color: #742a8f;
}
.ppline3 .rsptextline{
    color: #2c3088;
}
.proline3 .rsptextline{
    color: #6e4499;
}
.stline3 .rsptextline{
    color: #eaac19;
}
.ecline4 .rsptextline0 .colr{
    color: #e41f2a;
}

.rspline2 .rsptextline span{
    font-size: 24px;
    font-weight: 900;
    line-height: 18px;
    display: block;
    font-family: "HeliosCondBold";
}
.rspline3,
.fpline9{
    margin: 20px 0;
}
.rspline3 .butt,
.rspline14 .butt,
.fpline9 .butt,
.fpline11 .butt,
.spline9 .butt,
.spline11 .butt,
.ppline9 .butt,
.ppline11 .butt,
.proline9 .butt,
.proline11 .butt,
.stline9 .butt,
.stline11 .butt{
    background: #fff;
    max-width: 300px;
    height: 80px;
    /*line-height: 78px;*/
    color: #ff0078;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #ff0078;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;

}
.butout{
    display: table;
}

.fpline9 .butt,
.fpline11 .butt{
    border: 1px solid #0b7abf ;
    color: #0b7abf;
}
.spline9 .butt,
.spline11 .butt{
    border: 2px solid #742a8f ;
    color: #742a8f;
}
.ppline9 .butt,
.ppline11 .butt{
    border: 1px solid #2c3088 ;
    color: #2c3088;
}
.proline9 .butt,
.proline11 .butt{
    border: 1px solid #742a8f ;
    color: #742a8f;
}
.stline9 .butt,
.stline11 .butt{
    border: 1px solid #eaac19 ;
    color: #eaac19;
}

.rspline3 .butt:hover,
.rspline14 .butt:hover{
    background: #ff0078;
    color: #fff;
}
.spline9 .butt:hover,
.spline11 .butt:hover{
    background: #742a8f;
    color: #fff;
}
.fpline9 .butt:hover,
.fpline11 .butt:hover{
    background: #0b7abf;
    color: #fff;
}

.ppline9 .butt:hover,
.ppline11 .butt:hover{
    background: #2c3088;
    color: #fff;
}
.proline9 .butt:hover,
.proline11 .butt:hover{
    background: #742a8f;
    color: #fff;
}
.stline9 .butt:hover,
.stline11 .butt:hover{
    background: #eaac19;
    color: #fff;
}


/*.fpline9 .butt:hover,
.fpline11 .butt:hover{
    background: #0B7ABF;
    color: #fff;
}*/
.rspline4{
    height: 240px;
    background: url("../img/rsp1-bg.jpg") center repeat-x;
    position: relative;
    top: -20px;
}
.fpline4{
    background: url("../img/fp1-bg.jpg") center repeat-x;
    height: 306px;
    position: relative;
}
.spline4{
    background: url("../img/sp1-bg.jpg") center bottom repeat-x;
    min-height: 350px;
    position: relative;
}
.ppline4{
    background: url("../img/pp1-bg.jpg") center bottom repeat-x;
    min-height:250px;
    position: relative;
}
.proline4{
    background: url("../img/pro1-bg.jpg") center bottom repeat-x;
    min-height:330px;
    position: relative;
}
.stline4{
    background: url("../img/st1-bg.jpg") center bottom repeat-x;
    min-height: 261px;
    position: relative;
}
.ecline4{
    background: url("../img/ec1-bg.jpg") center bottom repeat-x;
    min-height: 361px;
    position: relative;
}
.spline4 .txtblock{
    color:#742a8f;
    font-size: 16px;
    margin: 10px 0;
    padding: 10px 0;
}
.spline4 .txtblock1,
.spline4 .txtblock2 {
    text-align: left;
}
.spline4 .txtblock3{
    text-align: center;
}
.spline4 .txtblock4,
.spline4 .txtblock5 {
    text-align: right;
}
.spline4 .txtblock1,
.spline4 .txtblock4{
    border-bottom: 2px solid #742a8f;
}
.rspline4 .rsptextline,
.fpline4 .rsptextline,
.spline4 .rsptextline,
.ppline4 .rsptextline,
.proline4 .rsptextline,
.stline4 .rsptextline,
.ecline4 .rsptextline{
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    bottom:0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

}
.fpline4 .rsptextline{
    /*top:110px;
    background: #0B7ABF;*/
}
.spline4 .rsptextline{
   /* top:110px;*/
}
.ppline4 .rsptextline{
    /*top:65px;*/
}
.fpline4 .rsptextline0,
.fpline4 .rsptextline0,
.stline4 .rsptextline0,
.proline4 .rsptextline0,
.ecline4 .rsptextline0{
    width: 240px;
    position: relative;
    left: 50%;
    margin-top:40px;
}

.ppline4 .rsptextline0{
    /*width: 240px;*/
    position: relative;
}
.pptextlinel0,
.pptextliner0{
    height: 185px;
    padding-top: 30px;
}
 .pptextlinel0{
     background: url("../img/pp2-bg.png") left top no-repeat;
 }
.pptextliner0{
    background: url("../img/pp3-bg.png") left top no-repeat;
 }
.fpline4 .coll,
.fpline4 .colr{
    color: #0b7abf;
}
.ppline4 .coll,
.ppline4 .colr,
.ecline4 .colr,
.ecline4 .coll{
    color: #2c3088;
}
.proline4 .colr{
    color: #742a8f;
}
.stline4 .coll,
.stline4 .colr{
    color: #eaac19;
}
.fpline4 .coll,
.ppline4 .coll,
.stline4 .coll,
.ecline4 .coll{
    text-align: center;
    font-size: 102px;
    font-family: "HeliosCondBold";
    line-height: 102px;
}
.fpline4 .colr,
.ppline4 .colr,
.proline4 .colr,
.stline4 .colr,
.ecline4 .colr{
    padding-top: 20px;
    font-size: 22px;
    line-height: 22px;
    margin-left: 10px;
}
.stline4 .colr{
    font-size: 18px;
}
.rspline5{
    margin: 20px 0;
}
.rspline5 .rsptextline,
.fpline2 .rsptextline,
.fpline5 .rsptextline {
    font-size: 18px;
}
.rspline6 .rsptextline{
    margin: 60px 0;
}
.rspline8 .rsptextline,
.rspline10 .rsptextline{
    margin: 10px 0;
}
.fpline6 img,
.fpline8 img{
    margin:20px 0 ;
}
.fpline6 .imgblock,
.fpline8 .imgblock,
.rspline7 .imgblock,
.rspline7 .imgblock,
.ecline7 .imgblock{
    position: relative;
}
.fpline6 .imgblocktxt,
.fpline8 .imgblocktxt,
.rspline7 .imgblocktxt,
.rspline7 .imgblocktxt,
.spline6 .imgblocktxt,
.spline8 .imgblocktxt,
.ppline6 .imgblocktxt,
.ppline8 .imgblocktxt,
.proline6 .imgblocktxt,
.proline8 .imgblocktxt,
.stline6 .imgblocktxt,
.stline8 .imgblocktxt,
.ecline7 .imgblocktxt{
    position: absolute;
    top: 40%;
    width: 50%;
    display:block;
    font-family: "HeliosCondBold";
    font-size: 24px;
    line-height: 20px;
}
.ppline6 .imgblocktxt,
.ppline8 .imgblocktxt,
.spline6 .imgblocktxt,
.spline8 .imgblocktxt,
.fpline6 .imgblocktxt,
.fpline8 .imgblocktxt,
.proline6 .imgblocktxt,
.proline8 .imgblocktxt{
    width: 32%;
}
.fpline6 .imgblocktxt,
.fpline8 .imgblocktxt,
.rspline7 .imgblocktxt,
.rspline7 .imgblocktxt{
    color: #626262;
}
.spline6 .imgblocktxt,
.spline8 .imgblocktxt{
    color: #742a8f;
}
.stline6 .imgblocktxt,
.stline8 .imgblocktxt{
    color: #eaac19;
}
.ppline6 .imgblocktxt,
.ppline8 .imgblocktxt{
    color: #2c3088;
}
.proline6 .imgblocktxt,
.proline8 .imgblocktxt{
    color: #6e4499;
}
.ecline7 .imgblocktxt,
.ecline8 .imgblocktxt{
    color: #e41f2a;
}
.ecline7{margin-top: 40px}
.fpline6 .imgblockr .imgblocktxt,
.fpline6 .imgblockl .imgblocktxt,
.fpline8 .imgblockr .imgblocktxt,
.fpline8 .imgblockl .imgblocktxt,
.spline6 .imgblockr .imgblocktxt,
.spline6 .imgblockl .imgblocktxt,
.stline6 .imgblockl .imgblocktxt{
    width: 30%;
}

.imgblockс .imgblocktxt{
    left: 20%;
    bottom: 3%;
    text-align: center;
    top:auto;
}
.imgblockl .imgblocktxt{
    left: 3%;
}
.imgblockr .imgblocktxt{
    right: 3%;
}
.rspline7 .imgblocktxt{
    /*top: 30%;
    left: 40%;*/
}
.rspline7 .imgblockl .imgblocktxt{
    top: 30%;
    left: 50%;
}
.ecline7 .imgblockl .imgblocktxt{
    top: 10%;
    left: 30%;
}
.rspline7 .imgblockr .imgblocktxt{
    top: 30%;
    right: 50%;
    text-align: right;
}
.ecline7 .imgblockr .imgblocktxt{
    top: 30%;
    right: 30%;
    text-align: right;
}



.fpline7 .line,
.spline7 .line{
    height: 2px;
    border-bottom: 2px solid #acacac;
}
.rspline8,
.rspline12,
.rspline14{
    margin-top: 60px;
}
.rspline9 .rsptextline{
    text-align: center;
}
/*.freetraindate {
    border: 3px solid #ff0078;
    margin: 20px auto;
    width: 60px;
    display: inline-block;
}
.freetraindateday {
    font-family: "HeliosCondBold";
    font-size: 54px;
    line-height: 50px;
    text-align: center;
    color: #ff0078;
}*/
.rspline10,
.rspline14,
.fpline11,
.spline11,
.ppline11,
.proline11,
.stline11{
    margin-bottom: 60px;
}
.rspline11 img,
.fpline10 img{
    margin:10px auto;
}
.rspline13 div{
    text-align: center;
}
.rspline13 img{
    margin:10px auto;
}

.rspline13 .rsptextliner,
.rspline13 .rsptextlinel {
    color: #ff0078;
    font-size: 24px;
    text-transform: uppercase;
    font-family: "HeliosCondBold";
    font-size: 24px;
    line-height: 180px;
}
.rspline13 .rsptextliner span,
.rspline13 .rsptextlinel span{
    font-size: 120px;
}
.rspline13 .rsptextlinel{
    text-align: center;
}
.rspline13 .rsptextliner{
    text-align: center;
}
.buttline{
    height: 2px;
    background: #acacac;
    margin-top: 39px;
}
.incremental-counter .num {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #ff0078;
    display: inline-block;
    height: 64px;
    line-height: 62px;
    margin: 0 4.5px;
    position: relative;
    text-align: center;
    top: -1px;
    width: 40px;
    font-size: 32px;
    font-size: 3.72625em;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.45);
}

.incremental-counter .num::before {
    background: #ff0078;
    content: "";
    display: block;
    height: 1px;
    left: -1px;
    margin: -0.5px 0 0;
    position: absolute;
    right: -1px;
    top: 50%;
    width: auto;
}



/*FOOTER*/
#mainblockfooter{
    background: #e1e1e1;
}
.namemaps{
    text-transform: uppercase;
    color: #989898;
    font-size: 18px;
    margin: 15px auto;
    display: block;
    text-align: center;
}
.map{
    border-right: 1px solid #C8C8C8;
}
.map iframe{
    width: 80%;
    border: 1px solid #ff0078;
    margin-left: 10%;
}
.lastblock .map{
    border-right: none !important;
}
.maptxt{
    margin-left: 15%;
    color: #222222;
}

.footerlogo{
    display: block;
    width: 50px;
    margin: 0 auto;
    text-align: center;
}
.footsoclink {
    background-color: #ababab;
    border-radius: 20px;
    display: inline-block;
    height: 40px;
    margin: 0 10px;
    position: relative;
    transition: all 0.7s ease 0s;
    width: 40px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    overflow: hidden;
}
.footsoclink:hover{
    background-color:#ff0078;
    color: #fff;
}
#footsoclinkfb::before{
    content: "\f09a";
}
#footsoclinkin::before{
    content: "\f16d";
}
#footsoclinkyt::before{
    content: "\f16a";
}
#footsoclinkvk::before{
    content: "\f189";
}
.videoname{
    color: #fff;
    text-align: center;
}
.footsocblock, .footercopyright{
    text-align: center;
}



@media (min-width: 300px) and (max-width: 490px) {
    .headerrighttxt,
    .headerlefttxt{
        display: none;
    }
    .feedbackname{
        font-size: 22px;
        margin-top: 10px;
    }
    .rspline2 .rsptextline,
    .rspline6 .rsptextline,
    .rspline8 .rsptextline,
    .rspline10 .rsptextline,
    .rspline12 .rsptextline,
    .fpline3 .rsptextline,
    .spline3 .rsptextline{
        font-size: 36px;
        line-height: 40px;
    }
    .rspline3 .butt,
    .rspline2 .rsptextline,
    .rspline14 .butt,
    .spline4 .rsptextline,
    .ecline4 .rsptextline{
        font-size: 18px;
    }
    .ecline4 .rsptextline0,
    .fpline4 .rsptextline0{
        margin-left: -60px;
    }
    .rspline4 .rsptextline{
        font-size: 28px;
    }
    .fpline4 .rsptextline{
        font-size: 18px;
        bottom: 10px;
    }
    .spline4{
        min-height: 580px;
    }
    .spline4 .txtblock{
        border: none;
        text-align: center;
    }
    .fpline6 .imgblocktxt,
    .fpline8 .imgblocktxt{
        font-size: 19px;
        line-height: 16px;
    }
    .rspline9 .freetraindateday{
        font-size: 38px;
    }
    .rspline9 .freetraindate {
        width: 50px;
    }
    .stline4 .coll{
        font-size: 82px;
    }
    .stline4 .rsptextline0{
        left: 35%;
    }
    .stline4 .rsptextline{
        font-size: 30px;
    }
    .stline6 .imgblocktxt,
    .stline8 .imgblocktxt{
        top: 30%;
    }
    .proline3 .rsptextline{
        font-size: 36px;
        line-height: 48px;
    }
    .proline4 .rsptextline0 {
        left: 33%;
    }
    .proline4 .colr{
        font-size: 18px;
    }
    .proline4 .rsptextline{
        font-size: 22px;
    }
    .proline6 .imgblocktxt,
    .proline8 .imgblocktxt{
        width: 42%;
    }
    .ppline4{
        min-height:500px;
    }
    .ppline4 .rsptextline {
        font-size: 28px;
    }
    .spline6 .imgblocktxt, .spline8 .imgblocktxt{
        top:30%
    }
    .ecline7 .imgblock{
        min-height: 200px;
    }
    .ecline7 .imgblockr .imgblocktxt,
    .ecline7 .imgblockl .imgblocktxt{
        top:0 !important;
    }
    .ecline7 .imgblockl .imgblocktxt{
        left: 40%;
    }
    .ecline7 .imgblockr .imgblocktxt{
        right: 40%;
    }

}
@media (min-width: 491px) and (max-width: 767px) {
    .headerrighttxt,
    .headerlefttxt{
        display: none;
    }
    .feedbackphoto img{
        max-width: 100px;
    }
    .fpline4 .rsptextline{
        font-size: 26px;
        bottom: 10px;
    }
    .spline4 .rsptextline{
        font-size: 18px;
        top:160px
    }
    .spline4{
        min-height: 500px;
    }
    .spline4 .txtblock{
        border: none;
        text-align: center;
    }


}
@media (min-width: 768px) and (max-width: 990px) {
    .headerrighttxt,
    .headerlefttxt{
        display: none;
    }
    .feedbackname{
        font-size: 22px;
        margin-top: 10px;
    }
    .spline4 .rsptextline{
        top:90px
    }
    .rspline3 .butt,
    .rspline14 .butt,
    .fpline9 .butt,
    .fpline11 .butt,
    .spline9 .butt,
    .spline11 .butt,
    .ppline9 .butt,
    .ppline11 .butt{
        font-size: 18px;
    }

}


/*PLUGIN*/
/*lightbox*/
/* line 1, ../sass/simplelightbox.scss */
body.hidden-scroll {
    overflow: hidden;
}

/* line 4, ../sass/simplelightbox.scss */
.sl-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    opacity: 0.7;
    display: none;
    z-index: 1006;
}

/* line 15, ../sass/simplelightbox.scss */
.sl-wrapper {
    z-index: 1000;
}
/* line 17, ../sass/simplelightbox.scss */
.sl-wrapper button {
    border: 0 none;
    background: transparent;
    font-size: 24px;
    padding: 0;
    cursor: pointer;
}
/* line 23, ../sass/simplelightbox.scss */
.sl-wrapper button:hover {
    opacity: 0.7;
}
/* line 28, ../sass/simplelightbox.scss */
.sl-wrapper .sl-close {
    display: none;
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 1015;
}
/* line 36, ../sass/simplelightbox.scss */
.sl-wrapper .sl-counter {
    display: none;
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 1015;
}
/* line 44, ../sass/simplelightbox.scss */
.sl-wrapper .sl-navigation {
    width: 100%;
    display: none;
}
/* line 47, ../sass/simplelightbox.scss */
.sl-wrapper .sl-navigation button {
    position: fixed;
    top: 50%;
    margin-top: -10px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
    z-index: 1015;
    font-family: arial sans-serif;
}
/* line 58, ../sass/simplelightbox.scss */
.sl-wrapper .sl-navigation button.sl-next {
    right: 40px;
}
/* line 62, ../sass/simplelightbox.scss */
.sl-wrapper .sl-navigation button.sl-prev {
    left: 40px;
}
/* line 68, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image {
    position: fixed;
    -ms-touch-action: none;
    touch-action: none;
    z-index: 10000;
}
/* line 73, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image img {
    margin: 0;
    padding: 0;
    display: block;
}
/* line 78, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image iframe {
    border: 0 none;
    background: #000;
}
/* line 82, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image .sl-caption {
    display: none;
    padding: 10px;
    color: #fff;
    background: #000;
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
/* line 93, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image .sl-caption.pos-top {
    bottom: auto;
    top: 0;
}
/* line 98, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image .sl-caption.pos-outside {
    bottom: auto;
}
/* line 103, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image .sl-download {
    display: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #fff;
    z-index: 1005;
}

/* line 114, ../sass/simplelightbox.scss */
.sl-spinner {
    display: none;
    border: 5px solid #333;
    border-radius: 40px;
    height: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    opacity: 0;
    position: fixed;
    top: 50%;
    width: 40px;
    z-index: 1007;
    -webkit-animation: pulsate 1s ease-out infinite;
    -moz-animation: pulsate 1s ease-out infinite;
    -ms-animation: pulsate 1s ease-out infinite;
    -o-animation: pulsate 1s ease-out infinite;
    animation: pulsate 1s ease-out infinite;
}

/* line 133, ../sass/simplelightbox.scss */
.sl-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

@-webkit-keyframes pulsate {
    0% {
        transform: scale(0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}
@keyframes pulsate {
    0% {
        transform: scale(0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}
@-moz-keyframes pulsate {
    0% {
        transform: scale(0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}
@-o-keyframes pulsate {
    0% {
        transform: scale(0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}
@-ms-keyframes pulsate {
    0% {
        transform: scale(0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}







/*HTML  CSS code by PotapovD (potapov.dima@gmail.com)*/